[2018-08-13 16:28] kevinoliver commented on #697
@samschlegel any more info here? We've never seen this behavior.

[2018-08-13 16:29] kevinoliver commented on #702
@zhangandyhui hopefully the examples helped.

[2018-08-13 16:29] #702 closed

[2018-08-13 16:30] kevinoliver commented on #696
An update — we are working on moving to 4.1.28. Don't want to jinx it, but the early tests are looking good.

[2018-08-13 16:36] kevinoliver commented on #438
This [got fixed](https://github.com/twitter/finagle/commit/598acc5416798d37e4c796ab115cbda9a34fb787) a little while back. See [this unit test](https://github.com/twitter/finagle/blob/develop/finagle-mysql/src/test/scala/com/twitter/finagle/mysql/integration/TypeTest.scala#L253-L260) for an example.

[2018-08-13 16:36] #438 closed

[2018-08-14 06:58] jdreyesp commented on #700
Hi!

No, I found it only in the location you mention.

Indeed, that avoid the ChannelStatsHandler one (thanks :)), but there's two more, netty related:

[code]

I don't want to get rid of `com.twitter.finagle` nor `DefaultChannelPipeline` since I see them important to log in other cases. But I don't want to get my log overflooded by HTTP calls.

[2018-08-15 22:14] kevinoliver commented on #700
Yeah, I see. And I think your more general point stands — we probably should not be logging at warning level for bad user input.

[2018-08-16 07:28] jdreyesp commented on #700
Fair enough.

Please let me know what is your final decision on this in next Finagle version!

Thanks for the support!

[2018-08-16 15:39] kevinoliver commented on #700
Fwiw, I think we're like some help to fix this as it isn't an issue right now for us. Any chance you'd be interested in starting to work on it? I'm sure we can find you help if you get the ball rolling with a PR.

[2018-08-17 18:09] smlance commented on #712
Thanks @komsit37. We're working on a fix for this.

[2018-08-17 20:42] mosesn commented on #701
@Prahathess-Rengasamy-ck sorry for the long silence, I've been hacking on this for a while, I think it's pretty close to being ready.  I would expect it to land in the next two weeks (I'm on vacation next week).

[2018-08-21 18:36] smlance commented on #712
This should be resolved as of https://github.com/twitter/finagle/commit/c404078f4d2ae1dbbbe5799a2aa554fd216b09dd.

[2018-08-21 18:36] #712 closed

[2018-08-23 13:06] coduinix opened #716 "Missing dtab information in NoBrokersAvailableException"
The message of the `NoBrokersAvailableException` always shows an empty `Dtab.base` and `Dtab.local` even if they are set.

### Expected behavior

The message of the `NoBrokersAvailableException` should display the actual `Dtab.base` and `Dtab.local` being used.

### Actual behavior

Exception message always shows both the Dtab.base and Dtab.local as empty. This causes confusion specifically in cas

[2018-08-23 23:46] kevinoliver commented on #716
Nice find.

Looks to me like [LoadBalancerFactory](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/loadbalancer/LoadBalancerFactory.scala#L257) is not using the right constructor for `NoBrokersAvailableException`.

That said, even if we capture the right value at construction time, those values could change after that.

My inclination is to evolve `N

[2018-08-24 12:07] hussain21j commented on #704
Did any one solve this problem ?

[2018-08-24 16:35] kevinoliver commented on #716
It'd be a bigger API change. A compromise might be to add a new constructor to `NoBrokersAvailableException` where `baseDtab` and `localDtab` are Function1's.

[code]

[2018-08-24 17:31] coduinix commented on #716
The suggested compromise makes sense I think. I'll prepare a PR

[2018-08-24 20:58] smlance commented on #360
The integration tests have a Pants target as of https://github.com/twitter/finagle/commit/0f96f6ca3b6d0ad7dba4233af43b80a9abe19ce3 but they don't yet run in Travis.

[2018-08-24 21:32] smlance commented on #704
Hi @hussain21j. I took another look at this recently and the reason the pubsub integration tests work is that the servers they spin up don't require authentication. I think the test @shakhovv posted fails because a new service is created when the client tries to send the subscribe command, and this service has not yet authenticated. The call graph I'm looking at is in SubscribeClient: subscribe ca

[2018-08-24 22:36] smlance commented on #704
I have a proof of concept for a patch. We can authenticate before we send the subscribe command in SubscribeDispatcher.apply and handle the case of receiving a StatusReply (authentication successful) in SubscriptionManager.onMessage. The fix isn't this simple because it requires some extra machinery that will store the password provided on the first Auth command and pass it to SubscribeDispatcher.

[2018-08-27 17:30] smlance commented on #573
I'm unable to reproduce this with Finagle 18.8.0 and MySQL 8.0.12. @iwag Are you still seeing this issue?

[2018-08-27 17:35] smlance commented on #573
Sorry, wasn't passing the max connections flag. I see this error locally.

[2018-08-27 17:54] smlance commented on #704
The problem with the above approach is that it requires storing and passing around the password. Here are some other ideas:

1. Allow a password to be passed to the Subscribe command. This isn't ideal since it's not how vanilla redis clients interact with the server, but I think it would suffice as a workaround.
2. Look into why the Subscribe command creates a new service and check if we can get a

[2018-08-29 07:28] adriancole opened #719 "implement "b3 single" header format"
Let's support at least reading "b3" header from a single string, most commonly traceid-spanid-1
It would also be nice to support optionally writing this, especially in message providers or others with constrained environments.

### Expected behavior

As discussed on openzipkin/b3-propagation#21 and first implemented here: https://github.com/openzipkin/brave/blob/master/brave/src/main/java/brave/pr

[2018-08-29 11:37] gpevnev opened #720 "Netty3 version"
The latest public version of Netty 3.x.x is 3.10.6.Final, can Finagle handle working with latest version or netty 3 version is not latest for some purpose?

### Expected behavior

when pulling up *com.twitter:finagle-http* it comes with latest netty 3 version

### Actual behavior

when pulling up *com.twitter:finagle-http* and it's transitive dependencies

- *com.twitter:finagle-http-cookie*
- *co

[2018-08-29 11:50] gpevnev commented on #720
https://mvnrepository.com/artifact/io.netty/netty/3.10.6.Final

[2018-08-29 18:48] smlance commented on #554
I think this is because the client doesn't have the CLIENT_MULTI_RESULTS flag. Looking into whether we can add it to the client's list of base capability flags.

[2018-08-29 19:15] mosesn commented on #701
Just landed, sorry for the delay @Prahathess-Rengasamy-ck https://github.com/twitter/finagle/commit/9b9523d0982869496dd8f4bfaba28afc855a2498

[2018-08-29 19:15] #701 closed

[2018-08-29 21:21] red1ynx opened #721 "ClientNackFilter leads to "Too many headers" error"
`ClientNackFilter` appends "finagle-http-retryable-request:" header every time for failed requests which leads to "Too many headers" error on server-side.

### Expected behavior

The server below should accept all incoming requests. "finagle-http-retryable-request:" should appear in header only once.

### Actual behavior
The number of "finagle-http-retryable-request:" headers increases over time.

[2018-08-29 21:56] mosesn commented on #721
eek, good catch.  I think the bug is that https://github.com/twitter/finagle/blob/develop/finagle-http/src/main/scala/com/twitter/finagle/http/filter/ClientNackFilter.scala#L34 should set `set` instead of `add`.  Do you want to tackle it?  If you're busy, we can grab it.

[2018-08-30 05:56] adriancole commented on #719
@stevesoundcloud @kristofa @dgarson @lawrencefinn @chemicL @crispywalrus @teodor-pripoae @oskarblom @LarryFinn @umichyiwan sorry for the spam, but are any of you interested in this, or helping with it? If so, Moses can help with stewarding here and I can answer any questions etc.

[2018-08-30 05:58] adriancole commented on #719
ps this is related https://github.com/linkerd/linkerd/issues/2114

[2018-08-30 10:26] gpevnev commented on #720
Thanks a lot for answer, will take into account!

[2018-08-30 10:27] #720 closed

[2018-08-30 18:34] crispywalrus commented on #719
I've started a PR https://github.com/crispywalrus/finagle/pull/1 to address this ...

[2018-09-06 19:04] smlance commented on #573
This should be resolved as of https://github.com/twitter/finagle/commit/89484ecc216b94ac1dcdfadc16d9f179ccf3c345.

[2018-09-06 19:04] #573 closed

[2018-09-08 00:55] iwag commented on #573
@smlance Great work! Thanks

[2018-09-10 20:56] bryce-anderson commented on #721
I wrote this bug so I can put up a patch. Thanks for reporting it @red1ynx.

[2018-09-11 14:52] bryce-anderson commented on #721
This should be fixed by commit b49a29790293bb157e943a3c783c7d34062bfabe. Thanks for the bug report @red1ynx!

[2018-09-11 14:52] #721 closed

[2018-09-14 02:16] #716 closed

[2018-09-18 03:55] spockz commented on #700
In addition to making this an info or lower message also consider suppressing the stack trace. It has no added value in this message.

[2018-09-18 04:03] spockz commented on #696
Shading netty in Finagle would be beneficial because it allows Finagle to stay on a specific netty version and have the rest of the application use another version of netty.

[2018-09-18 06:35] cacoco commented on #696
@spockz Finagle originally bled many Netty types through its API and we are still paying the price for that. We are not quite done fully removing Netty types from all Finagle APIs. But that is the eventual goal which would allow for shading. Thanks.

[2018-09-28 01:09] ryanoneill commented on #700
I had a branch which addressed this specific exception a few months back, but decided against shipping it at the time, as I wasn't sure that where I was dealing with the exception was appropriate in all cases. I'll probably take another stab at this as time allows. At the very least we should be able to suppress the stack trace, as @spockz suggests.

[2018-09-29 02:08] lhwlhw90 opened #732 "could provide a binary version"
due to network problems It's hard to download package during compile,so could provide a binary version like hadoop or spark?

[2018-09-29 02:12] #732 closed

[2018-10-03 17:38] corhere opened #733 "finagle-example: Scala ThriftClient exits without printing response"
### Expected behavior

The Scala `ThriftClient` example prints "Received response: hi" when run.

### Actual behavior

The `ThriftClient` example exits without printing anything.

### Steps to reproduce the behavior

[code]

It appears that `ThriftClient` is missing an `Await` call, so the process exits before the response is handled.

[2018-10-03 21:27] ryanoneill commented on #733
Thanks for the report @corhere. Would you be interested in sending a pull request to fix this?

[2018-10-12 23:59] dadjeibaah opened #735 "Suspected balancer leak in finagle"
When an empty address set is used in a client's LoadBalancer, the Balancer instance for that instance is set to "Closed", however, when a new Balancer is added due to the Address set being updated, the previous Balancer's instance is set to "Closed" and is never unregistered from the BalancerRegistry.

### Expected behavior
"Closed" balancers should be evicted from the `BalancerRegistery` after so

[2018-10-13 00:07] adleong commented on #735
I suspect the leak might be here: https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/loadbalancer/TrafficDistributor.scala#L285

It looks like when a new Distributor replaces the previous one, the previous one isn't closed.

[2018-10-15 20:19] kevinoliver commented on #735
Thanks for the report and great repro @dadjeibaah

@adleong I think the issue is that we are managing state (`newBalancer`) in 2 places. A few lines above where you pointed and also in `partition`. I think we want it to only be handled in `partition`.

I'll take a crack a fix.

[2018-10-15 20:43] edio commented on #538
@mosesn, I looked into the code, and seems that technically the change is as simple as removing `*Aggregator` handlers from the netty pipeline.

I wrote a simple finagle server with the modified pipeline and it was able to stream 2GiB payload with only 64MiB heap.

So now I'm wondering, what may be the reason of including Aggregators to the pipeline in the first place (of course, I'm not talking a

[2018-10-16 00:34] dadjeibaah commented on #735
@kevinoliver, I made a first attempt at fixing the bug. Not sure if it's the totally right way to do it but from my understanding, it looks like the `partition` method needs to handle situations where the `endpoints` activity is updated with an empty set. The code I have on my branch moves the `newBalancer` method into `partition` and creates a `CachedBalancer` with weight 0 (Not sure if that even

[2018-10-16 17:58] kevinoliver commented on #735
@dadjeibaah yeah its more complicated than i'd thought and hoped...

[2018-10-17 18:34] dziemba opened #738 "Upgrade netty to 4.1.29+ to fix high epoll memory usage"
Since finagle has enabled native epoll in netty, non-heap memory usage has gone up significantly in our apps.

This has been fixed in netty 4.1.29
My local tests with epoll enabled and netty bumped to 4.1.29 confirmed this.

Original issue: https://github.com/netty/netty/issues/8159
Fix: https://github.com/netty/netty/pull/8160

### Expected behavior

Memory usage stays the same.

### Actual behav

[2018-10-17 18:36] dziemba commented on #738
If you haven't planned this already and don't have capacity for it, I'm also happy to try this myself and create a PR. We would love to see this in the next finagle release if possible.

[2018-10-17 23:51] bryce-anderson commented on #735
@dadjeibaah, your patch looks pretty solid to me. Do you want to put it up as a PR?

[2018-10-18 16:39] dziemba commented on #738
Awesome! that works for us too

[2018-10-18 17:12] dadjeibaah commented on #735
@bryce-anderson I can add a PR for review. I just need to work on it a little more to fix some tests that are failing.

[2018-10-18 23:34] adleong opened #739 "HTTP client adds Content-Length header to response"
When the HTTP client receives a 204 response with no content-length header, it appears to add a content-length header to the response object.

### Expected behavior

Content-length header should not be added to the response.

### Actual behavior

Content-length header is added to response.

### Steps to reproduce the behavior

Consider the following snippet:

[code]

This prints:

[code]

Using Wi

[2018-10-19 14:51] bryce-anderson commented on #739
@adleong, seems like a bug. Are you interested in digging into it?

[2018-10-19 23:29] dadjeibaah commented on #739
I dug into this a little bit more and it appears that this is a bug in Netty's `HTTPObjectAggregrator` [here](https://github.com/netty/netty/blob/91201fb338b29727b18de734f0bdbb2a07458f45/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectAggregator.java#L230-L242l). It looks like when netty parses a full http message it sets the Content-Length header for that message even when the http

[2018-10-22 21:31] bryce-anderson commented on #739
@dadjeibaah, it looks like you've run into https://github.com/netty/netty/pull/6862.

[2018-10-27 19:13] edio commented on #538
I believe we can close this now

[2018-11-02 17:51] dadjeibaah commented on #735
@bryce-anderson, I added a PR as a potential fix for this issue, just as a heads up.

[2018-11-02 19:04] bryce-anderson commented on #735
Thanks @dadjeibaah! I'll try to take a look this afternoon.

[2018-11-13 19:53] gpoulin opened #744 "CancelledRequestException sometime received wrap in Failure"
`CancelledRequestException` sometime are wrapped in `Failure` when coming out of clients when according to the [doc](https://twitter.github.io/finagle/guide/developers/SignalingFailure.html#failureflags-and-failures-outside-of-finagle) they should be unwrapped by [ProcessFailures](https://github.com/twitter/finagle/blob/master/finagle-core/src/main/scala/com/twitter/finagle/Failure.scala#L307)

##

[2018-11-21 05:05] ryanoneill commented on #647
Hey folks, wanted to update this issue. Movement is happening here. We have a working prototype and are starting to ship some of the necessary changes to make this a reality. I would expect it to be available for use in the January Finagle release, or depending on the timing, at the latest February.

[2018-11-26 15:04] bryce-anderson commented on #735
This should make it out in the December release, likely the first part of dec.

[2018-11-26 16:53] kevinoliver commented on #735
fixed in 21664df3700257de3165511c2625d232c399322b

[2018-11-26 16:53] #735 closed

[2018-12-07 18:22] baybatu commented on #697
Hi, I've encountered with this behaviour with 2 REST apis running on localhost. (apigwservice -> customerservice)

I added ConsoleTracer to Http client and logs are something following:

[code]

Sometimes, `apigwservice` duplicates requests that sent to `customerservice`.

[2018-12-08 08:20] baybatu commented on #697
It seems the duplication requests' cause is Http client's idempotency settings(1.percent)

[2018-12-13 00:06] kevinoliver commented on #738
This got included in the upgrade to 4.1.31 in 8e0f4b868c34259350fb0def2e7fee5d3d77fece

[2018-12-13 00:06] #738 closed

[2018-12-13 00:07] kevinoliver commented on #697
Thanks for following up @baybatu that sounds like expected behavior.

[2018-12-13 00:07] #697 closed

[2018-12-13 00:10] kevinoliver commented on #488
@vkostyukov have we addressed this in the recent `Reader` work?

[2018-12-13 00:13] vkostyukov commented on #488
Yes, we now have:

 - Docs for readers: f069921af3a986bb74afca01c0e370dfe2dca4cc
 - Docs for writers: 0d183b77e43cd2160ec1bfc2c1f348341989a1cc
 - Docs for pipes: 1d6e539ecd41afb844c9c946b071b367b05c0fd2

[2018-12-13 00:15] vkostyukov commented on #488
But, there is still plans to add more docs with regards to Request/Response types and their streams (readers and writers).

[2018-12-13 00:19] kevinoliver commented on #488
Thanks, I'm closing this as we aren't working off this ticket directly.

[2018-12-13 00:19] #488 closed

[2018-12-17 19:45] ryanoneill commented on #744
Thanks for reporting this @gpoulin. Sorry for the lack of response here. I will try to look into this sometime this week.

[2018-12-18 08:31] acidghost opened #745 "Make SslServerSessionVerifier return an asynchronous result"
In cases where the `SslServerSessionVerifier` needs the result of a `Future` before returning a `Boolean`, the user is required to block (`Await`).

### Expected behavior

Ideally `SslServerSessionVerifier.apply` should return a `Future[Boolean]` so that the user is not required to `Await` for a future value and the netty thread doesn't block.

### Actual behavior

Suppose `SslServerSessionVerifie

[2018-12-18 14:51] mosesn commented on #745
@acidghost this seems pretty reasonable to me.  let me see if I can pull in our local expert too.  would you be interested in making this PR if we approve it?

[2018-12-18 15:15] acidghost commented on #745
@mosesn for sure I can try to tackle it! I already have an idea (or at least I think I do) of the parts that need to be changed (`com.twitter.finagle.netty4.ssl.server.SslServerVerificationHandler` and `com.twitter.finagle.netty3.ssl.server.SslServerConnectHandler`).

[2018-12-18 15:32] acidghost commented on #733
@ryanoneill I can open a new PR. Shall I also update the changelog? If so, how should I handle ``PHAB_ID=#`` and ``RB_ID=#``?

[2018-12-18 19:09] ryanoneill commented on #745
Hi @acidghost. This is a very reasonable change, and I think it improves the existing functionality. We didn't make it `Future`-based originally because we didn't need the functionality based on how our credentials and authorization metadata are distributed internally.

My only request here would be to try to do the client side as well at the same time. I would like the two APIs to stay in sync. T

[2018-12-18 19:11] ryanoneill commented on #733
@acidghost Thanks for asking. CHANGELOG entries are not necessary for the examples.

[2018-12-19 03:36] mosesn commented on #745
@acidghost alright, go for it!

[2018-12-27 16:21] ryanoneill commented on #744
@gpoulin I started looking into this a little bit yesterday. If you are able to share more about your specific scenario (e.g. what protocol that client is using) that would be helpful to try to reproduce. Thanks.

[2018-12-27 16:47] gpoulin commented on #744
The client is configured with the following configuration:

[code]

Would having `CancelledRequestException` implements `FailureFlags` like it was done for `ClosedChannelExceptions` [here](https://github.com/twitter/finagle/commit/ff4efee1cc7ec0d36edfcc3a21a7daa7595354f4#diff-473de2403c01f5f4dd721da4fc1d2f5c) prevent the `CancelledRequestException` from being wrapped in the first place?

[2018-12-28 16:24] jlawrienyt opened #748 "ServiceClosedExceptions when using maximum pool size with an HTTP client"
finagle-core: http clients with maximum pool sizes permanently close under load.

### Expected behavior

We should be able to configure a maximum pool size to limit load on an upstream endpoint and have it continue to function even after DNS name changes.

### Actual behavior

When the client with the configured maximum pool size is under heavy load (i.e. there are requests waiting for a connectio

[2019-01-04 11:10] pra527vin opened #750 "How to run two instance of finagle in same host with different ports?"
One line summary of the issue here.

### Expected behavior

As concisely as possible, describe the expected behavior.

### Actual behavior

As concisely as possible, describe the observed behavior.

### Steps to reproduce the behavior

Please list all relevant steps to reproduce the observed behavior.

[2019-01-06 19:43] amishra123 commented on #704
I'll be interested to work on this.

[2019-01-08 00:08] yufangong commented on #750
Hi @pra527vin , can you provide more info here about the issues you run into? From the [QuickStart](http://twitter.github.io/finagle/guide/Quickstart.html), I think you could bind the services to different ports.

[2019-01-10 11:10] pra527vin commented on #750
Http.server
      .withAdmissionControl
      .concurrencyLimit(maxConcurrentRequests = maxRequests, maxWaiters = maxRequestsQueue)
      .withMaxHeaderSize(new StorageUnit(maxHeaderSize))
      .withMaxRequestSize(new StorageUnit(maxRequestSize))
      .withRequestTimeout(30.seconds)
      .configured(Stats(statsReceiver))
      .serve(s"${ServerEnvironment.SERVER_ADDRESS}:${ServerEnvironment.POR

[2019-01-11 00:02] yufangong commented on #748
@jlawrienyt  Thanks for the reproduce package, I believe this behavior started from 18.6.0, we will look into this issue.

[2019-01-16 17:07] LiuVII commented on #541
Hey guys! Any update on this?

[2019-01-17 13:27] szysas opened #754 "IllegalArgumentException: bound must be greater than origin"
During long time running of service, exception is thrown: `java.lang.IllegalArgumentException: bound must be greater than origin`

### Expected behavior

No exception

### Actual behavior

`java.lang.IllegalArgumentException: bound must be greater than origin`

Stacktrace, unfortunately due to our logging (kibana), those are not in order:

[code]

This exception originates from:
[code]

### Steps

[2019-01-17 18:47] yufangong commented on #748
@jlawrienyt Thanks for the report, this should be fixed in 815c05315ff47db151a6433c32bcf421c7e1e940. I'm closing this issue now but feel free to open one if the issue still remains.

[2019-01-17 18:47] #748 closed

[2019-01-17 21:13] jlawrienyt commented on #748
Thanks!

[2019-01-23 15:57] luciferous commented on #754
@szysas Looks like this was introduced in #742.

Before it, we [intercepted empty weight classes](https://github.com/twitter/finagle/pull/742/files#diff-024d11265c75cc71beb06037502087fdL281) so that we never passed Nil into the constructor of a Distributor.

The patch introduces a change where now we [attempt to never emit empty weight classes](https://github.com/twitter/finagle/pull/742/files#dif

[2019-01-24 23:13] rpless opened #755 "Potential Leak of OpenSslKeyMaterial"
I've started seeing a Netty Error `LEAK: OpenSslKeyMaterial.release() was not called before it's garbage-collected.` on a Finagle HTTP service.

### Expected behavior

I would expect it to not leak the `OpenSslKeyMaterial`.

### Actual behavior

Once or twice a day, I see a message in the logs that looks like this: https://gist.github.com/rpless/505395bebcb15367d2e287ae621354af

### Steps to repro

[2019-02-06 12:38] DanielCharczynski opened #756 "Unable to stop HighResTimer"
Hello we are using Finagle as a HttpClient - it works really good. Great job.

Unfortunately Finagle generates resource leak under standard behavior that applications are deployed and undeployed many  times on JBoss AS, Tomcat etc.
By resource leak I mean that if I 100 times deploy and undeploy an application that uses Finagle I'll get at least 100 threads

The problem is that finagle contains uns

[2019-02-06 12:42] DanielCharczynski opened #757 "Unable to stop Netty 4 Timer"
Hello we are using Finagle as a HttpClient - it works really good. Great job.

Unfortunately Finagle generates resource leak under standard behavior that applications are deployed and undeployed many  times on JBoss AS, Tomcat etc.
By resource leak I mean that if I 100 times deploy and undeploy an application that uses Finagle I'll get at least 100 threads

The problem is that finagle contains uns

[2019-02-06 13:13] DanielCharczynski opened #758 "Unable to stop CollectClosables thread"
Hello we are using Finagle as a HttpClient - it works really good. Great job.

Unfortunately Finagle generates resource leak under standard behavior that applications are deployed and undeployed many times on JBoss AS, Tomcat etc.
By resource leak I mean that if I 100 times deploy and undeploy an application that uses Finagle I'll get at least 100 threads

The problem is that finagle contains unst

[2019-02-06 23:25] kevinoliver commented on #757
Ah. I suspect there may be other issues like this as haven't designed for that type of deployment model.

This might require a patch to create a flag that allows you to opt-out of this behavior.

[2019-02-06 23:27] kevinoliver commented on #756
Ah, yep another instance of this. Just like #757 .

I think same sort of solution noted there could work here as well.

[2019-02-06 23:30] kevinoliver commented on #758
Interesting. Would an API for shutting it down suffice? It may need some reworking along with the API...

[2019-02-07 07:45] DanielCharczynski commented on #757
Thanks for quick reply Kevin.
I was able to close many other threads because API allows me to use my own Timers/Executors/etc
I have problem with last three threads.

In this case private object is used and I have no access to it.

[2019-02-07 07:49] DanielCharczynski commented on #756
Thanks for quick reply Kevin.
I was able to close many other threads because API allows me to use my own Timers/Executors/etc
I have problem with last three threads.

In this case HighResTimer param is injected implicitly when client is instantiated.
It is definitely to early.
In such implementation  StackParam[HighResTimer] makes no sense

[2019-02-07 08:01] DanielCharczynski commented on #758
Thanks for quick reply Kevin.
I was able to close many other threads because API allows me to use my own Timers/Executors/etc
I have problem with last three threads.

In this case Finagle uses Closable.nop but this fires CollectClosables.collectorThread field initialization that starts Timer.
Unfortunately this field is private and Thread uninterruptible.

Yes API is good. I'm not sure if is is go

[2019-02-07 13:34] luciferous commented on #754
Closed by 2133620e9a18a42300da97984df7aeaeb29c6199.

[2019-02-07 13:34] #754 closed

[2019-02-07 13:35] luciferous commented on #754
@szysas Keep us posted if you manage to test this with your service.

[2019-03-08 09:43] politrons opened #759 "Retry Strategy does not work"
Retry policy not working

### Expected behavior

After configure my RetryPolicy Strategy I was expecting see some retries.

### Actual behavior

After the first timeout the request fails

### Steps to reproduce the behavior

Shutdown a mock service and invoke with this config and code.

I create my service with this two filters

[code]

response is

com.twitter.finagle.IndividualRequestTimeoutExce

[2019-03-13 17:55] jcohen opened #760 "ExceptionSourceFilter does not properly attribute CancelledRequestExceptions"
ExceptionSourceFilter does not properly attribute CancelledRequestExceptions

### Expected behavior

The source should be attributed to the client (or at least not to the downstream service)

### Actual behavior

When a future is cancelled by a client, the source is still attributed to the downstream service. This leads to confusion when the error message is along the lines of:

even though the do

[2019-03-13 17:58] mosesn commented on #760
To elaborate on @jcohen's problem, his topology looks like A => B => C, and sees the exception on B.  This is when A cuts the connection to B, but the exception says that the downstream was C.  It should instead report that the downstream was B.

[2019-04-03 17:33] mpnewcomb commented on #757
HashedWheelTimer... why are you using this? It is a cpu hog. Start up linkerd and namerd and they just sit their chewing anywhere from 1-3% cpu when nothing is happening...

[2019-04-04 00:30] kevinoliver commented on #757
@mpnewcomb do you have any suggestions on how to improve it? if there is no work to do, it should be a thread that sleeps for a few milliseconds, looks for work, then repeats.

[2019-04-05 14:51] martinffx opened #762 "Finagle-Redis: Add RPOPLPUSH Command"
I want to use the RPOPLPUSH Command

### Expected behavior

The redis client should support RPOPLPUSH `client.rPopLPush(source, dest)`

### Actual behavior

Command not supported

[2019-04-08 08:25] martinffx commented on #762
https://github.com/twitter/finagle/pull/763

[2019-05-23 06:00] szysas commented on #754
@luciferous Thanks for fix! (sorry, I only now noticed you reply)

[2019-05-29 21:16] drywet commented on #757
Hello. This seems to work for me:
Create a class in package `com.twitter.finagle.netty4` to access private properties and stop com.twitter.finagle.util.HashedWheelTimer.nettyHwt
and
HashedWheelTimer.instance
timers

[2019-06-10 23:18] kevinoliver commented on #762
This got addressed in https://github.com/twitter/finagle/pull/767

[2019-06-10 23:18] #762 closed

[2019-06-10 23:20] kevinoliver commented on #759
Took a while for someone to look at this. I don't really understand the issue you are seeing. Maybe you can rephrase the instructions on how to reproduce the issue?

[2019-06-10 23:24] kevinoliver commented on #755
This is unexpected. I haven't seen any reports of this internally, but that doesn't mean it isn't happening. If you can reproduce, you could turn on Netty's more detailed leak detection to ADVANCED (https://netty.io/wiki/reference-counted-objects.html#wiki-h3-11) and get the backtrace.

[2019-06-10 23:24] kevinoliver commented on #750
Unable to reproduce this.

[2019-06-10 23:24] #750 closed

[2019-06-10 23:27] kevinoliver commented on #665
Finagle has been off of Netty 3 from some time now.

[2019-06-10 23:27] #665 closed

[2019-06-11 01:29] yufangong commented on #538
Thanks, @rklancer. I believe @edio's fix https://github.com/twitter/finagle/commit/a3094f37478bde2ae599d4f45f8ce3631cce14a5 resolved this issue. And later we have https://github.com/twitter/finagle/commit/842e5e1a2b5613307add41fd064ebb589cc22bef to update [withStreaming](https://github.com/twitter/finagle/blob/develop/finagle-http/src/main/scala/com/twitter/finagle/Http.scala#L340).
I'm closing th

[2019-06-11 01:29] #538 closed

[2019-06-11 08:05] #759 closed

[2019-06-13 10:41] rnd4222 opened #771 "Build for 2.13.0"
Scala 2.13.0 was [released](https://github.com/scala/scala/releases/tag/v2.13.0), so it would be great to have finagle build for it.

If it's marked with an asterisk, it doesn't have any dependencies and will be easy to target next.  If you want to discover what the dependencies of a given project are, take a peek inside of the build.sbt file.

If you start working on one of these subprojects, ple

[2019-06-14 01:58] pengisgood opened #772 "Broken link"
The [link](https://www.eckner.com/papers/ts_alg.pdf) in the code comments is dead.

Code block reference: https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/loadbalancer/PeakEwma.scala#L48

[code]

[2019-06-14 14:58] crispywalrus commented on #772
it looks to me like the link to that paper has changed to http://www.eckner.com/papers/unevenly_spaced_time_series_analysis.pdf

[2019-06-14 21:46] kevinoliver commented on #772
thanks for noticing. and for the updated link.

would love a PR for this if you can help.

[2019-06-16 15:14] pengisgood commented on #772
Thanks for the PR.

Shall we save a copy of the paper in this repo just in case?
What do you think?

[2019-06-16 19:03] crispywalrus commented on #772
My take is that there's advantage to keeping the link as a link. I (for instance) followed the old broken link and was able with a minimum of fuss to find the new link as well as newer papers on the same subject. Based on that, and the fact that the paper is never really going to go away makes me say leave it a link.

[2019-06-20 15:29] cosmir17 opened #776 "'passthrough_fields' gets added to json serialisation when handling generated Thrift objects"
'passthrough_fields' gets added to json serialisation when handling generated Thrift objects

### Expected behavior
I would like to remove 'passthrough_fields' field from json body.

### Actual behavior
'passthrough_fields' gets added to json body

### Steps to reproduce the behavior
I am using json4s-jackson library and DefaultFormats class.
_https://mvnrepository.com/artifact/org.json4s/json4s-j

[2019-06-20 17:17] yufangong commented on #772
Thanks for the report! this is fixed by @crispywalrus at https://github.com/twitter/finagle/commit/96cb072f1678b45811e3e5d3800b44cc3ea4e441

[2019-06-20 17:17] #772 closed

[2019-06-26 11:26] bymzy commented on #309
this seems to happen to me .

i am using tranquility-core_2.11:0.83  and it depends on finagle-6.43.0 @mosesn

here is what strace shows

[pid 2231848] stat("/proc/self/task/1679940/cwd/proc/self/task/1679940/cwd/proc/self/task/1679940/cwd/proc/self/task/1679940/cwd/proc/self/task/1679940/cwd/proc/self/task/1679940/cwd/proc/self/task/1679940/cwd/proc/self/task/1679940/cwd/proc/self/task/1679940/cw

[2019-06-28 08:24] dkulichkin opened #777 "CPU metrics (system and process usage) are missed"
I'm not able to see cpu-related metrics at
https://twitter.github.io/finagle/guide/Metrics.html

Hence need to tailor my own custom meters leveraging `com.sun.management.OperatingSystemMXBean` and `java.lang.management.ManagementFactory` classes, but it would be more convenient to have it in the statsregistry by default

[2019-06-28 08:36] bymzy commented on #309
@jdneumeyer77  is right，i restart my program in /root and it works fine

[2019-06-28 17:47] enbnt commented on #776
Hi @cosmir17,

The pattern we typically follow at Twitter is to separate the RPC data/serialization layer (the Scrooge generated code) from the models that represent our domain data. We recommend this internally, not only for JSON data, but for classes that your business logic interact with as well. There are limitations to what the Thrift IDL can represent, which creates some hurdles, and we don'

[2019-07-01 16:09] ryanoneill commented on #777
Hi @dkulichkin!

Can you tell us specifically what metrics are missing, and also which JVM version you're using and what OS you're running on? Thanks.

[2019-07-02 14:52] dkulichkin commented on #777
@ryanoneill I'd like to be able to monitor cpu usage per process and overall for the whole host as I specified in the issue's title. JVM and OS in this case do not really mater since the subject metrics are not listed among:
https://twitter.github.io/finagle/guide/Metrics.html

[2019-07-02 15:49] ryanoneill commented on #777
Ah, ok. Now I understand what you meant.

Within Finagle, we only export the [number of cpus as a gauge ('jvm/num_cpus')](https://docbird.twitter.biz/finagle/Metrics.html#jvm) by default. One reason we don't do more here is that measurement of this is highly contextual. The vast majority of Twitter's architecture runs on Mesos currently, and so measuring the number of physical cpus (as we do for '

[2019-07-03 08:50] dkulichkin commented on #777
Clear, for those still willing to add these metrics to finagle's statsReceiver implementation (PrometheusStatsReceiver in my case) - this is how I've done it:
[code]

[2019-07-03 11:41] erwan commented on #771
There is at least a dependency on utils: https://github.com/twitter/util/pull/248

Scalatest also needs to be updated, probably other dependencies as well

[2019-07-03 12:38] yaroot commented on #771
and twitter/scrooge#308

[2019-07-03 19:49] mosesn commented on #776
As @enbnt said, we don't recommend that you use scrooge-generated structs to serialize to json using json4s-jackson.  I'm going to close this issue for now.

[2019-07-03 19:49] #776 closed

[2019-07-03 20:41] mosesn commented on #777
Thanks @dkulichkin!  I'm going to close this out since we're not planning on implementing this for now.

[2019-07-03 20:41] #777 closed

[2019-07-08 09:07] tmichnik1981 opened #778 "Zipkin spans generated remoteEndpoint.serviceName"
One line summary of the issue here.

### Expected behavior

**ServerAddr** instances created with a service name.

### Actual behavior

finagle-core_2.12, version: 19.2.0
finagle-zipkin-core_2.12, version:  19.2.0

Spans regarding remote service invocations are generated without  `remoteEndpoint.serviceName`.
In consequence, it breaks dependencies’s  generation and presentation on Zipkin-server UI

[2019-07-09 20:24] ryanoneill commented on #778
Hi @tmichnik1981, thanks for reporting. I'll try to look into this soon.

[2019-07-09 22:12] ryanoneill commented on #647
This got put on the back burner for a bit, but as of the last release (19.6.0), SSL/TLS should now work with finagle-mysql.

[2019-07-09 22:12] #647 closed

[2019-07-09 22:30] ryanoneill commented on #650
Seems like the pull request for this issue was submitted and accepted, but we never closed the associated issue. I'm going to close this. If it's still a problem, please file another issue.

[2019-07-09 22:30] #650 closed

[2019-07-10 18:10] ryanoneill commented on #778
Hi @tmichnik1981, I talked this over with a few folks internally this morning. This is something that we would like to have, and we would welcome a pull request in this area. However, it's also not something that on its own, we're likely to work on ourselves anytime soon.

So if you're interested in submitting a pull request, or if you're not but someone else is, we would welcome a contribution he

[2019-07-16 17:12] luciferous commented on #771
As this will be a lot of work, we plan to coordinate it with the community in a similar fashion to how we did 2.11 (#290) and 2.12 (#505).

[2019-07-19 09:21] zaharidichev opened #780 "MaxRequestSize/MaxResponseSize and fixedLengthStreamedAfter unexpected behavior"
`http.param.MaxRequestSize` and `http.param.MaxResponseSize` have ambiguous semantics wheh combined with `fixedLengthStreamedAfter`

### Expected behavior
I would expect that if `fixedLengthStreamedAfter` is set say 5 kilobytes and `MaxRequestSize` is set at 4 kilobytes, a message with `Content-Length` set to 6 kilobytes is processed as a streaming message without a problem

### Actual behavior
Wh

[2019-07-23 15:33] luciferous commented on #780
Hi @zaharidichev, firstly, I agree that this is somewhat confusing. I think the API gives many choices to the user, perhaps there is a better way to structure them. I found some docs for these params at https://github.com/twitter/finagle/blob/develop/finagle-http/src/main/scala/com/twitter/finagle/Http.scala#L242. In particular,

There is some backstory of the feature request in #538 and more disc

[2019-07-23 16:42] edio commented on #780
@luciferous

Having 2GiB cap on `http.param.MaxRequestSize` value means, that HTTP requests without `Transfer-Encoding: chunked` and body larger than 2 GiB can not be processed by finagle applications.
I'd like to highlight, that `http.param.MaxRequestSize` doesn't seem to be optional, if it is not set explicitly during service construction, it falls back to its default value of `5.megabytes` (unl

[2019-07-23 18:29] adleong commented on #780
If I understand the interaction between these parameters correctly, Finagle should only need to allocate at most `fixedLengthStreamedAfter`, even for non-chunked messages with very large content-lengths, as these will be streamed.  Is that correct?

[2019-07-23 18:39] zaharidichev commented on #780
@edio I also see this as a problem. The purpose of `fixedLengthStreamedAfter` is that if you have a request that is more than a certain threshold and has `Content-Length` that reflects that size, it will be streamed. It will be streamed, and this is what happens indeed. However I cannot really understand the logic behind limiting this with `MaxRequestSize`. If I understand correctly, the semantics

[2019-07-24 14:48] luciferous commented on #780
@edio

If this is true, then it is a bug.

[2019-07-24 14:51] luciferous commented on #780
@zaharidichev

Yes, sorry, if I was unclear. I meant that it's not a good idea to process such a large request without streaming.

[2019-07-24 14:56] zaharidichev commented on #780
@luciferous will provide an example of this behaviour soon enough

[2019-07-25 15:07] luciferous commented on #780
@zaharidichev

Just did a Http.withStreaming(5.kilobytes).serve(":8000", echoStream) and curled it with a huge file and got 413. That's enough to convince me something is not quite right.

[2019-07-25 15:24] edio commented on #780
I'll let myself to chime in here.

I believe, that  `maxRequestSize` is currently behaving correctly: it limits request size regardless of transport mechanism used. This is a useful feature which I, as a service developer, would like to have.

The only issue with it, is that it is required and at the same time is capped at 2GiB.

Hence solution is to either make it optional or to remove the 2GiB c

[2019-07-25 15:40] luciferous commented on #780
Seems like a reasonable solution. Would you like to contribute a patch?

[2019-07-25 15:54] zaharidichev commented on #780
I agree with @edio that we can just remove the 2GB cap. That will be a breaking change however as some users of the lib might rely on that. Should I submit a fix or @edio will do it ?

[2019-07-25 15:58] edio commented on #780
@zaharidichev, I merely joined this thread because I wanted to support the case, didn't mean to hijack it.
I could do the patch, but I think it should be yours :)

[2019-07-25 16:01] zaharidichev commented on #780
Thanks a bunch for chiming in @edio! If you have any more suggestions, feel free to share. But I think this change will place nicely with https://github.com/linkerd/linkerd/pull/2298

[2019-07-31 09:44] tmichnik1981 opened #783 "Wrong order of modules in Http.client.stack"
Responses are handled by  ClientTracingFilter before  PayloadSizeFilter,  causing unwanted side effects on Zipkin side.

### Expected behavior

ClientTracingFilter should be placed before PayloadSizeFilter  in Http.client.stack

### Actual behavior

When working on zipkin - finagle integration we had an issue with weird "unknown" spans
occurring after some delay after finished http request.

I fou

[2019-08-01 16:20] kevinoliver commented on #783
@tmichnik1981 thanks for the report and workaround.

so [the source code](https://github.com/twitter/finagle/blob/develop/finagle-http/src/main/scala/com/twitter/finagle/Http.scala#L164-L169) makes me think this is how it is already set up (payload after tracing). maybe i'm misreading your issue or the code?

[2019-08-02 06:37] tmichnik1981 commented on #783
Hi,

I found 2 places: where those modules are configured: com.twitter.finagle.Http.Client and com.twitter.finagle.client.StackClient.

StackClient.newStack() goes as first. Http.Client  modifies what has been created in a previous step.

I printed out (in debug) the stack actually created.

[code]

but we probably need

[code]

[2019-08-05 08:06] flostadler commented on #526
@mosesn Are you still working on this? If not, I'd like to give it a try

[2019-08-05 22:44] kevinoliver commented on #526
@flostadler it doesn't appear that anyone has been working on this. Please do give it a try.

[2019-08-05 23:17] ailn opened #785 "RequeueFilter and () => next.status == Status.Open"
There's a todo in code (https://github.com/twitter/finagle/blob/4863f23fbd5df339df159327d96fd05cac1023a5/finagle-core/src/main/scala/com/twitter/finagle/service/Retries.scala#L243): "If we ensure that the stack doesn't return restartable failures when it isn't Open, we wouldn't need to gate on status"

This is only applied to RequeueFilter but not to RetryFilter. Is it valid at all?

If I use Mux

[2019-08-05 23:28] ailn commented on #785
My point is in case of service downtime RequeueFilter might stop retrying before exhausting budget because ThresholdFailureDetector marked ClientSession as Closed.

If there's a problem when the stack returns non-restartable service why similar logic is not implemented for RetryFilter?

[2019-08-05 23:34] kevinoliver commented on #783
Aha. Good find!

Any interest in putting together a PR?

[2019-08-06 06:47] flostadler commented on #526
@kevinoliver All right, I'm on it!

[2019-08-06 08:16] SerCeMan opened #786 "Unable to override the tracing filter in the client"
Hi, Finagle team!

The following commit https://github.com/twitter/finagle/commit/5201f6237ce5185c4208d5945b33813b47507570#diff-25ac72862be1af67114573d236a19433R51-R56 changed the behaviour of the method so that `HttpClientTraceInitializer` is always present even if the original client stack doesn't have the `TraceInitializerFilter#role`. So, now It's not possible to disable the `c.t.f.h.HttpClien

[2019-08-06 09:56] flostadler commented on #778
@ryanoneill I'd like to work on this, could you give me a heads-up on where to start?

[2019-08-06 22:10] yufangong commented on #778
@flostadler Thanks for doing it! First of all, I'm not an expert in this area. It looks like in finagle side we should provide a serviceName for [ServerAddr](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/tracing/Annotation.scala#L31). And this needs to collab with zipkin probably somewhere [here](https://github.com/openzipkin/zipkin-finagle/blob/66

[2019-08-09 20:53] yufangong commented on #786
Hi @SerCeMan, are you using MethodBuilder or Http.client? I didn't quite get why the HttpClientTraceInitializer is not replaceable, can you elaborate more? Also, can this [withTraceInitializer](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/client/MethodBuilder.scala#L354) help?

[2019-08-10 09:11] SerCeMan commented on #786
Hey, @yufangong!

We use `Http.client` in the following way:
[code]

In the code above the call to `methodBuilder` adds `.withTraceInitializer(initializer)` even if it was previously removed.

It does seem like creating `com.twitter.finagle.client.MethodBuilder#from()` instead of calling `methodBuilder` can be a good workaround, thank you!

[2019-08-20 00:04] yufangong commented on #786
@SerCeMan Glad that you find a way to make it work. I'm closing this issue now, feel free to open one if methodBuilder does not work for you.

[2019-08-20 00:09] SerCeMan commented on #786
Hey, @yufangong! Thank you, we've been using a different workaround where the headers were renamed, however `com.twitter.finagle.client.MethodBuilder` should work. However, is using `com.twitter.finagle.client.MethodBuilder#from` the preferable way? Is it expected that the behaviour is different? from `.methodBuilder` ...

[2019-08-20 01:14] yufangong commented on #786
@SerCeMan Good call, I think they should have the same behavior.
I think it might be `withTraceInitializer` is not exposed appropriately to [http/MethodBuilder](https://github.com/twitter/finagle/blob/develop/finagle-http/src/main/scala/com/twitter/finagle/http/MethodBuilder.scala#L206).
Do you think this work better if you can do:
[code]
?

[2019-08-20 18:53] SethTisue commented on #771
the next step here is scrooge, I believe

[2019-08-22 03:27] SerCeMan commented on #786
Hey, @yufangong! Yes, thanks, I can send a PR if it sounds good to you. However, as far as I understand, if someone uses `com.twitter.finagle.client.MethodBuilder#from()` instead of `.methodBuilder()` then the logic here: https://github.com/twitter/finagle/commit/5201f6237ce5185c4208d5945b33813b47507570#diff-25ac72862be1af67114573d236a19433R51-R56 won't be applied. Can it result in any issues?

[2019-08-22 14:07] mosesn commented on #771
we can start work on some of the pieces, like finagle-core (basically anything that doesn't depend on scrooge within finagle), if people want to start taking stabs at subprojects!

[2019-08-25 04:39] newpoo opened #790 "Framed transport client saw out of order responses from finagle server"
Framed transport client saw out of order responses on the same connection from finagle server

### Expected behavior

As far as I understand, framed transport doesn't allow out of order responses on the same connection

### Actual behavior

Framed transport client saw out of order responses on the same connection from finagle server

### Steps to reproduce the behavior

We use fbthfit c++ client w

[2019-08-25 13:37] mosesn commented on #790
Interesting!  Is fbthrift trying to use pipelining, where you can send more than one request on a given connection and receive responses in order?  Or multiplexing, where you can receive responses out of order?  Finagle Thrift clients can't do pipelining (instead, thriftmux supports multiplexing) so we haven't tested it too elaborately.  Some googling seems to suggest that at least some Apache Thr

[2019-08-25 14:43] newpoo commented on #790
Yes, we use fbthrift c++ async client with framed binary protocol, which support pipelining but not multiplexing.

I think the server side is running with finagle-thriftmux_2.11.

We can try to provide more details later.

[2019-08-25 14:53] newpoo commented on #790
"From looking at the code, it looks like it shouldn't read the next message until after it has already replied to the previous message, "

Do you mean until after it has already written the response to the underlying tcp connection or some finagle internal data structure?

[2019-08-30 14:13] mosesn commented on #771
Now that everything in scrooge is working except for scrooge-generator-tests, we're unblocked on everything in finagle.

[2019-09-04 06:33] rgala commented on #758
In Closeable.scala, you could consider calling the remove() method with some parameterized timeout:

`val ref = refq.remove(...)`

[2019-09-04 09:07] rgala commented on #758
I tried to debug the com.twitter.util.Closable, the following method is never executed and this is why it probably blocks forever:

`  def closeOnCollect(closable: Closable, obj: Object): Unit = refs.synchronized {
    refs.put(new PhantomReference(obj, refq), closable)
  }`

[2019-09-05 10:16] mosesn commented on #758
@rgala can you configure your Spring Boot app to not wait for daemon threads to terminate before shutting down?  I think that's a standard JVM behavior.  Or when you say "shutdown" do you mean that you're not actually shutting down the VM but that you're only unloading classes?

I'm not familiar with JBoss AS or Tomcat, we typically assume that scala objects will only be initialized once.  Does it

[2019-09-05 10:18] rgala commented on #758
By "shutdown" I mean telling Tomcat to stop. As a result, Tomcat first undeploys all deployed applications and waits for all threads they submitted to terminate. Since the CollectClosables never terminates, Tomcat fails to stop.

[2019-09-05 12:31] rgala commented on #758
One more thing. This happens only when Tomcat is run as a Windows service using Apache Commons Daemon (https://commons.apache.org/proper/commons-daemon/)

[2019-09-05 17:21] #780 closed

[2019-09-06 11:01] mosesn commented on #758
OK, I would be happy with accepting a pull request to add a `stopCollectClosablesThread` method to Closable.  I would also be happy with the CollectClosables thread checking the interrupt status and shutting down if it's interrupted.  Whichever the implementor prefers.

[2019-09-09 20:34] clhodapp commented on #771
What is the significance of the asterisks on items in the issue description?

[2019-09-09 21:00] martijnhoekstra commented on #771
If I had to guess, I'd say those are not blocked by dependencies and open to port atm.

[2019-09-11 11:39] mosesn commented on #771
Yep, @martijnhoekstra is right. I updated the original post to note that, sorry for the confusion

[2019-09-11 18:11] mosesn commented on #771
If you start working on one of these subprojects, please add a comment on this thread and I'll add your name next to it so people know not to duplicate your work.

[2019-09-13 10:29] martijnhoekstra commented on #771
thrift, mux and thriftmux at https://github.com/twitter/finagle/pull/794

[2019-09-16 15:31] martijnhoekstra commented on #771
following up on base-http - the biggest issue I'm running in to is Header. This is conceptually a mutable multimap case-insentitive string -> string. It accomplishes this by overriding the elementHash and elementEquality. This is no longer possible in 2.13. Hopefully someone sees an option beyond using a different (hand-rolled? copy-pasted? 3rd party dependency?) map implementation, or wrapping al

[2019-09-18 21:14] mosesn commented on #771
Sorry, I just saw this now.  Let me talk to the team and see if I can get a consensus on what other testing we would have to do to be comfortable with that kind of change.

[2019-09-18 22:55] mosesn commented on #771
@martijnhoekstra are you imagining that we would stop extending HashMap?

[2019-09-19 08:01] martijnhoekstra commented on #771
@mosesn yes, my current plan is to re-implement `Headers` which is used as the backing store for `DefaultHeaderMap` to become a mutable prefix tree on case-insentive char values, with `Header` at the leaves, and then run the benchmarks to check my suspicion that it's a strict win in terms of performance.

`Headers` is not exposed publicly, or even internally really, and this change shouldn't (TM)

[2019-09-19 13:18] martijnhoekstra commented on #771
@mosesn there is a very WIP-y WIP in https://github.com/martijnhoekstra/finagle/tree/http_base_213

The mutable Headers trie implementation is https://github.com/martijnhoekstra/finagle/blob/http_base_213/finagle-base-http/src/main/scala/com/twitter/finagle/http/Headers.scala

I'm currently working on getting 2.12 correct on this design so that I can bench against the baseline.

[2019-09-19 15:30] mosesn commented on #771
The trie approach seems pretty simple so far.  Another idea folks were floating internally was to just go with a List and call it a day.  Did you try benchmarking that?

[2019-09-19 15:47] martijnhoekstra commented on #771
just a List[Header], with linear search add/put/remove and toLowerCase'ing both sides? The original code did try very hard to be clever enough to be fast, but I can give it a trie. I haven't benchmarked a thing yet.

[2019-09-19 21:24] mosesn commented on #771
well since you're building the trie anyway, let's start with that and see how it goes, and see how much worse List[Header] is?

[2019-09-21 10:19] martijnhoekstra commented on #771
The current trie inplementation I have is hilariously slow on iteration - 10x vs the baseline. I probably messed something up.

[2019-09-24 11:23] martijnhoekstra commented on #771
Looking for guiding review on https://github.com/twitter/finagle/pull/797

[2019-10-02 19:55] DieBauer commented on #771
I've addressed `finagle-exp` in https://github.com/twitter/finagle/pull/802

[2019-10-03 19:35] DieBauer commented on #771
And took on `finagle-zipkin-core` in #803

[2019-10-03 20:19] DieBauer commented on #771
`finagle-zipkin-scribe` is also added to #803, to kind of belong together :)

[2019-10-13 06:30] joroKr21 commented on #771
PR for `finagle-serversets`: #810

[2019-10-13 07:39] joroKr21 commented on #771
`finagle-benchmark-thrift`: #811

[2019-10-14 09:40] dziemba opened #812 "Upgrade caffeine library"
Finagle is currently using caffeine `2.3.4`, which is now roughly 3 years old. The latest version `2.8.0` which brings new features, performance improvements and bugfixes.

In some of our projects we would like to use new caffeine features. Since these projects also use finagle, we can't easily just override the version without risking incompatibilities.

Caffeine is also used in twitter/util (and

[2019-10-14 17:48] mosesn commented on #812
Yeah, we should probably do that on our side, thanks for reaching out.  I'll file a ticket internally and keep you posted.  Assuming there aren't any big surprises, we should be able to have it by the next release.

[2019-10-14 17:52] spockz commented on #771
* finagle-netty4-http
* finagle-http2
* finagle-http

Available in:

https://github.com/martijnhoekstra/finagle/pull/1

[2019-10-15 18:56] mosesn commented on #812
@dziemba update on this: I have a patch up for review internally, so we're on track for the next release.

[2019-10-16 08:27] dziemba commented on #812
Cool, thanks!

[2019-10-16 21:14] mosesn commented on #812
Updated!  Commit here: https://github.com/twitter/finagle/commit/c335b29e7632ce7165e662136beaf377bfc4e24e

Thanks for filing the ticket!

[2019-10-16 21:14] #812 closed

[2019-11-01 22:56] bryce-anderson commented on #790
@newpoo, any luck with this? If you can setup a repro that would be really helpful.

[2019-11-01 23:14] newpoo commented on #790
We had to switch back to nonmux server and the issue is gone. It's highly likely a bug in binary protocol pipelining support in thriftmux server.

[2019-11-01 23:28] bryce-anderson commented on #790
Any chance you can explain a repro?

[2019-11-01 23:32] bryce-anderson commented on #790
Info such as if it happened during restarts, etc would be helpful.

[2019-11-01 23:47] newpoo commented on #790
It's consistently happening when we use binary protocol client talk to finagle thriftmux server with pipelining (multiple outstanding requests on a single connection). We expect to see responses coming back in order. However, the responses can be out of order. It's easier to see this issue when the server CPU load is high.

[2019-11-02 02:33] bryce-anderson commented on #790
I'm unable to reproduce this. Do you know how many requests it takes? I whipped together a test that throws 200k pipelined requests through a downgraded thriftmux session in about 15 seconds and have yet to see an out-of-order response.

How are you detecting out-of-order responses?

[2019-11-02 05:01] newpoo commented on #790
In our thrift API, response has the key that was sent in the original request. So we can detect the mismatches.

what does the server handler function do? try to add some random delay in the handler function?

[2019-11-02 13:27] bryce-anderson commented on #790
My test sends numbers that get echoed back. Both requests and responses
have a a random delay between 0 and 50 ms.

On Fri, Nov 1, 2019, 11:01 PM Bo Liu <notifications@github.com> wrote:

[2019-11-07 11:31] Horneth opened #813 "Support for touch, gat and gats commands in the memcached client"
Support for [`touch`](https://github.com/memcached/memcached/blob/1939cf9edc0656f7b1cfab6365f313b56b07a333/doc/protocol.txt#L383), [`gat`](https://github.com/memcached/memcached/blob/master/doc/protocol.txt#L415) and [`gats`](https://github.com/memcached/memcached/blob/1939cf9edc0656f7b1cfab6365f313b56b07a333/doc/protocol.txt#L416) memcached commands

### Expected behavior

The memcached client pr

[2019-11-07 19:18] mosesn commented on #813
@Horneth I don't think we have strong feelings about it, please make a PR =)

[2019-11-13 08:53] DanielCharczynski opened #814 "com.twitter.finagle.ServiceClosedException: null during updating Var"
ServiceClosedException during updatig Var

### Expected behavior

I'm no sure if it is proper behavior that something is closed during updating Var

### Actual behavior

[code]

### Steps to reproduce the behavior

It might be hard to reproduce because it might happens during high workload

[2019-11-27 01:02] HenryCaiHaiying opened #816 "com.twitter:maven-finagle-thrift-plugin jar is missing in twitter's maven repo"
Not sure whether the above jar is managed by this project, the jars is missing in the twitter's maven repo (only md5 file are left):

https://maven.twttr.com/com/twitter/maven-finagle-thrift-plugin/0.0.9/

maven-finagle-thrift-plugin-0.0.9.jar.md5
maven-finagle-thrift-plugin-0.0.9.jar.sha1
maven-finagle-thrift-plugin-0.0.9.pom
maven-finagle-thrift-plugin-0.0.9.pom.md5
maven-finagle-thrift-plugin-0

[2019-11-27 15:59] olix0r commented on #816
probably related to https://github.com/twitter/commons/issues/485

[2019-12-04 09:21] martijnhoekstra opened #818 "Perf on 2.13"
When 2.13 rolls around, performance should be considered. See https://github.com/twitter/finagle/pull/797#issuecomment-561329004

### Expected behavior

The same performance as 2.12

### Actual behavior

So far mostly unknown

### Discussion

From Scala 2.12 to 2.13 `scala.Seq` changed from an alias to `scala.collection.Seq` to `scala.collection.immutable.Seq`. In many places in finagle, Seqs are

[2019-12-06 16:15] mosesn commented on #816
@HenryCaiHaiying @olix0r the problem should have been fixed.  Please reopen if the problem continues.  In the mean time, I encourage you to migrate to a modern version of scrooge that's hosted by bintray and artifactory, which should be more reliable than maven.twttr.com.

[2019-12-06 16:15] #816 closed

[2019-12-06 16:35] mosesn commented on #818
I think I like the immutable facade

[2019-12-06 17:37] mosesn commented on #814
@DanielCharczynski not sure how to help you here, if you (or anyone else) comes up with a cleaner reproduction case, we're happy to dig deeper!  Or if you're able to figure out what's going on from reading the code, we're happy to provide further guidance.

[2019-12-06 17:38] mosesn commented on #790
@newpoo since we're not able to reproduce, I'm inclined to close this ticket, unless you have more suggestions for how we can repro?

[2019-12-07 00:10] yufangong commented on #786
@SerCeMan I am really really sorry that I forgot to get back to this before.
Let me know if you are still available to work on a PR for this.
It looks to me `Http.client.methodBuilder()` are align with `finagle.http.MethodBuilder#from()`, if we add the a condition of tracer that stackClient.stack.contains(traceInit...role) inside http's mb.from?

[2019-12-08 20:03] chrisbenincasa commented on #771
Any update on when this will be available?

[2019-12-10 22:04] yufangong commented on #771
Hi @chrisbenincasa, the progress of this is up-to-date, we just merged in **finagle-base-http**. We are taking an OSS community collaboration approach for this work so we don't have an accurate estimation, sorry.

[2019-12-10 22:05] chrisbenincasa commented on #771
Thanks for the update, Yufan. Is there anything I can do to help? 

[2019-12-10 22:14] ryanoneill commented on #771
@chrisbenincasa if you want to take one of the unaccounted for libraries listed above, that would be great.

[2019-12-10 22:22] yufangong commented on #771
to add on what @ryanoneill said, the one with * (right now finagle-memcached*) means it should not be blocked by other dependencies.

[2019-12-14 20:33] chrisbenincasa commented on #771
Gotcha, thanks. Was looking into memcached a bit today but it looks like it's blocked on 2.13 in bijection (handled here https://github.com/twitter/bijection/pull/287 by @martijnhoekstra). Other than that, it seems other modules are still blocked?

[2020-01-02 18:12] hderms commented on #771
@martijnhoekstra I am going to try to tackle `finagle-stats` and `finagle-stats-core`

[2020-01-02 18:53] yufangong commented on #771
@chrisbenincasa Thanks for looking at it, good find, we will need to work on the bijection dep first. I took another look at the project list, I think the `finagle-opencensus-tracing` might be unblocked by the recent http projects.

[2020-01-02 21:43] hderms commented on #771
@martijnhoekstra @yufangong I am handling finagle-opencensus-tracing as well https://github.com/twitter/finagle/pull/822

[2020-01-02 23:18] hderms commented on #818
@mosesn @martijnhoekstra do we think `ArraySeq` is a good candidate for this or was it specifically excluded for some reason I'm not aware of? https://www.scala-lang.org/api/current/scala/collection/immutable/ArraySeq.html

[2020-01-02 23:49] hderms commented on #771
How can we identify whether there will be performance regressions on a given upgrade like what happened in https://github.com/twitter/finagle/pull/797 ? Is there a benchmark that is run automatically and set to fail if performance falls below some threshold, or some other mechanism I can use to determine if one of my update PRs regresses?

Curious because I'm about to do `finagle-memcached`, and d

[2020-01-14 18:28] oz-stripe opened #824 "CounterSchema, HistogramSchema not found"
I'm trying to upgrade to 19.12 from 19.1, and it seems that `CounterSchema` and `HistogramSchema` used by `SummarizingStatsReceiver` are missing.

### Expected behavior

Expected this should build.

### Actual behavior

Building gives the error:
[code]

### Steps to reproduce the behavior
[code]

It seems that https://github.com/twitter/finagle/commit/c3332dc731d7bf7e4dfa886c56ff4c715a91f675 made

[2020-01-14 20:17] martijnhoekstra commented on #771
twitter-bijection 2.13 support was merged, but it's not part of the dodo build, so when a release comes around, maybe the last loose ends can be tied down.

[2020-01-15 23:12] oz-stripe commented on #824
Seems like it's part of the util package, outside of finagle..

[2020-01-15 23:12] #824 closed

[2020-02-03 08:45] martijnhoekstra commented on #818
immutable facades have the downside that you can't have structural sharing. When benchmarking, maybe that should be taken in to account. Cross-building finagle-benchmark is in PR at the moment at https://github.com/twitter/finagle/pull/827 but I haven't checked in how far such things are benchmarked. Maybe it'll only show up in macrobenchmarks.

[2020-02-06 10:53] sanjeevbis opened #828 "is it possible tls server handle tls and non tls client both in netty? My application is using java socket client server mode using java netty. I want to make this client-server communication using TLS handshake."
One line summary of the issue here.

### Expected behavior

As concisely as possible, describe the expected behavior.

### Actual behavior

As concisely as possible, describe the observed behavior.

### Steps to reproduce the behavior

Please list all relevant steps to reproduce the observed behavior.

[2020-02-06 11:01] sanjeevbis opened #829 "In my application it's java netty server work on client server mode. is it possible to accept tls and non tls request on server side?"
One line summary of the issue here.

### Expected behavior

As concisely as possible, describe the expected behavior.

### Actual behavior

As concisely as possible, describe the observed behavior.

### Steps to reproduce the behavior

Please list all relevant steps to reproduce the observed behavior.

[2020-02-06 11:01] #828 closed

[2020-02-06 15:44] bryce-anderson commented on #829
We don't surface netty as a first class API for creating clients or servers. For non-bug support checkout the resources linked [here](https://github.com/twitter/finagle#getting-involved).

[2020-02-06 15:44] #829 closed

[2020-02-06 15:45] bryce-anderson commented on #790
Closing since we couldn't repro this. If someone can get a repro case please reopen!

[2020-02-06 15:45] #790 closed

[2020-02-08 21:42] chrisbenincasa commented on #771
It seems we are waiting on the version of bijection to be updated in the private version of this repo before we can move forward, right? Is that the last blocker here?

[2020-02-09 11:18] martijnhoekstra commented on #771
No, bijection is through. There is a PR for memcached and benchmarks:  https://github.com/twitter/finagle/pull/827

That blocks integration and example. I think that's the last of it.

Then I think it would be nice to get all CI on 2.13 too.

[2020-02-09 15:32] chrisbenincasa commented on #771
Gotcha, sorry, I fell a bit behind on what was happening here. Is there anything I can do to help?

[2020-02-10 09:17] martijnhoekstra commented on #771
I have no idea how finagle-doc works, but it's not blocked by any subprojects anymore. Maybe that can be upgraded too.

Cross-project, twitter/twitter-server doesn't seem blocked anymore either. I'm not entirely sure what's still left to do for other projects, maybe it would be good to make a matrix for what's left to do and what's blocked (by what) for all OSS projects. For example, Finatra is bl

[2020-02-10 09:54] felixbr commented on #771
Technically it isn't blocked anymore as all finagle modules it uses are available for 2.13. Because of the way `dodo` works, however, it needs the full finagle project to build for 2.13, so the CI currently fails.

PR for reference: https://github.com/twitter/twitter-server/pull/60

[2020-02-13 10:17] politrons opened #830 "Disable cache in Http client"
Hi all,

We're suffering a weird behavior in our network using Finagle client with default configuration.

Once we establish a connection to some backends going through some proxies we detect that after some idle time, the connections are closed by Proxy, but Finagle has cached the connections, keeping opens, which provoke `IndividualRequestTimeoutException` when the client try to reuse those conn

[2020-02-13 17:44] DieBauer commented on #830
I believe https://twitter.github.io/finagle/guide/Clients.html#pooling is describing your observations. Did you try to set the sessionpool ttl?

[2020-02-13 19:28] politrons commented on #830
Actually is the only argument that I missing and looks like is the most important 😱. I will try again adding it! Thanks!

[2020-02-18 12:16] DanielCharczynski opened #831 "Case sensitive heders"
According to specification header names should be case insensitive..

https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

But when user adds "host" header finagle will add another "Host" header.
Two headers will be send with different values

Finagle at the moment is not compatible with headers defined in netty 4
netty uses lower case names

`io.netty.handler.codec.http.HttpHeaderNames`

[2020-02-20 19:14] yufangong commented on #831
Hi @DanielCharczynski , can you provide more information of reproducing the issue?
Finagle headers should be case-insensitive, actually force them to the lower case [here](https://github.com/twitter/finagle/blob/7acd423f88312a2f9dd00d38a06ae7ef3e51faf7/finagle-base-http/src/main/scala/com/twitter/finagle/http/HeaderMap.scala#L109). If two "host"s are set, the second host should win.

[2020-02-21 11:13] iPlessmann opened #832 "Illegal reflection warning when using Java 11"
When running on Java 11, an illegal reflection warning is raised in `com.twitter.jvm.Hotspot`

### Expected behavior

No warning

### Actual behavior

[code]

### Steps to reproduce the behavior

Set your environment to use java 11 and then run `sbt run` on an application that uses Finagle. I am using Finagle 19.11.0

[2020-02-25 14:39] DanielCharczynski commented on #831
Code
[code]

-------------------

request that has been sent

[code]

[2020-03-02 15:31] pvasterd opened #833 "Support for Hotspot JVM running on HP Nonstop"
Finagle does not work on HP Nonstop Hotspot JVM  as some native metrics functions are not implemented

### Expected behavior

Even if certain native functions are not supported by the underlying JVM - that are not essential for the base Finagle functionality- it should continue to initialize (and logging some warnings that certain information may not be available).

### Actual behavior

javax.nami

[2020-03-03 17:04] felixbr commented on #771
Just to keep track of everything:
`finagle-benchmark` is still marked as missing but it seems it was already included in #827.

This leaves only `finagle-integration`.
I can take a stab at it if no one else has already started on it :)

[2020-03-03 17:12] yufangong commented on #771
@felixbr thanks! it seems covered in finagle-memcached. Please go ahead with finagle-integration. I'm planning to do a March release soon and willing to wait for all subjects on 2.13.

[2020-03-03 18:03] martijnhoekstra commented on #771
There also is the otherwise unmentioned finagle-doc which looks to depend on other tooling (I didn't try getting it to build or run for very long)

[2020-03-04 13:07] sydt2014 opened #836 "finagle http can not work with kerberos"
When finagle http visit service with kerberos seecurity, it need authorization.

It occurs :
No.LoginModules.configured.for.name
this is because some code lack kerberos configuration in
com.twitter.finagle.http.SpnegoAuthenticator
line 149:
 portalOption = Some(new LoginContext(loginContext))
the LoginContext() lack configuration about kerberos like this:

  return new AppConfigurationEntry[]{new

[2020-03-04 13:08] sydt2014 commented on #836
It can not work because there is no kerberos configuration!!!

[2020-03-06 03:13] sydt2014 commented on #836
The correct code is
new LoginContext(loginContext,null,null,new AppConfigurationEntry[] )

[2020-03-09 16:58] ryanoneill commented on #832
Hi @iPlessmann, as you can see, our Java 11 support still needs some work. Since Twitter forks and maintains our own JVM version internally, we're still using Java 8. Also, perhaps our version of Java 11 has been modified to make this a non-issue.

Would you be interested in submitting a pull request to resolve this? This code to modify is most likely in the [util](https://github.com/twitter/util)

[2020-03-09 17:03] ryanoneill commented on #833
Hi @pvasterd, I doubt any of this have this specific type of machine. Would you be interested in submitting a pull request to fix this? The code to take a look at is in the Twitter [util](https://github.com/twitter/util) package, either `Jvm` or `JvmStats`. In the initialization code that you've referenced here, we call `JvmStats.register` which creates an instance of `Jvm`. At first we try to cre

[2020-03-09 17:24] ryanoneill commented on #836
Hi @sydt2014, I believe everyone using this internally does so through the use of two system properties:
* java.security.auth.login.config
* java.security.auth.login.context

I am not sure of the specifics as this isn't code that any of us have looked at deeply in a long time. This code is mostly maintained by the folks at Twitter who are actively using it, and it is used quite extensively for mul

[2020-03-10 18:19] pvasterd commented on #833
@ryanoneill , yes I will give it a shot and create a pull request.

[2020-03-10 18:22] ryanoneill commented on #833
Great!

[2020-03-12 19:21] yufangong commented on #831
@DanielCharczynski , sorry I missed your response before. I think `RequestBuilder` doesn't have a consistent behavior to treat headers case insensitive, it doesn't align with building directly with request.headerMap.set("xx", "yy;zz"). I'm going to put up a fix. Thanks for reporting!

[2020-03-15 12:43] #836 closed

[2020-03-15 12:45] sydt2014 opened #837 "how to get host from a client?"
one client  like this :
 val client: Service[Request, Response] = Http.newService("st1-druid-3:8090"),
and use
client(request),
but how to set request.host = "st1-druid-3" from client ?

[2020-03-16 17:36] ryanoneill commented on #837
Hi @sydt2014,

You have two options:
1. Set the host header directly on the request for each request before passing it to your client.
2. Add a filter to your client which sets the host header automatically.

[code]

[2020-03-16 18:16] yufangong commented on #831
Hey @DanielCharczynski, we put up a fix for this here https://github.com/twitter/finagle/commit/535f324c8255f87f7848ad927759dac63888ad22. Feel free to test against the develop branch. The April release will have this fix.
I'm closing this one, If you still experience issues, please open another one.

[2020-03-16 18:16] #831 closed

[2020-03-17 11:13] pvasterd commented on #833
I fixed the problem in twitter util-jvm.

Therefore, I will create the PR on twitter/util and "move" this issue to twitter/util as well (that is close issue here and recreate the issue in twitter/util)

[2020-03-17 11:27] pvasterd commented on #833
Closing issue here in favour of https://github.com/twitter/util/issues/272

[2020-03-17 11:28] #833 closed

[2020-03-17 14:32] mosesn commented on #830
@politrons since you didn't follow up here, I'm going to assume that solved your problem and close the ticket.  Thanks for your help @DieBauer!

[2020-03-17 14:32] #830 closed

[2020-03-18 03:16] huangyoje opened #838 "Inheriting MarshalledContext.Key in java has compile-time error"
Inheriting MarshalledContext.Key in java has compile-time error
### Expected behavior
Inheriting MarshalledContext.Key in java as follows:
[code]
Expected this  to work, there should no compile-time and run-time error.

### Actual behavior
There is a compile-time error.
[code]
### Steps to reproduce the behavior

Just run above codes.

[2020-03-31 13:17] martinffx commented on #771
@yufangong did this make it into the release?

[2020-03-31 17:51] yufangong commented on #771
@martinffx this will be in April release which will happen in the next couple days.

[2020-04-03 13:23] dziemba opened #839 "Thrift client throws: NoSuchMethodError: java.nio.ByteBuffer.clear()Ljava/nio/ByteBuffer"
When using the thrift client, it throws a `NoSuchMethodError` when running on Java 8. Running on Java 11 works fine. This has been happening since finagle 20.4.0 (20.3.0 works fine).

### Expected behavior

Thrift client works as expected.

### Actual behavior

It throws:
[code]

### Steps to reproduce the behavior

Example code:
[code]

[code]

Full example (`sbt run`able): https://github.com/dzi

[2020-04-06 13:51] dziemba commented on #839
I've update the issue with a full reproduction example to make debugging easier. Please let me know if you need more details. Thanks!

[2020-04-09 10:19] dziemba commented on #839
I did some more testing: I built finagle/scrooge/util from the 20.4.0 tag both with Java 8 and Java 11. The Java 8 build also works with the above test case under Java 8. The Java 11 build fails as described.

I'm not familiar with your build/release setup, but my assumption is that you're building the artifacts with Java 11, while still targeting Java 8 bytecode.
That usually works fine, but in s

[2020-04-16 15:35] dziemba commented on #839
@bryce-anderson @ryanoneill @illicitonion @yufangong
I apologize for the direct ping, but it would be super cool if someone can have a look at this before the next release, since we'd love to keep up with the latest finagle version.

Please let me know if you need more details or if I can help out in any way.

[2020-04-20 00:24] cpretzer commented on #839
@dziemba nice work on getting to the bottom of this.

+1 for java 8 build. I can't upgrade to finagle 20.4.0 without it because scala recommends [compiling with java 8](https://docs.scala-lang.org/overviews/jdk-compatibility/overview.html#jdk-11-compatibility-notes#running-vs-compiling)

In addition [this ticket](https://github.com/twitter/finagle/issues/832#issuecomment-596651997) states that Jav

[2020-04-20 17:37] roanta commented on #839
@dziemba thanks for posting this and the relevant details.

This release went through some hiccups in our process and environment, specifically around jdk versions, and this issue is likely a fallout from that. We're working to address this and figure out a path forward, but it sounds like 20.4.0 is a bad artifact. We will update as we know more and can give an ETA on the next release.

[2020-04-20 22:26] cpretzer commented on #839
Awesome, thanks @roanta

[2020-04-27 00:36] baughmann commented on #499
From what I've seen, Finatra does not support uploading files as streams

[2020-04-27 09:30] dziemba commented on #839
The issue seems to be fixed in v20.4.1. Thanks a lot @roanta! 🙂

[2020-04-27 17:29] roanta commented on #839
That's great!

Credit to @yufangong for fixing the underlying issues and doing a followup release!

[2020-04-27 17:29] #839 closed

[2020-04-28 20:48] yufangong commented on #771
We believe the most recent release 20.4.1 should have everything cross-building with Scala 2.13, I'm going to close this issue.
Thanks all for making this happen!!! ❤️ ❤️ ❤️

[2020-04-28 20:48] #771 closed

[2020-04-30 01:02] yufangong commented on #838
Hi @huangyoje, I tried running this code on both Java 8 and Java 11, both working. Can you double-check your code environment? Thanks!

[2020-04-30 04:08] huangyoje commented on #838
Hi, I uploaded the code to reproduce this issue, my code environment are as follows:

[impl.zip](https://github.com/twitter/finagle/files/4556063/impl.zip)

[code]

[2020-05-01 16:04] yufangong commented on #838
@huangyoje got it. Unfortunately, we don't support building through javac with classpath, it's hard to tell what things are missing there. I'll suggest you build the system, using [sbt](http://twitter.github.io/finagle/guide/Quickstart.html#setting-up-sbt) or maven see if the problem remains.

[2020-05-11 13:21] spockz opened #850 "Move FinagleMDCAdapter from Finatra to Finagle"
Move the [`FinagleMDCAdapter`](https://github.com/twitter/finatra/blob/develop/inject/inject-slf4j/src/main/scala/com/twitter/inject/logging/FinagleMDCAdapter.scala) from Finatra to Finagle as it is usable for everyone using Finagle and doesn't contain Finatra logic.

### Expected behavior

I want to be able to hook MDC to Finagle's context without having to depend on Finatra as well.

[2020-05-18 08:21] yetanotherion opened #852 "Don't use IPv6 when NICs have only local IPv6 addresses"
When NICs have only local IPv6 address-es, finagle fails to reach destination hosts.
A fix for finagle was proposed at https://github.com/twitter/finagle/pull/849
Netty fixed the issue at https://github.com/netty/netty/pull/10170

### Expected behavior

Finagle does not use the IPv6 address-es returned by AAAA queries.

### Actual behavior
When NICs have IPv6 address-es configured, even if they're

[2020-05-19 01:23] ryanoneill commented on #850
Hi @spockz, entirely reasonable request and understandable. Finagle, unfortunately, still depends on the ancient `com.twitter.logging` (based on JUL), and not slf4j, yet. It's on our roadmap, but other work consistently jumps ahead of that migration. Until that's in place, I don't see something like `FinagleMDCAdapter`, which depends on slf4j types, being moved into Finagle proper. Once Finagle de

[2020-05-20 09:44] olib963 opened #853 "Creating your own Services"
I cannot find in the docs a way to create a `Service[NotRequest, NotResponse]`, perhaps I am missing something obvious but I am wondering if you need to recreate the whole stack.

### Expected behavior

I would like to be able to extend the `Request` and `Response` types to create a `Service[AuthorisedRequest, MonitoredResponse]`.

### Actual behavior

I can implement a `Filter[Reqest, Response, A

[2020-05-20 11:23] wickeduk opened #854 "client-server-anatomy in doc needs updating/deleting + documentation concerns"
Hi,

The code doesn't compile, build doesn't work (Java 11), it doesn't support the latest netty/finagle. At least the following problems will need correcting:

Pipeline:
object StringClientPipeline extends ChannelPipelineFactory {
  def getPipeline = {
    val pipeline = Channels.pipeline()
    pipeline.addLast("stringEncode", new StringEncoder(CharsetUtil.UTF_8))
    pipeline.addLast("stringDeco

[2020-05-20 16:04] cacoco commented on #853
Hi there,

I think you're looking for [Service.mk](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/Service.scala#L28)? This will allow you to easily create a `Service[YourRequestType, YourResponseType]`.

[code]

I would highly recommend reading through the [Finagle User's Guide](http://twitter.github.io/finagle/guide/) if you haven't already. There'

[2020-05-20 16:11] cacoco commented on #850
As @ryanoneill mentioned, that functionality is now fairly separated with dependencies only on finagle-core, util-core, our slf4j-api scala wrapper (util-slf4j-api), and the slf4j-api itself.

There is a cross module dependency on Finatra's slf4j-api scala wrapper but its dependencies are again util-core, util-slf4j-api, and the slf4j-api...along with Jackson -- which isn't ideal and we're working

[2020-05-20 16:19] olib963 commented on #853
I am very sorry. I appear to have opened the issue on the wrong project! I hope you have a nice day and thank you for taking the time to look into it anyway!

[2020-05-20 16:19] #853 closed

[2020-06-02 13:42] alikemalocalan opened #855 "Sbt assembly deduplicate error"
i handle this  exception on **20.5.0**  at running `sbt assembly` after upgrade version 20.5.0

`
1 error was encountered during merge
[error] java.lang.RuntimeException: deduplicate: different file contents found in the following:
[error] /Users/alikemal.ocalan/Library/Caches/Coursier/v1/https/repo1.maven.org/maven2/com/fasterxml/jackson/core/jackson-annotations/2.11.0/jackson-annotations-2.11.0.

[2020-06-09 15:36] andrievsky opened #856 "TLS performance degradation when using Java 11"
Significant TLS performance degradation after switching to AdoptOpenJDK 11 or above. Checked on Debian and Mac. Reproducible both locally and using k8s cluster with official AdoptOpenJDK images.

**Platform**: Debian, Mac

**Sbt**: 1.3.12

**Scala**: 2.13.2, 2.12.8, 2.11.12

**Finagle**: 20.5.0

### Expected behavior

Similar CPU utilization in Java 8 and Java 11

### Actual behavior

CPU utilizat

[2020-06-11 12:50] alexanderkjeldaas commented on #700
I have a pretty bad performance issue that seems to be related to this.

Subject alternative name missing in SSL:

[code]

[2020-06-12 21:29] plaflamme opened #857 "MethodBuilder from the HTTP stack doesn't allow `.withTraceInitializer`"
`http.MethodBuilder` hides the `.withTraceInitializer` method on the underlying `client.MethodBuilder`.

### Expected behavior

It should be possible to call `.withTraceInitializer` on `http.MethodBuilder`.

### Actual behavior

`http.MethodBuilder` hides `client.Methodbuilder.withTraceInitializer`

### Steps to reproduce the behavior

N/A

[2020-06-12 21:34] hamdiallam commented on #857
Thanks! Are you interested in submitting a PR to support this?

[2020-06-12 21:50] plaflamme commented on #857
Sure: https://github.com/twitter/finagle/pull/858

[2020-06-17 06:01] yetanotherion commented on #852
Hello @bryce-anderson , @hamdiallam , @mosesn , @roanta,
this is a kind reminder of this issue posted the 18th May. https://github.com/twitter/finagle/issues/857 was created the 13th of June and
got a feedback from one of you. This could indicate that this issue may have been considered as having a lower priority, or that it did not fit the process depicted in https://github.com/twitter/finagle/bl

[2020-06-17 18:03] hamdiallam commented on #852
I'll loop back to the PR this week. The changes looked fine on the initial pass. Sorry for missing this!

[2020-06-17 20:46] hamdiallam commented on #856
Can you paste outputs from something like async profiler? (https://github.com/jvm-profiling-tools/async-profiler) This seems to be more of a problem with AdoptOpenJDK perhaps? Have you tried to see if this regression is present using OpenJDK 11?

[2020-06-23 22:25] andrievsky commented on #856
Yes, basically the results are the same. This regression is present in OpenJDK 11.

I tested both Oracle and Adopt images using Docker on Mac. I also got similar results on native Linux and Mac Java runtime earlier.

Native OpenSSL has been used in all cases (using static lib io.netty.tcnative.boringssl).

Async-profiler data collected from  `$ ./profiler.sh -d 30 {PID}` under the same conditions

[2020-06-24 16:01] politrons opened #860 "Set own ExecutionContext in Twitter future"
Hi I´m reading the documentation regarding the Futures and Context where to execute them https://twitter.github.io/finagle/guide/Contexts.html

But I cannot find a way to pass to finagle to use my own ExecutionContext as you can do with Scala future.
There's any way to do that?.

Regards.

[2020-06-24 16:59] hamdiallam commented on #860
Hey, I believe what you're looking for is a `FuturePool`, https://twitter.github.io/util/docs/com/twitter/util/FuturePool$.html

You can create a FuturePool backed by a supplied ExecutorService. The work in the `apply` will be scheduled but the Executor along the continuations on the returned future.

[2020-06-24 17:00] hamdiallam commented on #857
Closing this as it was merged

[2020-06-24 17:00] #857 closed

[2020-06-24 17:14] hamdiallam commented on #852
looking now

[2020-06-24 17:59] politrons commented on #860
How is this FuturePool used once I created?. Finagle Service does not apply a function param for this FuturePool. shall I defined as implicit like Scala Future allow and that's it?. Sorry I´m little bit lost here.

[2020-06-24 18:16] politrons opened #861 "withExecutionOffloaded in 18.11.0 version"
hi all, with version 18.11.0 how can use this `Offloading` as is described in this example code https://twitter.github.io/finagle/guide/ThreadingModel.html

[code]

I cannot find `withExecutionOffloaded` as part of `Http.client` in my version. And I´m afraid upgrade is not an option.

Basically I need to configure my own `ExecutionContext`. Any other solution for my current version?

Regards

[2020-06-24 21:28] hamdiallam commented on #861
The OffloadFilter is a relatively new feature. 18.11.0 is a release from two years ago which does not include the changes where the OffloadFilter and `withExecutionOffloaded` api was introduced.

If upgrading is not an option, you can copy the filter code into your app and compose it with your Http client. It's relatively simple. [Client Filter](https://github.com/twitter/finagle/blob/develop/fina

[2020-06-24 22:53] hamdiallam commented on #860
No problem, I understand the confusion.

Some clarity around what you are trying to accomplish would be helpful. In terms of `Finagle Service`, is your intention to use your own Scheduler for finagle threads? Or are you trying to simply trying to perform some computation asynchronously using a provided Executor?

By default, all of Finagle's futures are scheduled using the [FinagleScheduler](https

[2020-06-25 09:22] politrons commented on #860
How would you use a FuturePool with a Finagle `Service` created?.

What I want is to make the request of the Finagle Service running in a particular` ExecutionContext`

`FuturePool(Executors.newFixedThreadPool(2)).Future().flatMap(_ => service(request) this is terrible 😅`

[2020-06-25 16:40] hamdiallam commented on #860
I see. Have you looked using the Offloading functionality in Finagle, https://twitter.github.io/finagle/guide/ThreadingModel.html#offloading?

The threads used by Finagle are IO threads. Blocking these threads will impact performance. Using the offload filter to run your application code in a dedicated thread pool would mitigate this.

For example, 14 worker (application) threads and 14 IO threads

[2020-06-25 19:03] politrons commented on #860
I´m afriad I cannot use offloading in our mandatory version 18.11.0 😒

[2020-06-25 19:10] hamdiallam commented on #860
Ah, I didn't realize you also posted #861

The offload filter can still be applied manually to your client/server stacks. Did you get a change to see my latest comment there?

[2020-06-25 19:22] politrons commented on #860
Hi,

Yes I was trying now to apply that code. I guess is just the Client class which is a filter right?.

Can I use composition with andThen using that class?

Enviado desde mi iPhone

[2020-06-25 21:13] hamdiallam commented on #860
yep!

It would look something like this
[code]

Be sure to share the `offloadWorkerPool` so that the same worker pool is used across your various clients. A similar process can be used for the offloading your server code.

The number of IO threads by default is the number of cores on the machine. If you'd like to change that, this flag should still be available to you
`-com.twitter.finagle.netty4.

[2020-06-25 21:35] politrons commented on #860
Yep I just create my own Filter and I add it the Service

[code]

Unfortunately  no improvement so far. I will continue investigating.
Thanks a lot for all the support

[2020-06-25 23:28] hamdiallam commented on #860
hm interesting. I would also recommend profiling your service/code to find blocking threads, making sure they aren't finagle threads

[2020-06-26 07:31] politrons commented on #860
I´ve been playing with visualVM and I can see the 100 threads of the FuturePool that I created, but they are park, and I can only see the 24 threads of finagle/netty4 running.

I dont think the interrupt and shifted is working as we expect. Also I think even if it worked the filter is applied when I receive the response, but that's too late all the blocking part are the 500ms I´m waiting for the r

[2020-06-27 08:57] politrons commented on #860
Hi again I made a very simple example, and watching threads with `VisualVM` I cannot being able to make the Future to being interrupted and passed the execution into one Thread of the `FuturePool`

[code]

[2020-06-27 08:58] politrons opened #862 "Pass Twitter Future into FuturePool Threads"
Hi all,  I made a very simple example, and watching threads with VisualVM I cannot being able to make the Future to being interrupted and passed the execution into one Thread of the FuturePool. Any idea how to achieve this?.

[code]

[2020-06-27 21:33] politrons commented on #860
I make it work a little example with this code, what do you think?

[code]

[2020-06-29 14:17] andrievsky commented on #862
Hi,
if you would like Netty to map underling request processing to custom thread pool executor probably there's a way, however I'm not sure what you're hoping to achieve. Maybe this example with and without FuturePools could help:

**Before**
[code]

**After**
[code]

[2020-06-29 18:43] politrons commented on #862
Hi for the answer. Basically I have the problem that Finagle by default use an ExecutionContext with same number of threads as cores I have in my machine. And with block operations that number is not enough for a good performance and I would like to use another ExecutionContext with more Threads.

Here what I tried so far

[code]

But the only thing that I achieve is to move the response from the

[2020-06-29 23:23] hamdiallam commented on #862
Where is the blocking code being run? The same thread will run the continuations. `pool(shifted.update(t)` returns a future

if you adjusted the following, I believe you'll see the desired affect.
`shifted.respond { t => log.info(null, s"FINAGLE RESPONSE $t IN THREAD ${Thread.currentThread().getName}")`

With the sample you've posted `response` is apart of the finagle thread, the log statement occ

[2020-06-29 23:25] hamdiallam commented on #861
Is it okay if I close this issue?

[2020-06-30 07:13] politrons commented on #862
Hi @hamdiallam This code that I posted was extracted from one filter that is trying to do that. The change you suggest it does not work and I think is logical. The code is just transfering the Finagle thread content into the promise, but when that happens it's too late since the whole request/response has been done in the Finagle Netty thread.

Code here https://github.com/twitter/finagle/blob/dev

[2020-06-30 08:29] andrievsky commented on #862
@politrons From my experience you should never block Netty threads if you're looking for high and predictable performance of your service and offload blocking code to another pool.

You could try 2 things, both described here - https://twitter.github.io/finagle/guide/ThreadingModel.html

### Just increase number of threads

Or per entire application (JVM process), using command-line flags:
[code]

[2020-06-30 09:41] politrons commented on #862
We're using version 18.11.0 which not contains `withExecutionOffloaded` Like I said before since it's seems it's not possible extend the number of workers programatically I will use `com.twitter.finagle.netty4.numWorkers=???`

Thanks

[2020-06-30 11:48] politrons commented on #861
sure

[2020-06-30 11:48] #861 closed

[2020-06-30 17:08] hamdiallam commented on #862
@politrons

Can you clarify how the suggestion I posted does not work? I tried it out right now and does. It's the same mechanism in the OffloadFilter

In this example you can consideer `executorA` to be the finagle/netty threads and `executorB` being the application worker threads

[code]
outputs "GroupB-1"

[2020-07-01 08:21] spockz commented on #850
@ryanoneill and @cacoco having a separate module in Finatra works for me as well.

I think we can close this as I don't expect Finagle to go to SLF4J any time soon. :)

[2020-07-05 22:53] andrievsky commented on #856
@hamdiallam Hello, would you like to be so kind to assist with the issue?

[2020-07-06 18:06] hamdiallam commented on #856
Hey! Sorry for not getting around to this.

Just synced with some more folks internally. Our current builds and runtime environments are targeted towards JDK 8. JDK 11 is currently experimental and we are working towards moving towards JDK11.

I'll spend some time to see if I can reproduce a regression in our integration environment using a JDK 11 build. If so, this is something that will have to

[2020-07-06 18:06] hamdiallam commented on #860
Closing in favor of #862

[2020-07-06 18:06] #860 closed

[2020-07-06 18:07] #852 closed

[2020-07-06 18:13] hamdiallam commented on #856
Also thanks for the time it took to produce this data. It's super helpful

[2020-07-07 23:44] enbnt commented on #855
Hi @alikemalocalan, can you provide a little more context on your setup prior to running the sbt command?

[2020-07-18 11:54] alikemalocalan commented on #855
Maybe Problem would be adding jackson into every sub project dependencies. why did  com.fasterxml.jackson.core had added every finagle util dependencies. maybe it would be enough just to put it in the com.twitter:util-core ?

[2020-07-18 20:54] deployop opened #868 "Finagle Request `CookieMap` only takes last cookie when Cookie $Version is provided"
I noticed that the $Version parameter in cookies causes (what I think is) unexpected behavior in Finatra's parsing of the cookies from the request.

Finatra / Finagle version: `19.6.0`.

### Expected behavior

Pass a Cookie as a Request with Versions:
`"Cookie: $Version=1;firstCookie=value1,$Version=1;secondCookie=value2,$Version=1;thirdCookie=value3"`

`request.cookies` `CookieMap` should have si

[2020-07-21 18:01] ryanoneill commented on #868
Hey @deployop, thanks for the report. I'll take a look into this soon.

[2020-07-21 20:19] ryanoneill commented on #868
Hey @deployop, here's my current understanding of the situation.

This style of cookie was introduced in RFC 2109 and then updated in RFC 2965 in October 2000. It was then considered obsolete as of 2011 when RFC 6265 came out. Considering that this hasn't come up before (that I'm aware of), and it's been considered obsolete for almost 10 years now, I don't see us changing Finagle to incorporate th

[2020-07-21 23:11] deployop commented on #868
Hey @ryanoneill! Thanks for the context!

I'm using avax.ws.rs / Jersey clients.
I could manually construct a Cookie value by String concatenating the values, since I know that Finagle is taking only the last cookie.

It's not a critical blocker, but at the same time, that approach seems very hacky to do across multiple production projects.

[2020-07-21 23:31] ryanoneill commented on #868
So, the issue isn't that it takes the last cookie. The issue is that we don't support the '$Version' attribute at all. This was something that was part of those older style cookies that is not part of RFC 6265. And if we encounter an unknown attribute, we treat that particular cookie as invalid and throw it out.

As an example from a Scala repl with finagle/finagle-http
[code]

[2020-07-22 00:44] deployop commented on #868
hmm, that's quite strange...

If you don't think Finage will support this, feel free to close and we'll come up with a workaround.

[2020-07-24 18:52] ryanoneill commented on #868
Yeah, I don't see us adding support for '$Version' at this stage, so I'm going to close this issue.

[2020-07-24 18:52] #868 closed

[2020-08-10 08:42] tbcd opened #869 "Finagle headers blocked by AWS CloudFront's new Cache/Origin Policies"
I've filed a support case with AWS, but just a heads-up, and to save anyone else out there searching for answers...

AWS CloudFront launched a new Cache/Origin Policies feature a few weeks ago. While legacy policies can still be used for now, the new policy features are selected by default for new distributions.

The regression is that they completely reject all client requests containing HTTP hea

[2020-08-21 20:58] bryce-anderson commented on #869
Thanks for the heads up. Seems like a curious rule.

[2020-08-28 20:54] bm1549 opened #871 "Finagle Redis does not handle operation redirects"
The existing Finagle Redis client does not handle operation redirects such as `MOVED` and `ASK`. It appears that this may have been supported as part of https://github.com/twitter/finagle/pull/648 but that PR was never merged.

### Expected behavior

When a server in the Redis cluster responds with `MOVED`, the Redis client should follow the redirect to the other server.

### Actual behavior

The

[2020-09-08 19:51] vikramkadi opened #872 "StdStackServer connections ConcurrentHashmap holding on to connections and running out of memory"
Finagle http server(version: 6.39.0) seems to not release older connections from the concurrenthashmap/set increasing old gen space overtime.

### Expected behavior
The connections bookkeeping set/map should clean up older entries(https://github.com/twitter/finagle/blob/finagle-6.39.0/finagle-core/src/main/scala/com/twitter/finagle/server/StackServer.scala#L230).

### Actual behavior
On taking a j

[2020-09-08 20:26] enbnt commented on #872
Hi @vikramkadi, have you tried reproducing this issue with a more recent version of Finagle? The 6.39 version appears to be from 2016 and the code has changed significantly. I would recommend trying an upgrade and seeing if the issue persists. If it is still there on the latest release, we will need to gather some more context to assist. Thank you.

[2020-09-08 20:41] enbnt commented on #850
Thanks @spockz, closing this out.

[2020-09-08 20:41] #850 closed

[2020-09-08 20:42] enbnt commented on #814
Re-ping to see if we should leave this open or close out shortly?

[2020-09-09 15:51] mosesn commented on #871
@bm1549 would you be interested in taking a stab at this?  The cluster client hasn't historically been partition-aware, so I think a simple approach to this would be augmenting ServerError to treat MOVED specially so that clients know how to handle it, and a more sophisticated approach would be to try to make the redis cluster client partition-aware.

[2020-09-09 16:07] bm1549 commented on #871
@mosesn #648 seems to have [implemented that](https://github.com/twitter/finagle/pull/648/files#diff-ee131d998bdfcff78f6d7d99e244c26eR44-R60), but it was never merged. I could re-open that PR and make any necessary adjustments to handle a merge conflict, but I don't have the time required to implement anything further. Let me know if that would be helpful and I can spend some time on that in the c

[2020-09-24 12:53] bebaskar commented on #748
This issue is again seen in the finagle-core_2.12. Whenever there is a change in DNS, the connection remains persists & the client is not closing the connection.

 com.twitter.finagle.loadbalancer.LazyEndpointFactory$$anon$1: Tried to acquire endpoint after it was closed
	at ....
	at scala.concurrent.Future.$anonfun$recoverWith$1(Future.scala:417)
	at scala.concurrent.impl.Promise.$anonfun$transfo

[2020-10-22 20:40] clayreimann commented on #700
@kevinoliver or @spockz any pointers on where I could take a pass at fixing this? I'd either like to suppress the error, or better yet add a handler for this problem. We see this sort of error a lot as our internal security folks scan for hosts that will accept obsolete cipher suites which causes us problems.

[2020-10-22 20:49] spockz commented on #700
For the original issue I would suggest looking at the log lines in `com.twitter.finagle.netty4.channel.ChannelStatsHandler` to suppress stack traces and/or reduce the log level for these known exceptions caused by "client errors". I don't have a concrete list of known exceptions so this might turn into a game of whack-a-mole.

When doing this it might be worthy to verify these exceptions are still

[2020-10-22 21:01] clayreimann commented on #700
Thanks, that's very fair.

Is there a way for me to extend the netty pipeline to catch this (or similar) errors? I took a brief look through the docs but didn't see an obvious answer.

[2020-10-23 15:26] rogern opened #873 "Missing support for default charset in Mysql 8"
Decoding fails with Mysql 8+ because it use **utf8mb4** as default charset which isn't supported
### Expected behavior

Decoding, (Encoding?) should handle the charset **utf8mb4**.

### Actual behavior

Decoding result fails with:
`com.twitter.finagle.mysql.LostSyncException: java.lang.IllegalArgumentException: Charset 255 is not supported.`

### Steps to reproduce the behavior

Use mysql 8+ with

[2020-10-23 20:32] rogern commented on #873
Running the integration tests with mysql 8+ shows the error.
[code]

[2020-10-26 15:10] spockz opened #874 "No TLS Session re-use when using `Netty4ClientEngineFactory` (default)"
No TLS Session re-use when using `Netty4ClientEngineFactory` (default)

### Expected behavior

When establishing a second connection between the same client and server instance the TLS sessions should be re-used.

### Actual behavior

Each connection gets its own TLS session when configuring the client with `SslClientConfiguration`.

Using the default `SslClientEngineFactory` leads to using the `N

[2020-10-26 21:09] ryanoneill commented on #873
Hi @rogern, thanks for reporting. This recently came up internally at Twitter as well, so our current plan is to likely work on this early next year. If you have the time and inclination, you're welcome to look into this issue and report your findings/work on a fix.

[2020-10-28 17:18] ryanoneill commented on #874
So, I don't believe you need to cache the `Engine` but rather the `Context`. My understanding is that if the `Context` is cached, then it will work. We provide the `Netty4ClientEngineFactory` and `Netty4ServerEngineFactory` as the defaults because they're the safest in terms of correctness, but they aren't the best in terms of performance.

As I mentioned in gitter, we mostly use ones which are ti

[2020-10-29 17:08] ryanoneill commented on #874
Hey @spockz, yesterday I moved our `ExternalClientEngineFactory` into OSS Finagle. It's [here](https://github.com/twitter/finagle/commit/931785d94912b51b7920b1f2c737fa935f6120bf). I recommend taking a look at it, and perhaps using it in your tests to see if it exhibits the behavior that you're expecting. If so, we can talk about how to write one that completely suits your use case.

[2020-10-29 19:57] spockz commented on #874
Thank you for the example @ryanoneill. Caching the netty `SslContext` indeed does make more sense as the context creates the engine. Based on the input I create my own `ExternalContextClientEngineFactory` which gets a preconstructed netty `SslContext` passed in. I also configured the client with the `SslContextClientEngineFactoryClient` that takes a javax `SSLContext`. The results are astonishing

[2020-10-30 08:48] spockz commented on #856
@andrievsky what happens if you use the [`SslContextServerEngineFactory`](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/ssl/server/SslContextServerEngineFactory.scala) instead? I noticed that for clients using the client variant improves the performance significantly, see #874.

[2020-11-02 08:33] ayushworks opened #875 "JVM : SIGSEGV crash after upgrading from Finagle version to 20.4.0 from 19.9.0"
After upgrading from finagle-core 19.9.0 to 20.4.0 we are seeing segmentation fault JVM crashes.

### Expected behavior

Segmentation fault should not happen.

### Actual behavior

Our application is quite I/O intensive. We receive a lot of http calls(20TPS) and we also make a lot of http calls (on a busy day 30TPS). The application is a Scala/Java jersey war deployed on tomcat server.

We are usi

[2020-11-02 13:44] hexawyz commented on #869
My team stumbled on this problem – or at least very similar one – very recently, while sending requests to a server that we don't own. (Using Finagle version 19.9.0)

After reading the code, and a bit of help from my coworker, I came up with this workaround to remove undesired headers from Finagle requests, but it feels a bit brittle:
[code]

We are working around two issues here:
1. Though Finagl

[2020-11-02 21:49] yufangong commented on #875
Hi @ayushworks, we had some JDK error in the 20.4.0 release and patched 20.4.1 https://finagle.github.io/blog/2020/04/26/release-notes/.
Can you try to upgrade to 20.4.1 or the latest 20.10.0 to see if it can mitigate the issue? We will start to think about how to mark the problematic releases, thanks!

[2020-11-13 15:17] mosesn commented on #869
@GoldenCrystal I don't think we have the bandwidth to implement that right now, but we'd be happy to guide you through building it, if you do!

[2020-11-14 18:53] MrCull opened #878 "The README file in this repo has a bad link - [404:NotFound]"
The README file in this repo has a bad link - [404:NotFound]

### Expected behavior

Link should work and I think it should point to here:
https://github.com/twitter/code-of-conduct/blob/master/code-of-conduct.md

### Actual behavior

When clicking: “Open Source Code of Conduct”
Status code [404:NotFound] - Link: https://github.com/twitter/code-of-conduct/blob/release/code-of-conduct.md

### Steps

[2020-11-24 17:30] ryanoneill commented on #878
Covered by PR https://github.com/twitter/finagle/commit/e169f083d6d2721bf6ae431fa9f0db3370960330

[2020-11-24 17:30] #878 closed, assigned to nobody

[2020-11-26 09:31] cch123 opened #881 "question: how to generate a unique and contiguous id for a single service"
I don't know whether it's proper to put the question here, if not please tell me where to ask questions ~

in Finagle deterministic aperture document, it said:

I wonder how to get this **unique and contiguous** id, I may need to change our service discovery system to accomplish this, or make all the services to depend on an extra id generator, or something else?

[2020-12-04 14:29] rpless commented on #856
Reading through #874, the suggestion seems to be that caching the SslContext might mitigate this issue. A similiar effect can be achieved with the [ReloadingNetty4ServerEngineFactory](https://github.com/twitter/finagle/blob/develop/finagle-netty4/src/main/scala/com/twitter/finagle/netty4/ssl/server/ReloadingNetty4ServerEngineFactory.scala) which constructs the SslContext on an interval. Unlike the

[2021-01-05 02:46] SerCeMan opened #885 "Use of Jackson 2.12.0"
Hi, finagle maintainers!

Jackson has recently version [released 2.12](https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.12) and finagle currently depends on 2.11.2
https://github.com/twitter/finagle/blob/c4dc4fdc5beedec031a5af25a512e5319843f02b/build.sbt#L64-L70

I was wondering if there are any know issues that could prevent finagle from using 2.12.0 or using finagle with a transitive

[2021-01-05 18:38] yufangong commented on #885
Hi Sergey,

That's cool! Can you open an issue on GitHub propose a version bump and we
can start testing with the new version!
Thank you!

Yufan

On Mon, Jan 4, 2021 at 6:47 PM Sergey Tselovalnikov <
notifications@github.com> wrote:

[2021-01-05 18:42] yufangong commented on #885
Thanks, @SerCeMan. We will schedule some testing and see if we can bump the Jackson version!

[2021-01-06 06:57] SerCeMan commented on #885
Hey, @yufangong! Thanks, I created a pull request here: https://github.com/twitter/finagle/pull/886.

[2021-01-11 00:28] SerCeMan commented on #885
Just a note, a patch version, `2.12.1`, [was recently released](https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.12.1).

[2021-02-11 12:11] ayushworks commented on #875
Hey @yufangong : is the release 20.4.0 marked as problematic yet?

[2021-02-11 18:02] yufangong commented on #875
Hi @ayushworks, unfortunately, maven central published content is not modifiable, however, we have marked the problematic releases on our side in the CHANGELOG and release notes. Thank you!

[2021-02-11 18:02] #875 closed, assigned to nobody

[2021-02-23 18:49] bryce-anderson commented on #881
Sorry for the long delay, chances are you're no longer interested, but I'll answer the question regardless.

There are a number of strategies for this. The best strategy is to work in tandem with your job scheduling system and let it assign names. For example, if you have Service A, it's 4 instances would ideally be named something like `A/0, A/1, A/2, A/3`. This needs to be available to your inst

[2021-02-25 08:57] cch123 commented on #881
@bryce-anderson , thx very much

So service A needs to know the total number of its instances, when the service scales out to more instances, how do these instances be notified about this change? (Maybe subscribe itself in the service discovery system?

[2021-03-03 13:28] dziemba opened #893 "Ability to cancel tracing for a specific request from within the handler"
**Is your feature request related to a problem? Please describe.**
There is no obvious way to disable tracing (zipkin etc.) for a single request within a finagle-http-server.
My usecase is that I would like to exclude healthcheck requests (that unfortunately cannot be moved to e.g. a separate admin-server for $reasons) from sending any tracing information to zipkin.

**Describe the solution you'd

[2021-03-03 16:11] cacoco commented on #893
Possibly related to https://github.com/twitter/finatra/issues/271.

[2021-03-03 17:48] hamdiallam commented on #893
The [TraceInitializerFilter](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/tracing/TraceInitializerFilter.scala#L62) is responsible for initializing the trace id for the request to be handled. This is placed low in the stack before any other modules that might emit traces.

Ideally this feature would be handled in an opinionated library like Finatr

[2021-03-03 17:55] hamdiallam commented on #881
Yes for the **total** number of instances, the host should subscribe to the service discovery system about its own cluster to determine this.

For the instance id, there's a few ways to determine this as Bryce mentioned

[2021-03-04 09:14] cch123 commented on #881
@hamdiallam ,  thx for your reply

[2021-03-04 09:14] #881 closed, assigned to nobody

[2021-03-04 12:35] dziemba commented on #893
Thanks for the pointers!

I believe I got it working now like this:

[code]

That's good enough for me for now. I think it would still be nice if it was simpler than this but I see that it's not very easy to integrate that into the existing architecture.

[2021-03-04 19:57] hamdiallam commented on #893
That implementation looks correct. Glad it's working. I'll keep this issue open to find some time to design better integration

[2021-03-23 15:31] esarili opened #896 "Netty version upgrade"
Hi finagle team,

Current netty version used by finagle has the following security vulnerability:
https://nvd.nist.gov/vuln/detail/CVE-2021-21290

The issue is fixed in netty  version 4.1.59.Final. However it is not possible to override netty version for finagle because unfortunately netty has changed their naming convention for artifacts in 4.1.55.Final since, here:
https://github.com/netty/netty

[2021-03-23 17:34] jyanJing commented on #896
Hi @esarili , the netty version has been upgraded to 4.1.59.Final [last week](https://github.com/twitter/finagle/commit/ee6ced9153649cf99159614de962a2f3ba0811fa) ✌️

[2021-03-24 09:05] esarili commented on #896
Thanks @jyanJing, awesome news. This change will be included with the next release then, which I hope is soon.

[2021-03-24 09:05] #896 closed, assigned to nobody

[2021-03-29 03:40] godsey commented on #562
I found a way around this but it could get expensive. I setup cloudfront distribution with 1 sec min/max ttl pointed to the ALB. I then created a origin request lambda. This allows my backend to access the original Host header via X-Original-Host.

import json

def lambda_handler(event, context):
    event['Records'][0]['cf']['request']["origin"]["custom"]["customHeaders"]["x-original-host"] = [

[2021-05-12 16:09] tigerlily-he commented on #873
Hi @rogern, charset 255 for MySQL 8 is supported in finagle-mysql now. This is the commit with the changes: https://github.com/twitter/finagle/commit/25e581bb9106de16d027f709e153912585b5b0a5

[2021-05-12 16:09] #873 closed, assigned to nobody

[2021-05-27 15:31] politrons opened #899 "Finagle-Thrift streaming documentation not found"
Hi all,

So sorry if this request is in the wrong place. I'm plating with the Finagle-thrift library and I manage to create a functional example using a thrift file where I define the contract for there RPC call.
The part that I'm completely missing and I not able to find the in the whole internet, is an example of how can we use streaming with Finagle-Thrift.

Something similar as we use for HTTP

[2021-05-29 00:29] #899 closed, assigned to nobody

[2021-05-31 07:47] politrons opened #900 "Stream writer/reader only read first element sent"
Hi all,

I'm using version 18.2.0 of Finagle.

Having a Server configure for streaming

[code]

When I write in the `Writable`  with a delay between every write

[code]

In the reader I'm able to read all the element send

[code]

BUT if I remove the `thread.sleep(500)` in the Server for each write, I can only see in the client that the first number is printed, but no more elements are read.

Some

[2021-05-31 08:09] #900 closed, assigned to nobody

[2021-05-31 08:10] politrons commented on #900
I just figure that the writable which is a future must be compose with another writable to avoid backpressure issues

[2021-06-01 17:08] yufangong commented on #899
Sorry for the delay, Finagle doesn't have Thrift streaming support as of now, could you please share your use case a bit more? Is the large payload that drives to enable streaming or any other case. Thanks!

[2021-06-22 14:34] peter-janssen opened #905 "Make MinSendBackupAfterMs of the BackupRequestFilter configurable"
The MinSendBackupAfterMs is now set to 1 ms. Unfortunately this causes backup requests to be send when there is low load. It would be useful if we could set the minimum a little bit higher for certain endpoints.

[2021-06-25 14:17] dmackenthun commented on #704
Hi All,

I'm using version 20.4.1. When creating the redis client using the withPassword option I'm able to authenticate on the fly. The issue now, is that whenever I run a subscribe command with auth enabled I get ```java.lang.IllegalArgumentException: Not a subscribe/unsubscribe command
	at com.twitter.finagle.redis.exp.SubscribeDispatcher.apply(SubscribeDispatcher.scala:54)```

I believe the is

[2021-07-19 16:18] guilgaly opened #909 "`CookieMap#getAll` does not return all values for a given cookie name"
**Describe the bug**
The Scaladoc for `com.twitter.finagle.http.CookieMap#getAll` says that it "Fetches all cookies with the given name from this map.". However it appears to always return only the first value for a cookie name when handling a request and accessing the request cookies.

**To Reproduce**
1. Send an HTTP request with a cookie header containing different values for the same name (fro

[2021-07-22 22:12] yufangong commented on #909
Hi @guilgaly, I agree with you this smells like a bug. Pull requests are welcomed! thanks!

In terms of 2, can you explain a bit more of what would be the behavior change and how it would affect the use of `com.twitter.finagle.http.CookieMap#add`? Thanks!

[2021-07-26 11:19] guilgaly commented on #909
I'd say that the current behavior is correct for a response (it doesn't make sense to set different values for the same combination of name/path/domain; but we can always specify different paths with the same name). So we can't just change the cookie equality to always consider the value (plus it might have other impacts elsewhere).

Maybe the best solution is to just check if `message.isRequest`

[2021-07-28 21:08] yufangong commented on #909
@guilgaly thanks! That sounds like a legit solution. Looks like you are interested in patching this issue, I'll mark this in progress for now. ty!

[2021-08-04 04:56] shikhahere01 opened #910 "MDC attributes are not available on underlying thread"
Hi,

I am using the MDCInitializer and let method, to pass the MDC context from main thread to the underlying threads when asyncronus call is made.
I see that the MDC infomation is available on
http-nio-8081-exec-3
but not available on
finagle/netty4-2-29
and
Netty 4 Timer-1
so basically when the resonse is returned which is on different thread i dont see the MDC information available

Here is how

[2021-08-16 07:30] guilgaly commented on #909
@yufangong I forgot to mention: I opened a PR, and in addition to the above:
- I also had to preserve the insertion order for cookies of the same name, as seen in `getAll` and in the iterator, since that can matter for request cookies.
- In the tests, I split the cases where cookies are added with either `+` (which explicitly doesn't allow duplicates) or with `add`, but I don't know if that's clea

[2021-08-17 23:45] yufangong commented on #910
Hi @shikhahere01,
The `MDCInitializer.let` would put the context in the current **scope** of LocalContext, and finagle can manage it across threads per-request. Are you accessing the MDC context inside the function scope, in your case is the `service.apply(request)`?

Thanks!

[2021-08-18 06:51] shikhahere commented on #910
Hi @yufangong
I was accessing it in the exceptionally block when the response is returned and also in the Resposeclassifier. Basically I have thenApply().exceptionally()  , so if there is an exception there I would like to log it with MDC information. Also in Responseclassifier which is on a different thread too.

[2021-08-19 13:58] mosesn commented on #905
@peter-janssen So sorry for the long delay in getting back to you!!  I think that's pretty reasonable.  How would you feel about making a PR?

[2021-08-19 14:02] mosesn commented on #910
@shikhahere I'm a bit confused.  Are you converting from a Twitter Util Future => Java Completable Future?  I don't think that preserves MDC context by default.

[2021-08-21 05:35] shikhahere commented on #910
Yes that is correct. How do I preserve that ?

[2021-08-21 05:36] shikhahere commented on #910
It is ofcourse preserved on main thread. Just not in exception and timeout

[2021-08-30 12:06] shikhahere01 commented on #910
@mosesn any advice?

[2021-09-01 10:04] DieBauer opened #912 "Allow more special characters in Path"
I'm using the Methodbuilder and use the passed Name with a custom Namer to do a lookup.

[code]

When the path contains characters that are not allowed by `Path.showableChars` https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/Path.scala#L59 (for example some OData endpointstyle `/endpoint/Method(':param:')`) this method crashes with an exception.

[cod

[2021-09-05 21:19] Hakky54 opened #913 "Client with TLS configuration not working on v21.8.0 - IllegalArgumentException: ApplicationProtocols.Supported is not supported at this time for SslContextClientEngineFactory. Remote Info: Not Available"
**Describe the bug**
I was using finagle http client v21.6.0 which was working fine but I attempted to upgrade it to v21.8.0 however my integration test is failing with the following stacktrace:

[code]

See here for the build logs on github action: https://github.com/Hakky54/mutual-tls-ssl/actions/runs/1203878245

On this repo I demonstrate how to easily configure 40+ http clients with ssl/tls an

[2021-09-07 09:12] 24kpure opened #914 "A link is expired"
`http://www.eckner.com/papers/ts_alg.pdf` is expired and `http://www.eckner.com/papers/Algorithms%20for%20Unevenly%20Spaced%20Time%20Series.pdf` maybe the new link in file
`https://github.com/twitter/finagle/blob/1bc837c4feafc0096e43c0e98516a8e1c50c4421/finagle-core/src/main/scala/com/twitter/finagle/loadbalancer/PeakEwma.scala`

[2021-09-07 19:12] tigerlily-he commented on #914
Thanks @24kpure! Can you make a PR to fix the link?

[2021-09-08 01:49] 24kpure commented on #914
With a pleasure.

[2021-09-08 20:15] tigerlily-he commented on #913
Hi @Hakky54, I'm a Finagle maintainer. Thank you for the detailed report.

I looked at the changelog for version 21.8.0 and there isn't anything related to SSL that changed from 21.6.0 to 21.8.0: https://github.com/twitter/finagle/releases/tag/finagle-21.8.0.

To help me understand better, I have some questions. Links to code snippets are helpful, too:
1. What TLS version does the client support?

[2021-09-08 21:07] cacoco commented on #910
@shikhahere01 @shikhahere as @yufangong asked and alluded to, for your code above are you accessing the MDC values from within the function scope of the MDCInitializer.let closure? If not the values will purposely not be visible outside of that closure. Also, have you taken a look at the documentation? https://twitter.github.io/finatra/user-guide/logging/mdc.html#usage as it mentions there this on

[2021-09-08 21:36] Hakky54 commented on #913
Hey Lily, thank you for replying this quickly!

Strange that nothing is popping up in the changelog. Let me dig into the logs on my side to provide more information.

_1. What TLS version does the client support? What TLS version does the server support?_

So the server supports:
- TLSv1.3
- TLSv1.2
- TLSv1.1
- TLSv1

And the client supports:
- TLSv1.3
- TLSv1.2
- TLSv1.1
- TLSv1

They negotiated

[2021-09-09 19:28] tigerlily-he commented on #914
Fixed in https://github.com/twitter/finagle/commit/ad0c9d12ad053374a93c6f00b2902c5c251523c3

[2021-09-09 19:28] #914 closed, assigned to nobody

[2021-09-09 19:59] tigerlily-he commented on #912
Hi @DieBauer, I'm a Finagle maintainer.

Would you want the list of showable characters to be this?
[code]
We don't use the OData protocol at Twitter, so we haven't encountered this kind of endpoint name style. That said, we could support additional characters if there aren't any security risks and incompatibility with internal code.

Would you like to make a PR to add the additional characters to

[2021-09-09 20:01] tigerlily-he commented on #905
Hi @peter-janssen, Friendly ping. Is configuring MinSendBackupAfterMs a relevant feature you still want?

[2021-09-14 15:05] DieBauer commented on #912
Thanks for the reply @tigerlily-he , I've added the 3 characters in the showableChars variable.
Then, some tests start to fail.

This one now goes to green :)
[code]

However, the manual parser of all NameTrees is too simple to fit right away.
Especially, [this part](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/NameTreeParsers.scala#L211-L216) is

[2021-09-15 15:48] hamdiallam commented on #912
Depending on the where the path is parsed, perhaps we could make this a stack param so that it's customizable?

[2021-09-19 21:25] kincsescsaba opened #917 "Issues when running inside a Docker container"
Hi,

I have no problems running my server by default, but when I take the app in a Docker container, Finagle (mind that I'm using it via Finch) does not respond.
I checked the request from inside the container, same issue.
What's the best way to start debugging this and is there any common issue that can cause this behavior?
I'm using an Alpine Linux Docker image.

[2021-09-20 10:57] kincsescsaba commented on #917
Resolved, the problem was with an error that was hidden due to async behavior, I simply did not add a module to JVM

[2021-09-20 10:57] #917 closed, assigned to nobody

[2021-09-22 22:34] jyanJing commented on #912
Hi @DieBauer ,

I think the reason that the test failed after adding `()` to the showable chars is, `()` are treated as a special character in the NameTree, and not in Path, but NameTree could include many paths. So if we add the same characters to Path, it will break the logic in NameTree.
Unfortunately I couldn't think of an easy fix, maybe as @hamdiallam suggests to add a stack param, but it mi

[2021-09-23 17:28] DieBauer commented on #912
Thanks for looking into this. I'll try to see if I can put a workaround in place!

[2021-09-23 20:02] jyanJing commented on #912
Thanks @DieBauer , resolving this issue for now, please feel free to reply to the thread or re-open the issue if you have any questions!

[2021-09-23 20:02] #912 closed, assigned to nobody

[2021-09-23 23:44] jyanJing commented on #913
Hi @Hakky54, I am looking into this issue, wanted to check with you which HTTP version you are using? Asking since we removed `UseH2` toggles in 21.8.0, all clients and servers are defaulted to HTTP/2, I was wondering if that is related to the error you are seeing.
You could try verifying it by using c.t.finagle.Http.client.withNoHttp2 and c.t.finagle.Http.server.withNoHttp2 respectively to create

[2021-09-24 06:12] Hakky54 commented on #913
Hi @jyanJing

My server is using Http 1 by default as some of the client within that repository does not support Http 2. I added the option `withNoHttp2` to the client and now it works. So it looks like it was just the http version which was not compatible between the server and client and nothing related to ssl. Thank you for helping me with this issue.

[2021-09-24 16:35] jyanJing commented on #913
No problems, @Hakky54 , I am glad it is working!

[2021-09-24 16:36] #913 closed, assigned to nobody

[2021-10-05 07:55] fuCtor opened #918 "Use canonical host name for per host stats"
We use DNS balancing in our project. For investigation of behaviour (request, latency, etc) per host we configure this feature. But in stats we see only one metric with given hostname. As result result all stats are collapsed in single branch.

As solution I suggest use canonical host name. Canonical hostname are calculated as reverse lookup by IP address. As result in stats we receive name of def

[2021-10-08 02:20] #918 closed, assigned to nobody

[2021-10-23 22:43] rorye commented on #905
Hi @tigerlily-he, I'm also interesting in configuring `MinSendBackupAfterMs` and am happy to implement this.

Where would be best to start, a new constructor parameter in `BackupRequestFilter` and updates to `MethodBuilder`?

[2021-10-26 14:02] linzhiqi commented on #871
As the solution hasn't got released, I want to try lettuce to interact with redis cluster. The problem I'm facing is how would I make sure the client is gracefully shutdown before it's garbage-collected. @mosesn

[2021-10-29 18:26] tigerlily-he commented on #905
Hi @rorye, Sorry for the delay.

Yes, start with adding `MinSendBackupAfterMs` to the stack param [`Configured`](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/client/BackupRequestFilter.scala#L80) in BackupRequestFilter like
[code]
You will need to thread this minSendBackupAfterMs value through everywhere that has `Param.Configured(maxExtraLoad, se

[2021-11-03 18:46] xerial opened #920 "Finagle 21.10.0 artifacts are not found on Maven central"
**Describe the bug**

Some artifact files of Finagle 21.10.0 return 404 not found error at the Maven repository. For example, this pom file for Scala 2.12 and Finagle 21.10.0 is not found:
https://repo1.maven.org/maven2/com/twitter/finagle-core_2.12/21.10.0/finagle-core_2.12-21.10.0.pom

**Expected behavior**

These files become readable at Maven central.

**Screen shot**
Files are already indexed

[2021-11-09 09:18] xerial commented on #920
Files become visble. Let me close the issue. Thanks

[2021-11-09 09:18] #920 closed, assigned to nobody

[2021-11-09 18:49] joybestourous commented on #920
Hey @xerial , yes this should now be resolved. We filed a similar ticket to the one you linked with Sonatype on Friday and they fixed the issue shortly after. Thanks for filing the ticket and helping us resolve this more quickly! Cheers!

[2021-11-28 17:15] emilhotkowski commented on #905
Hi @tigerlily-he I wouldn't want for your work to go to waste. Could I pick up this issue and help with it using your previous comment?

[2021-11-30 16:15] tigerlily-he commented on #905
@emilhotkowski Of course! When you make the PR, you can request review from other participants on this issue so they can offer feedback.

[2021-12-16 03:01] lokeshmittal10 opened #921 "Update the Netty to latest version greater than 4.1.68.Final to remove the vulnerabilities CVE-2021-37136, CVE-2021-37137"
**Describe the bug**
Currently Finagle library has Netty version as 4.1.66.Final which is vulnerable with CVE-2021-37136,  CVE-2021-37137. To remove these vulnerabities Netty version should be >= 4.1.68.Final. So for this finagle library should be updated with netty version >= 4.1.68.Final.

**To Reproduce**
Steps to reproduce the behavior:
1. Scan the docker image with twistcli (https://docs.palo

[2021-12-16 03:06] lokeshmittal10 commented on #921
Please provide the estimate till when this can be done ?

[2021-12-17 16:28] tigerlily-he commented on #921
Hi @lokeshmittal10, Thanks for bringing up these CVE's to our attention. We typically upgrade Netty [every 3 months](https://github.com/twitter/finagle/blob/develop/CONTRIBUTING.md#3rd-party-upgrades). I'm working on a upgrading Netty to 4.1.70.Final. I see that 4.1.72.Final was released a few days ago so I'll try that too. The process requires updating Netty internally at Twitter and making sure

[2021-12-18 02:13] lokeshmittal10 commented on #921
Hi @tigerlily-he : Thanks for the response.
Just wondering that according to https://github.com/twitter/finagle/releases the previous upgrade was done on 2nd Oct 2021 in finagle. So it means next Netty upgrade in Finagle will come after 3 months ie. January 2022 right?

[2022-01-04 16:47] tigerlily-he commented on #921
Hi @lokeshmittal10, Yes we're upgrading Netty in January 2022. Sorry for the delay in response over the holidays.

[2022-01-05 06:45] lokeshmittal10 commented on #921
Hi @tigerlily-he , No problem . Thanks for the response and confirmation!

[2022-01-18 06:22] lokeshmittal10 commented on #921
Hi @tigerlily-he : Can you please tell what is the expected date for this release?

[2022-01-21 09:19] emilhotkowski commented on #905
Hi @tigerlily-he. Sorry it took so long but I finally have some PR for you to check out. Hopefully it is useful
https://github.com/twitter/finagle/pull/923

[2022-01-24 22:39] tigerlily-he commented on #905
Thanks for the PR @emilhotkowski! I'll leave a review over there.

[2022-01-24 22:49] tigerlily-he commented on #921
The January release was on [Jan 18th, 2022](https://finagle.github.io/blog/2022/01/18/release-notes/). The expected date for the next release, which should include the Netty upgrade, is middle to end of February. I'm aiming to finish and land the Netty upgrade by the end of January.

[2022-01-24 22:56] tigerlily-he commented on #885
Hi @SerCeMan, The January 2022 release of Finagle has the Jackson upgrade to 2.13.1. https://github.com/twitter/finagle/commit/831b25120addc828b7de83ae20dfbc7c2606125a.

[2022-01-24 22:56] #885 closed, assigned to nobody

[2022-01-24 22:58] tigerlily-he commented on #757
This feature to stop a Netty 4 Timer was added in https://github.com/twitter/finagle/commit/fa4899e1ba1e9b612dbf7428b0f457ae3855b5b8. Closing this issue now that it's resolved.

[2022-01-24 22:58] #757 closed

[2022-01-25 12:24] lokeshmittal10 commented on #921
Thanks for the update.

[2022-01-31 10:41] basert opened #924 "ServerRegistry not refreshing certificate information"
**Describe the bug**
We are using thrift-mux TLS connections to introduce mTLS between our clients & servers. Recently we switched to dynamic certificate provisioning using cert-manager. These certificates are only valid for a few hours and are rotated frequently. We implemented a custom `SslEngineFactory` that provides a new SslContext after each reload.

We noticed that `/admin/servers/connectio

[2022-02-04 19:12] heligw commented on #924
Can you create a small POC to show your setup?

[2022-02-12 06:55] balavenkata commented on #921
@tigerlily-he hi, Just checking to see if there was an update (Lokesh, who raised this issue, is in my team). Thank you & good day

[2022-02-14 12:29] c-solo opened #925 "Nested transactions are stuck"
I have a test like this:

[code]
This is minimal example, but it reflects what I actually've faced. I knows that I'm shouldn't do that in general. But in large code base with a bunch of Dao and Repositories is really hard to catch this case.
Is this usage of client valid?Is it a bug?

[2022-02-16 15:59] tigerlily-he commented on #921
Hi @balavenkata, Very sorry this upgrade is taking longer than expected. The Netty upgrade is under code review. I noticed CPU increased when I was testing with an internal service. I am running additional tests to make sure that the Netty upgrade doesn't cause CPU utilization and throttling increase.

[2022-02-17 22:17] #909 closed, assigned to nobody

[2022-02-18 10:32] basert commented on #924
Hey, sorry for the late reply. Here's how our ReloadingEngineFactory looks like:
[code]

It's used in the client by providing an instance of `SslClientConfiguration` which has the ssl certificate File set.
[code]

I'll check if I can setup some repo with an example in the next days if needed.

[2022-02-22 19:35] tigerlily-he commented on #921
Hi @lokeshmittal10  and @balavenkata, The Netty upgrade to 4.1.73 has landed. https://github.com/twitter/finagle/commit/cccbae40f6139eb15009d5dfc1f4c47ddba15862

[2022-02-22 19:35] #921 closed, assigned to nobody

[2022-02-23 03:18] #905 closed, assigned to nobody

[2022-02-23 03:34] lokeshmittal10 commented on #921
@tigerlily-he : Great and thanks for the update!
But the last finagle version i can see is 22.1.0 released on 19th January.
Is the finagle version with netty upgrade changes has been released or not? If not then when it will be released ?

[2022-02-23 15:23] mosesn commented on #921
@lokeshmittal10 we're planning on doing the release by the end of the month.  We deferred the release so that we could update Netty for you :)

[2022-02-23 15:32] tigerlily-he commented on #921
If you want to use the nightly SNAPSHOT version of Finagle, you can use version `22.2.0-SNAPSHOT` to get the most up-to-date changes.

For example, finagle-core: https://oss.sonatype.org/content/repositories/snapshots/com/twitter/finagle-core_2.13/22.2.0-SNAPSHOT/

[2022-02-23 18:00] lokeshmittal10 commented on #921
Thanks @mosesn and @tigerlily-he for the updates :)

[2022-02-23 19:13] joybestourous commented on #925
Nested transactions aren't permitted in mysql: https://dev.mysql.com/doc/refman/5.7/en/implicit-commit.html

[2022-02-24 05:30] c-solo commented on #925
The question is about API of finagle-mysql that allows to make stuff like that.

I'm figured out why it's stuck. The reason is session pool with max size 1. If increase  max size of session poll up to N then N number of nested transaction are allowed. In fact all transactions are just parallel and don't share any state.

The second problem is deadlocks. If you update row in parent transaction and

[2022-02-24 14:47] joybestourous commented on #925
gotcha, yeah we can make more clear that we don't support nested transactions via the api. to clarify, when you made those changes, you were able to get nested transactions working?

[2022-03-03 09:38] lokeshmittal10 commented on #921
@mosesn @tigerlily-he : Any updates for this release ?

[2022-03-08 21:09] tigerlily-he commented on #921
@lokeshmittal10  The 22.2.0 release is out: https://github.com/twitter/finagle/releases/tag/finagle-22.2.0

[2022-03-10 13:14] lokeshmittal10 commented on #921
@tigerlily-he : thanks

[2022-03-14 19:21] dispalt opened #926 "LostSyncException using finagle-mysql upon reading paged in data"
**Describe the bug**
I can't quite tell what is causing this, but I am getting the following stack trace:

MYSQLMon is a custom monitor.

[code]

**To Reproduce**
I am not sure, yet but this is connecting to amazon aurora 2.  I've been using it in production with minor upgrades for at least 3 years now, and I haven't seen this before.  I also checked the logs and there's nothing about throttling o

[2022-03-17 16:22] yufangong commented on #926
Hi @dispalt, thank you for reaching out. Which MySQL version you are running on? and do you have a list of the recent upgrades from your side or aurora 2? It smells like a corrupted payload. Can you also provide the type of the query and more info about the payload if possible. Thank you!

[2022-03-21 20:59] dispalt commented on #926
Sorry I've been trying to get more information but it happens like once every other week on something that's processing 10-20 qps, so it's obviously rare and maybe just some sort of network hiccup?  I mean this is on AWS and this seems possible...

[2022-03-24 15:01] mosesn commented on #926
@dispalt got it.  Can you at least figure out which MySQL version it is?  It would be good to confirm that it's a version of MySQL that we support / test (5.7 and 8 right now).

[2022-03-24 17:02] dispalt commented on #926
Here you go.  Still hasn't happened again.

[code]

[2022-04-09 05:41] HelenParr opened #927 "Could you help upgrade the vulnerble dependency in com.twitter:finagle-mux?"
Hi, @mariusae, @kevinoliver, I'd like to report a vulnerable dependency issue in **com.twitter:finagle-mux_2.13:22.3.0**.
### Issue Description
I noticed that **com.twitter:finagle-mux_2.13:22.3.0** directly depends on **org.lz4:lz4-java:1.6.0** in the [pom](https://repo1.maven.org/maven2/com/twitter/finagle-mux_2.13/22.3.0/finagle-mux_2.13-22.3.0.pom). As shown in the following dependency graph.

[2022-04-09 05:41] xin301x commented on #927
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-04-16 04:13] icoco commented on #854
same problem, confuse with the example .....

[2022-04-22 20:50] jyanJing commented on #927
Hi @HelenParr, thank you for reporting this issue, when I clicked to the link you posted on the CVE, it said "This vulnerability has been modified since it was last analyzed by the NVD. It is awaiting reanalysis which may result in further changes to the information provided.". It might worth waiting for the result before we attempt an upgrade so we could understand the root cause of the vulnerabi

[2022-04-23 01:41] HelenParr commented on #927
Dear @jyanJing , thanks for your help. I understand.

[2022-05-09 12:47] Hakky54 commented on #924
Hi @basert

I noticed this issue when scrolling through the issue list and wanted to contribute to this discussion. I had the same challenge with one of my projects and solved it differently, maybe that would could be helpful for you to solve your issue. I made this option available here:  https://github.com/Hakky54/sslcontext-kickstart I hope it would be useful for you.

Here is an example config

[2022-05-10 18:00] fwbrasil opened #929 "Non-blocking DNS resolution"
**Is your feature request related to a problem? Please describe.**

We use DNS at Nubank to resolve names and the blocking behavior of the DNS resolution is a problem for one of our services that distributes requests to several other services. It often has a large number of threads doing DNS resolution and that contributes to CPU throttling. Example:

![image](https://user-images.githubusercontent

[2022-05-16 23:07] heligw commented on #929
we have created a ticket to look into it, we'll reach out to you when we have updates. thanks!

[2022-05-18 21:33] dispalt commented on #926
I haven't run into this again.  I have no idea but I guess it was probably a network anomaly.  Sorry for the noise.

[2022-05-18 21:33] #926 closed, assigned to nobody

[2022-05-19 19:05] vkostyukov commented on #929
Hey @fwbrasil, I'm working on it. I have a draft phab that I'm testing internally at the moment.

[2022-05-19 21:27] fwbrasil commented on #929
awesome news folks! Thank you very much :)

[2022-05-20 06:34] c-solo opened #930 "Migration to Mysql 8.0"
**Describe the bug**

After updating Mysql server from 5.7.25 to 8.0 some queries started to fail with error:
`java.lang.UnsupportedOperationException: LongBlob is not supported!`

**To Reproduce**
Mysql server version: **5.7.25**
finagle-mysql version: 21.8.0
Query:
[code]
**Result: Ok, test passed as expected.**

Mysql server version: **8.0**
finagle-mysql version: 21.8.0
Query:

[code]

**Resul

[2022-05-24 18:07] yufangong commented on #930
@RicoGit, thanks for reporting; we can reproduce the issue locally.

What we found so far is the packets received are different between MySQL 5 and MySQL 8 servers.
Are you aware of any protocol/spec changes? We are still looking into.

[2022-06-02 19:33] mosesn commented on #927
This is easy enough, so we're going to do it.

[2022-06-03 19:06] mosesn commented on #927
This was done, thanks for filing the ticket https://github.com/twitter/finagle/commit/305c467c2ba8f72b2ada012b592b000b961809a4

[2022-06-03 19:06] #927 closed, assigned to nobody

[2022-06-09 01:10] vkostyukov commented on #929
It took us a while but it's landed! https://github.com/twitter/finagle/commit/ca456b8e1f905f02e032b52a773af3c7fdaa4d3b

It's behind a toggle if you want to enable it for your apps. Will do more testing internally before enabling it by default.

[2022-06-09 14:50] fwbrasil commented on #929
nice! this is going to be very helpful, thank you!!!

[2022-06-09 16:58] #929 closed, assigned to nobody

[2022-06-17 14:34] fwbrasil commented on #929
@vkostyukov are there plans to make a new release with this change?

[2022-06-21 19:43] vkostyukov commented on #929
Yea, this should make it into the July release.

Update: We do publish snapshots nightly, maybe you want to try depending on them in the meantime?

[2022-06-22 14:27] pjfanning opened #932 "Scala 3 support"
**Is your feature request related to a problem? Please describe.**

I'm not really a Finagle user but maintain jackson-module-scala. Finagle does not yet support Scala 3 but many of its dependencies do. I'm just opening this issue for discussion purposes.

A few twitter util jars are not supported - see https://github.com/twitter/util/issues/274#issuecomment-1148594402

For Scala 3, this class wil

[2022-07-01 16:09] andyrobinson opened #933 "Unexpected Netty TLS 1.3 warnings"
**Describe the bug**
When making an HTTP client request to an external service (Apple News), we see the following warning in the logs:

`ReferenceCountedOpenSslContext BoringSSL doesn't allow to enable or disable TLSv1.3 ciphers explicitly. Provided TLSv1.3 ciphers: 'TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384', default TLSv1.3 ciphers that will be u

[2022-07-05 08:48] ghost commented on #932
scala 3 is good so far indeed

[2022-07-26 21:27] bryce-anderson commented on #933
This should be fixed as of 9c6898efbc885629b0a6b073c9ab39910473ccf8 which is part of the 22.2.0 release. If it's still a problem please feel free to reopen.

[2022-07-26 21:27] #933 closed, assigned to nobody

[2022-07-27 13:20] lwmonster commented on #309
@mosesn  It happened again...
with finagle-thrift_2.11-6.36.0.jar

   java.lang.Thread.State: RUNNABLE
        at java.io.UnixFileSystem.getBooleanAttributes0(Native Method)
        at java.io.UnixFileSystem.getBooleanAttributes(UnixFileSystem.java:242)
        at java.io.File.isDirectory(File.java:849)
        at com.twitter.app.ClassPath$$anonfun$com$twitter$app$ClassPath$$browseDir$1.apply(Clas

[2022-07-28 02:49] lwmonster commented on #309
We make it work by change the dir when starting the service,  I don't think it's a good way to resolve the problem.

[2022-07-29 14:49] lokeshmittal10 opened #934 "Update the Netty to latest version greater than 4.1.78.Final to remove the vulnerability CVE-2022-24823"
**Describe the bug**
Currently Finagle library has Netty version as 4.1.73.Final which is vulnerable with CVE-2022-24823. To remove this Netty version should be >= 4.1.78.Final. So for this finagle library should be updated with netty version >= 4.1.78.Final.

Steps to reproduce the behavior:

Scan the docker image with twistcli (https://docs.paloaltonetworks.com/prisma/prisma-cloud/prisma-cloud-a

[2022-08-01 21:49] joybestourous commented on #934
Hey! Finagle 22.7.0 was released last week, and it includes a bump to 4.1.78.

[2022-08-01 21:49] #934 closed, assigned to nobody

[2022-08-17 20:26] notxcain opened #935 "Growth of the number of prepared statements on server"
Hey folks!

I don't know why but we noticed that `PrepareCache` in `finagle-mysql` does not send enough `CloseRequests` to match `PrepareRequests` when the cache's capacity gets reached. That leads to a growing number of prepared statements on server. We noticed that it lags behind at around 2-4 rps and this is the exact growth rate we see on the server.

However we see that only in production and

[2022-08-24 15:40] hartmut27 commented on #932
a cross compile works with Finagle and Scala 3, with the help of `... CrossVersion.for3Use2_13`.

build.sbt:

    libraryDependencies += "com.twitter" %% "util-core" % "22.12.0" cross CrossVersion.for3Use2_13,
    libraryDependencies += "com.twitter" %% "finagle-http" % "22.12.0" cross CrossVersion.for3Use2_13,
    libraryDependencies += "com.twitter" %% "finagle-core" % "22.12.0" cross CrossVersi

[2022-09-19 12:40] DieBauer opened #936 "DeadlineFilter takes `rejectWithdrawal` regardless of passed Deadline"
**Describe the bug**
The DeadlineFilter will always take a `rejectWithdrawal` (default 5000) amount of tokens, while only restoring `serviceDeposit` (default 1000 tokens), in case rejection is not required.

**Expected behavior**
Tokens get only withdrawn when the deadline is truly passed, as it was before the [Traceability PR](https://github.com/twitter/finagle/commit/e1b33abc67f1811260f0ba62793b

[2022-09-19 12:41] xin301x commented on #936
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-10-11 07:14] xin301x commented on #932
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-10-26 14:10] DieBauer opened #938 "Custom Monitor not picked up for the ChannelStatsHandler"
I try to get my monitor handle exceptions thrown in the netty pipeline.
(Client.withMonitor, or Monitor.using(monitor, service(request))), [the check Monitor.isActive](https://github.com/twitter/finagle/blob/finagle-22.7.0/finagle-netty4/src/main/scala/com/twitter/finagle/netty4/channel/ChannelStatsHandler.scala#L206) is always false in that Thread, which means that the full stacktrace is logged.

[2022-10-26 14:11] xin301x commented on #938
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-11-01 19:35] the-lazy-val opened #939 "Finagle `22.7.0` uses vulnerable `jackson-databind` dependency: `2.13.3`"
**Describe the bug**
Finagle `22.7.0` uses vulnerable `jackson-databind` dependency: `2.13.3`
ref:
- https://mvnrepository.com/artifact/com.fasterxml.jackson.core/jackson-databind/2.13.3
- https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-42004
- https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-42003

**To Reproduce**
NA

**Expected behavior**
NA

**Screenshots**
NA

**Environment**
N