[2016-05-30 07:35] mosesn commented on #436
Very cool, thanks for the update!

[2016-05-30 07:35] #436 closed

[2016-05-30 07:39] mosesn commented on #511
@adriancole for what it's worth, scrooge-generator-tests are only tests, and nothing else has a dependency on finagle, but we're aware it's a pain point.  I think this would be better if we had a tool which handled this for you.

[2016-05-30 07:45] adriancole commented on #511
do you know of a syntax to get publishLocal on scrooge to work without it,
then? my sbt-fu might be lacking

[2016-05-30 07:53] adriancole commented on #465
@kevinoliver so here's what I am thinking, which I think is exactly what you said a while back:

finagle-zipkin remains the same, basically it holds what we might otherwise call finagle-zipkin-scribe
* This allows folks to be undisrupted from a service loader POV. ie. they get scribe still with same flags
* This is changed insofar as it depends on a new module finagle-zipkin-core, which pulls out

[2016-05-30 07:54] mosesn commented on #511
It looks like we made a command for this particular purpose: `./sbt +scrooge-publish-local/publishLocal` should work, I think.

[2016-05-30 08:39] adriancole commented on #511
getting closer.. it publishes things, except not scrooge-sbt-plugin, which
is what finagle's build depends on

[2016-05-30 11:29] sveinnfannar commented on #465
Hi guys, I started some work on this over the weekend. I just synced with @adriancole and I'll take this over.

[2016-05-30 16:02] mosesn commented on #511
Looks like we treat it specially because it can only be published against 2.10 (since it's a plugin).

`./sbt ++2.10.6 scrooge-generator/publishLocal scrooge-sbt-plugin/publishLocal`

[2016-05-30 16:06] olix0r commented on #511
linkerd has a build script for CI'ing against the develop branch that may be helpful: https://github.com/BuoyantIO/linkerd/blob/master/ci/twitter-develop.sh

[2016-06-06 20:01] #506 closed

[2016-06-07 22:29] mosesn commented on #509
Landed in `develop`!  https://github.com/twitter/finagle/commit/1b67f5562aac076de32b544229ce30e42a477285

[2016-06-07 22:29] #509 closed

[2016-06-07 22:29] mosesn commented on #477
Fixed here: https://github.com/twitter/finagle/commit/a60909d4996ff87d016187fe4abf2f899d466e75 !

[2016-06-07 22:29] #477 closed

[2016-06-13 20:12] dschobel commented on #508
@olix0r are you still seeing this?

[2016-06-13 21:12] olix0r commented on #508
sorry, I think this is something I only ever saw out of `sbt run` (and i haven't run it this way recently)..  It's relatively minor and probably not worth spending time on. Closing.

[2016-06-13 21:12] #508 closed

[2016-06-17 00:12] olix0r opened #517 "finagle-http: client does not properly handle `Connection: close`"
BuoyantIO/linkerd#482 describes a situation where clients unexpectedly throw a ChannelClosedException.  The scenario is basically:

- Requests being issued from linkerd to a non-Finagle HTTP server on a persistent connection.
- Server responds to a message with `Connection: close`
- Server closes connection.
- Finagle client may issue additional requests on this connection
- requests fail with Cha

[2016-06-17 01:27] olix0r commented on #517
In one of the test, I see that out of about 60K total requests, with ~6.5K server-disconnects, we observe ~550 ChannelClosedExceptions (exceptions caused by 8.5% of disconnects).

[2016-06-17 01:40] olix0r commented on #517
I think I have a fix for this. Forthcoming...

[2016-06-17 01:43] vkostyukov commented on #517
I've never seen that we've handled that `Connection: close` header in Finagle. I guess we just ignore it right now? Looks like there is a window between receiving a response with `Connection: close` and `channelInactive` event in the pipeline, in which we see `ChannelClosedException`.

[2016-06-17 02:03] olix0r commented on #517
It looks like `ConnectionManager` is supposed to handle this:

[code]

`Message.isKeepAlive` checks `Connection: close`.

I'm going to look at HttpTransport to see if it's possible that write() occurs before the read operation completes? or something like that?

[2016-06-17 03:00] roanta commented on #517
Does `ConnectionManager` affect the `status` of the respective `Service`? Could there be a race where the `Service` is put back in the connection pool and reused before `ConnectionManager` closes the connection?

[2016-06-17 15:18] olix0r commented on #517
Interestingly, it appears that netty4 does _not_ exhibit this behavior and netty3 does.  I'll run more tests to confirm this.

[2016-06-17 19:43] olix0r commented on #517
i've added debug logging to com.twitter.finagle.http.codec.ConnectionManager and I see something interesting:

[code]

in netty3:

in netty4:

I'm wondering if there are differences in the way that onFinish is satisfied between implementations (such that activeStreams is decremented differently).

Surpisingly, Netty3StreamTransport seems to satisfy onFinish immediately:
[code]

So maybe there  is

[2016-06-17 20:00] olix0r commented on #517
Indeed, onFinish.isDefined is false in netty3 and is true in netty4.  This causes the connection manager to indicate that the connection should not be closed immediately in netty3.

[2016-06-17 20:23] olix0r commented on #517
It appears that the response:
[code]
is marked as chunked(!).

While a request with an explicit content-length is correctly marked as not chunked:
[code]

So, this problem is exhibited with chunked responses on which `Connection: close` is set (as is the case in the [original ticket](https://github.com/BuoyantIO/linkerd/issues/482)).

[2016-06-17 20:36] olix0r commented on #517
And I've reproduced this problem in netty4, so it's not limited to a single netty version.  My guess is that netty4 doesn't treat
[code]
as a chunked request and so it did not exhibit this error.

When [forcibly setting a chunked response with `Connection: close`](https://gist.github.com/olix0r/872f206ed22fce058fcd67c7fdc52e65#file-shutter-go-L37), I can reproduce this problem in either netty vers

[2016-06-17 21:41] olix0r commented on #517
I added debug logging to HttpTransport to report on read(), write() and status:

Issuing the the request:

receiving the response:

response.isKeepAlive is _false_ beecause `Connection: close` was set, but `shouldClose` is false because `isIdle` is false because the response stream has not ended yet...

Something checks the transport's status after the response is satisfied. The status is reported

[2016-06-18 00:29] mosesn commented on #517
OK, so it sounds like that's it?  We should add some extra state to ConnectionManager to keep track of whether we've ever seen an `isKeepAlive` that's false?

[2016-06-18 19:19] olix0r commented on #517
I think I understand the issue now:

We have a client stack somewhat like the following:

- ...
- FactoryToService
- ...
- WatermarkPool
- CachingPool
- ...
- HttpClientDispatcher
  - HttpTransport
    - ConnectionManager

When a response is read in the HttpTransport, it is passed through _ConnectionManager.observeResponse(rep, onFinish)_. The response has `Connection: close` and `Transfer-encodin

[2016-06-19 00:43] olix0r commented on #517
This is an issue with linkerd -- I inserted a FactoryToService without a DelayedReleaseService under it. Inserting DelayedReleaseService fixes this issue. :tmyk:

[2016-06-20 19:58] olix0r commented on #517
Reopening to discuss another (seemingly related) issue.

Adding a DelayedFactoryService under FactoryToService does indeed appear to fix this issue.  However, when I test this configuration against Netty4, I appear to still observe connection closed errors (though at a much lower frequency than before). Here's what I think is happening:

We have a stack like:

- FactoryToService
- DelayedReleaseSe

[2016-06-20 20:05] olix0r commented on #517
It does appear that Reader.writable() may satisfy read requests promises before write promises are satisfied:
[code]

[2016-06-20 22:24] olix0r commented on #517
It seems that a minor change to Transport.collate resolves this:

[code]

This causes the collation future to be satisfied before the reader is closed, so that the transport may observe the state before other readers do.  I'll test this a bit longer and, if the error does not appear, submit a PR

[2016-06-20 23:43] roanta commented on #517
@olix0r nice sleuthing.

One thing to consider is that this (and the n3 impl) rely on the implementation details of the scheduler to ensure that the closures are ordered correctly. @dschobel and I were looking into this and we agreed that it might be nice to explore doing away with `DelayedReleaseService` and reconciling outstanding streams in the pool. We could change the status of the service to

[2016-06-21 00:00] olix0r commented on #517
@roanta interesting!  @adleong and I were just discussing how #518 is scheduler-dependent and more of a hack than a fix... I'm interested in improving this, but, if it's amenable to you, I think I'd prefer to ship the hack while we sort out what the proper solution looks like.

[2016-06-21 02:11] adriancole commented on #465
Looks like the first wave of this work arrived in master. Thanks for the progress folks!

[2016-06-21 17:38] roanta commented on #517
@olix0r that works for me. I'll work towards pulling in #518. Thanks again for digging into this.

[2016-06-23 03:23] iwag commented on #402
the commit to fix is cc891eb?
I'm really happy to see that 😃

[2016-06-24 00:12] mosesn commented on #402
Ah, good catch!  I'll mark it as fixed.  Thanks @niw!

[2016-06-24 00:12] #402 closed

[2016-06-24 17:57] niw commented on #402
My pleasure 😉

[2016-06-27 20:01] #517 closed

[2016-06-28 15:06] kristofa commented on #343
Pull request #516 reviewed.

[2016-07-05 12:15] spockz opened #523 "DNS Resolving should be deferred to proxy when using HTTP proxy"
We are using a proxy to connect to APIs outside our network. In our case our local machine cannot resolve the DNS hostname and has to defer the DNS resolving to the proxy.

It appears that it is not possible to do so. When creating an `InetSocketAddress` with the hostname, Finagle fails with the exception below.

How should Finagle be configured? We current use the Transporter.HttpProxy configurat

[2016-07-05 17:14] vkostyukov commented on #523
Thanks @spockz for the bug report!

We do that for N4 but haven't had a chance to backport that to N3. You're more than welcome to do that and I'm happy to assist you with that. Any chance you want to take a stab and wire in `Transporter.HttpProxyTo` stack param in N3?

[2016-07-05 17:22] spockz commented on #523
Yes @vkostyukov, I'm willing to give it a try. However, this week and weekend is swamped with courses and working at my home. @mosesn linked to a commit in the gitter room. I'll check whether that makes sense tomorrow. (It's a bit later here.)

[2016-07-08 13:56] maheshkelkar opened #524 "Inactive memcached node remains stuck in `ProbeOpen` state, when EjectFailedHost is configured"
Inactive memcached node remains stuck in `ProbeOpen` state, when EjectFailedHost is configured.

### Expected behavior

* I am using finagle 6.35.0, I have Memcached client configured as follows:
[code]
* Every 30 seconds, I am performing get and/or set operation with 10 different Key-Value pairs
* Node `localhost:11212` is down the entire time (because NO server is listening at that port)
* I exp

[2016-07-08 16:25] roanta commented on #524
@maheshkelkar Thanks for the detailed bug report! I think you're right and we should transition to ProbeClosed in `onServiceAcquisitionFailure`. Would you like to submit at PR for this?

[2016-07-08 17:44] mosesn commented on #343
Thanks for tackling this @kristofa !

[2016-07-08 17:44] #343 closed

[2016-07-08 17:45] mosesn commented on #272
Thanks a lot for tackling this in https://github.com/twitter/finagle/pull/383 @timxzl!

[2016-07-08 17:45] #272 closed

[2016-07-08 17:46] mosesn commented on #379
Don't have enough information to reproduce, so I'm going to close this for now.  If someone runs into this again, feel free to reopen!

[2016-07-08 17:46] #379 closed

[2016-07-08 18:56] argha-c commented on #524
👍  to this issue. I have observed this while writing an integration test using 2 memcached containers, killing one, killing both and them bringing them back up.

Thanks for the detailed report on the findings.

[2016-07-08 19:48] maheshkelkar commented on #524
Hello @roanta, I will submit a PR on Monday.

[2016-07-11 12:57] spockz commented on #523
FYI: This is the [commit](https://github.com/twitter/finagle/commit/b9b222cb5877b8c4faca755ce9d9f947024ab638#diff-8b7c2f5a15bf6822a18ff662cb633bdcR88) @mosesn mentioned.

https://github.com/twitter/finagle/commit/b9b222cb5877b8c4faca755ce9d9f947024ab638#diff-8b7c2f5a15bf6822a18ff662cb633bdcR88

[2016-07-11 15:18] spockz commented on #523
I've created a [gist](https://gist.github.com/spockz/ebf0ccb47c912a21b924efc45d120859) with my on-going work. It doesn't compile yet.

[2016-07-12 20:51] maheshkelkar commented on #524
@roanta @argha-c @kevinoliver

I implemented a simple solution `stopProbing` that gets executed either we succed, fail or exception. However, what I notice is:
1. There are 4 instances of `FailureAccrualFactory`hence 4 objects are ready to accept a request to probe

[2016-07-12 21:32] roanta commented on #524
`FailureAccrualFactory` and `FailFastFactory` both operate per session, so there should be one instance per memcached host that your client talks to. Your observations sound like correct behavior to me given the respective hosts are actually down and your client has concurrent requests.

[2016-07-12 21:55] maheshkelkar commented on #524
@roanta. Thanks for the response.

* Are you suggesting that we have 1 `FailureAccrualFactory` per thread? i.e. we have a session per thread?
* I see 4 FailureAccrualFactory instances for `localhost:11212`, whether I configure `FailFastFactory` or not.

But, thats not the real problem. IMO problem is probing is causing me at least 1 failure after  `markDeadFor` timeout.

I wonder:
* why don't I se

[2016-07-13 04:57] adriancole opened #526 "Add com.twitter.finagle.zipkin.core.Endpoint.ipv6"
We currently support logging of only IPv4 addresses. Starting with Zipkin 1.4, endpoints can omit IPv4 (by setting Endpoint.ipv4 to 0), and optionally log Endpoint.ipv6 as the raw 16byte address.
https://github.com/openzipkin/zipkin-api/blob/master/thrift/zipkinCore.thrift#L276

It looks like the most pivotal change is updating `com.twitter.finagle.zipkin.core.Endpoint.ipv6`

cc @sveinnfannar

[2016-07-13 16:38] roanta commented on #524
Not per-thread, Finagle multiplexes sessions over threads. Each session that your client connects to gets a new `FailureAccrualFactory` or `FailFastFactory` (if enabled). Take a look at http://twitter.github.io/finagle/guide/Clients.html -- the branching after the load balancer represents the per-sessions stack.

Where are you seeing four? You might want to see how many nodes the client's load bal

[2016-07-14 15:31] maheshkelkar commented on #524
@roanta: Thanks for the response

Here is the diffs that I am adding for this PR: https://gist.github.com/maheshkelkar/75b87741008adf7d912cd9a36e40c862

I see 4 instances marked dead for `localhost:11212`. See `concurrent_lb_replica` with values of 0,1,2,3 at the end.
[code]

After 30 seconds i.e. markDeadFor timeout, I see probing started on 4 instances:
[code]

In this test, I have enabled FailF

[2016-07-14 17:11] roanta commented on #524
I see what's happening here. We replicate, and load balance over, a single endpoint to avoid head-of-line blocking when we pipeline memcached [1]. The problem is that we create a `FailureAccrualFactory` for each replica even though they share the same endpoint address. This would definitely make it less effective. Try setting the parameter `connectionsPerEndpoint` to 1 to verify we get the behavio

[2016-07-14 18:17] maheshkelkar commented on #524
Hi @roanta, thank you. Setting the connectionsPerEndpoint to 1 did solve that problem. And I can clearly see that only 1 FAF instance is used.

So I will go ahead committing the PR for this issue.

I also noted this behavior, that if I try 10 requests at a time, I see some of those numbers (5 in this example below) gets queued to be processed by the failed FAF. And even after marking that FAF inst

[2016-07-15 14:02] spockz opened #529 "Marking all instances down by `ResponseClassifier` should lead to `FailedFastExceptions`"
When an instance is marked as down by the `FailureAccrualFactory` on account of the `ResponseClassifier` the instance is still used and calls don't result in `FailedFastException`.

### Expected behaviour

I would expect a server to not be used when it is considered as down caused by `ResponseClassifier` and that when all instances are down that I get a `FailedFastException`.

### Actual behaviour

[2016-07-15 16:36] mosesn commented on #529
@spockz I think this is expected behavior.  When the loadbalancer marks all nodes as unhealthy, it just tries one.  The reason why you see "failed fast" is because "failed fast" happens when we can't even establish a tcp connection to the remote host, and the load balancer has picked that node as the one to send load to.  When something has triggered failure accrual, we still have the tcp connecti

[2016-07-15 19:02] spockz commented on #529
@mosesn I understand the need to maximise the success rate. However, we should consider both connection errors and responses classified as errors equal for sake of simplicity and understandability.

Taking this into account, the current situation is counter intuitive. I would expect that when there are two nodes, where one of which is marked dead, that all traffic should go to the healthy node.

H

[2016-07-15 19:56] mosesn commented on #529
@spockz we typically set alerts on low success rate using the metrics we export.  would that work for your use case?

[2016-07-15 20:22] spockz commented on #529
I would like to be able to act on that information programmatically inside the application, e.g. write to a different kind of log and taking a different functional path or disabling features.

[2016-07-18 17:04] kevinoliver commented on #529
@spockz yeah, it seems reasonable to me that on the state change an event would fire. You you could do what you wish with that in the application layer. What are you thinking the events should look like?

[2016-07-18 19:15] spockz commented on #529
@kevinoliver I'm not entirely sure how to listen to those events. Currently, we detect failure of all instances by monitoring `FailedFastException` and we log those occurrences. I would expect all failures to have the same effect so marking all instances down because of response classification should in my opinion also lead to a `FailedFastException`.

[2016-07-19 18:20] kevinoliver commented on #529
ok i think i misunderstood what you were looking for. let me see if i can get up to speed.

first, are we talking about the case when all memcached nodes have been marked down via failure accrual (which happens to use response classification)? if so, do you want a callback or different behavior? or something else?

if not, what situation are you discussing?

[2016-07-19 20:47] spockz commented on #529
@kevinoliver Exactly. My use-case was for the HTTP case specifically but I think the behaviour should be the same for all clients of course.

My understanding of failure accrual is to detect faulty instances in order to direct load to other, functional, instances. Previously, only connection errors counted for the failure-accrual. In order to compensate for this the Response Classifier was introdu

[2016-07-19 21:42] kevinoliver commented on #529
@spockz i'm not convinced we want to have different behaviors. to be explicit, prior to response classification failure accrual was not only responding to connection errors. timeouts and other network issues also would be included.

what i'm hearing is that you'd like to have a different behavior in the LB when no nodes are `Status.Open`. today this is not configurable but perhaps it should be. i

[2016-07-20 19:24] spockz commented on #529
@kevinoliver I think we do agree. I want the behaviour of failure accrual to be equal, so the behaviour of the client should be the same when the node is marked dead because of connection issues and when it is marked dead because of responses marked as failure by the classifier.

Do you agree?

[2016-07-20 23:48] kevinoliver commented on #529
`FailedFastException` is only used by `FailFastFactory` which indicates connection failures. whereas `FailureAccrualFactory` is used to change the status of a node to `Busy` which is used by the load balancer to route traffic around it. in other words, it doesn't return exceptions directly.

i think you are talking about the case when all nodes are marked `Busy` via `FailureAccrualFactory`. in tha

[2016-07-25 17:14] mosesn commented on #524
@maheshkelkar fixed this in https://github.com/twitter/finagle/pull/527, thanks a ton!!!

[2016-07-25 17:14] #524 closed

[2016-07-27 11:57] jeffreyolchovy commented on #505
@mosesn let me know if you still want any outside help with this. when i locally hacked around with ostrich to complete my dependencies to attempt a trial 2.12 upgrade for finagle there didn't seem to be many necessary *finagle source* changes.

off the top of my head, iirc, most things centered around dependencies:
- upgrade jackson version to one that supports 2.12 (i.e. for jackson scala module

[2016-07-27 15:05] mosesn commented on #505
@jeffreyolchovy yeah, we ran into that too.  filed a ticket in the scala issue tracker here: https://issues.scala-lang.org/browse/SI-9871 and it's being worked on here: https://github.com/scala/scala-dev/issues/157

we'd love some help with poking the bijection people to start supporting 2.12–I don't know if any of them are still at Twitter.  jackson we're waiting on the same thing as in the ostri

[2016-07-29 20:29] clumsy opened #533 "FinestIOExceptionMessages to include "An existing connection was forcibly closed by the remote host""
When the socket is closed from the client side`IOException` "An existing connection was forcibly closed by the remote host" is rethrown by Netty.
`ServerBridge` checks the message and based on that decides the level for the log message.
### Expected behavior

This message has to be logged with FINEST level
### Actual behavior

The message is logged with WARNING level
### Steps to reproduce the beh

[2016-07-29 22:57] mosesn commented on #533
@clumsy do you mind making a small reproduction case?  Would love to reproduce it locally so it's simpler for us to investigate.

[2016-07-29 23:06] bryce-anderson commented on #533
@clumsy, are you working on a Windows machine? [This](https://github.com/http4s/blaze/blob/81d5d0d8f825cf588ff1ef433bf418a386506669/core/src/main/scala/org/http4s/blaze/channel/ChannelHead.scala#L43) bit of code looks like it addresses the same thing.

[2016-07-30 01:00] clumsy commented on #533
@bryce-anderson yes, I'm working on Windows. Looks like the message is different in that case.
Can this be incorporated into finagle?
Sorry, cannot contribute as I don't use Scala.

[2016-07-30 01:09] mosesn commented on #533
@clumsy hmm, looks like it should be pretty simple.  I think just adding a string to a set [here][0].

Do you mind taking a stab at it?  None of us can test it, since we don't have windows machines.  It's a pretty minimal use of scala.

[0]: https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/netty3/Netty3Listener.scala#L349-L354

[2016-07-30 01:41] clumsy commented on #533
No problem, it's just I won't be compiling it.

[2016-07-30 02:31] mosesn commented on #533
We can probably help you with compiling it.  `finagle` comes with everything you need, so it should be pretty straightforward.  We need you to try compiling it so we can make sure it's fixed on your platform!

[2016-07-30 03:40] clumsy commented on #533
@mosesn I knew it wouldn't be simple...
I tried running via both standalone sbt and from the script.
Keeps complaining about missing 4.8.0-SNAPHOT of scrooge:

[code]

After traversing the fields found Build.scala with funny logic:

[code]

Only builds from `master` branch...

[2016-07-30 21:48] mosesn commented on #533
that's something we do to make it easier to make changes across repositories.  if you can emulate bash on windows, we recently made a shell script that makes it easier to build multiple projects using sbt: https://github.com/twitter/dodo

[2016-08-01 20:02] adriancole opened #536 "Make GlobalFlags java accessible"
One line summary of the issue here.

### Expected behavior

As a java user, I should be able to define global flags naturally.

### Actual behavior

The lookup system for global flags requires them to be scalaesque classes (ex. with a `$` suffix). Also, the naming convention isn't natural in java.

### Steps to reproduce the behavior

Here's what I had to do to make a valid flag in java. It would

[2016-08-05 03:26] rklancer opened #538 "Streaming requests with a fixed content-length are received in one large chunk"
I'm trying to stream requests for certain routes in a Finatra server, in order to pipeline the contents to a downstream http service. But the `streaming` option has no practical effect because Finagle constructs a Netty `HttpMessageDecoder` that accumulates up to `maxRequestSize` bytes into a buffer before firing any events.
### Expected behavior

In a Finatra route callback, with Finagle's `strea

[2016-08-05 06:55] mosesn commented on #538
@rklancer oh, interesting.  so what you're wondering is if we could write bytes into the `Reader` as they're received, rather than buffer them?  I think the long and short of it is that we use netty as our underlying http implementation, and netty takes http messages with a content-length header and fully buffers them, so it's simply not possible while using the common netty types.  Part of the re

[2016-08-05 07:00] mosesn commented on #536
@adriancole sounds like a good idea to me!  do you mind moving this issue to the twitter/util project though?  GlobalFlag is part of util-app, not finagle.

[2016-08-05 07:01] mosesn commented on #529
@spockz I'm going to mark this as closed, since I think we answered your question?  please ping us on gitter if you still have questions.

[2016-08-05 07:01] #529 closed

[2016-08-05 16:28] rklancer commented on #538
Thanks for the response @mosesn!

So, I'm sold on Netty's battle hardened qualities and I don't expect Finagle to try to work around anything it doesn't support.

But ... I guess I'm not convinced that that Netty 3 actually _requires_ buffering the whole http message. If you specify a maxChunkSize in the HttpMessageDecoder which is smaller than the Content-Length, it emits an HttpMessage followed

[2016-08-05 16:55] mosesn commented on #538
Oh, I see!  That's a good idea.  Yeah, as long as netty4 supports it, and you're down to implement it in both of them, I think we'd be OK with adding it.

[2016-08-05 18:04] rklancer commented on #538
Thanks! I'm pretty sure Netty 4 supports that (one old comment from the netty mailing lists suggests `HttpChunk` was renamed to `HttpContent` in Netty 4 exactly because the name seemed to imply chunked encoding was necessarily being used)

Should we leave this ticket open? I'm not sure whether or when we would submit a PR. We're discussing a number of different options for the underlying problem a

[2016-08-05 20:09] mosesn commented on #538
Works for me.  I'll mark it as a community / starter ticket in the mean time in case someone wants to pick it up.

[2016-08-07 02:30] adriancole commented on #536
ahh of course. sure.

[2016-08-07 02:30] #536 closed

[2016-08-07 02:31] adriancole commented on #536
https://github.com/twitter/util/issues/169

[2016-08-09 02:41] adriancole opened #540 "Is the Event.Type stuff in c.t.f.zipkin.core.SamplingTracer zipkin-specific?"
It seems there's a lot of untested code around json marshaling of events in `c.t.f.zipkin.core.SamplingTracer`, I'd love for this code to be moved somewhere else, for example, an event decorating tracer.
### Expected behavior

The package `c.t.f.zipkin.core` is expected to hold zipkin-specific code.
### Actual behavior

It seems that general purpose event codec and sink logic has been added into t

[2016-08-09 02:49] adriancole commented on #540
ps by untested, I mean that there's nothing that shows the intent of the jackson logic apart from this bijection test https://github.com/twitter/finagle/blob/develop/finagle-zipkin-core/src/test/scala/com/twitter/finagle/zipkin/core/SamplingTracerTest.scala#L103

I'd basically like to write a drop-in replacement of SamplingTracer without having to guess the serialization format this jackson code i

[2016-08-09 13:40] adriancole opened #541 "Let's support non-RPC spans"
The current tracing system is special-cased for client and server spans. There are non-rpc spans, such as expensive local code or messaging activity that are not currently representable in finagle. Let's make them possible!

### Expected behavior

I'd like to be able to indicate the start and finish of an abstract operation. For example:

[code]

These annotations control the authoritative start a

[2016-08-09 13:41] adriancole commented on #541
cc'ing some zipkin-finagle peeps:
@mosesn @eirslett @sveinnfannar @kristofa

[2016-08-09 14:05] adriancole commented on #541
Just to clarify minimum change needed.

Right now, the start of the span is implicit: the time the first annotation was created. We can keep doing that if we want. The minimum change needed is to to indicate something finished.

[2016-08-09 15:01] adriancole commented on #541
disregard previous note. local spans may not have any annotations at all, so we need the start tag

[2016-08-09 22:20] vkostyukov commented on #523
@spockz How is it going? Is there anything we can help with?

[2016-08-10 17:39] kevinoliver commented on #540
Agreed about the conflation. You'd be fine writing a `SamplingTracer`replacement without that code, including the serialization. Running without it with only impact devs who want to use event tracing with this replacement and that could always be addressed separately.

[2016-08-10 23:50] adriancole commented on #540
Thanks for the green light. Good point that these arent really coupled as
the event stuff can be added later!

[2016-08-16 06:27] spockz commented on #529
The behaviour is clear. We introduced a filter that checks the status on the underlying service and completes with FailedFastException when that status is unavailable.

[2016-08-18 15:47] reikje opened #544 "InetResolver uses an unbounded thread pool"
The `InetResolver` uses an unbounded threadpool under the hood. For applications that resolve a lot of `inet!....` destinations, this creates a lot of threads which can be a problem. Unfortunately this is not at all configurable. It's also not possible to extend and create a new `InetResolver` as it is package private.
### Expected behavior

`InetResolver` can be used with a threadpool that can be

[2016-08-18 15:56] kevinoliver commented on #544
@edma2 or @atollena may have thoughts about this.

[2016-08-18 16:31] atollena commented on #544
The number of concurrent DNS resolutions (and thus the number of threads spawned) is bound by a semaphore to a concurrency of 100:

https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/Resolver.scala#L109

I could see value in making that more configurable, but presumably this would need to be done via a global flag, since InetResolver is a singleton.

We

[2016-08-18 17:09] mosesn commented on #544
@reikje do you mind telling us about your use case?  why are you doing so many DNS resolutions?

[2016-08-18 19:25] reikje commented on #544
@mosesn it's an application that listens on a event stream that a remote server provides. on the stream we receive notifications containing host:port of slave machines (nodes being added and removed). Before we start listening we receive all current nodes in one go, around 150-200 items. For each we create a finagle.Http.client using the `inet!host:port` destination, which will internally `bind` u

[2016-08-18 19:42] edma2 commented on #544
`InetResolver` has a `resolveHost` private constructor argument. Another way is to expose that in the public constructor and provide a default in a subclass with a different scheme identifier (e.g. `myinet!blah`). The benefit of this approach is you don't require any flags which are dependent on a particular `resolveHost` implementation (such as the private `DnsResolver`).

[2016-08-18 21:21] mosesn commented on #544
@reikje it sounds like the event stream represents a service discovery endpoint.  you shouldn't have to create a new finagle client on each request–finagle clients are designed to work well with service discovery endpoints.  Have you considered making a Resolver that your finagle client can use?

[2016-08-19 07:29] reikje commented on #544
@mosesn yes that would totally be possible but then I could just write my own `InetResolver` and use it with `myinet!` as scheme. The choice not to use a more advanced service discovery is on purpose, we want one Http client per endpoint.

@edma2 yes an easy fix would be to open up for extension and change package private scope to protected. I can provide a pull request but maybe there is a reason

[2016-08-21 12:32] asheshambasta opened #546 "Documentation/Getting started improvements"
Make documentation clearer and getting started easier.

### Expected behavior

Getting started guide leads to broken situations with no apparent explanation on how to approach things.
I set up a simple Finagle project with `build.sbt` that looks like this;
[code]

And I've run into some very weird issues.
Expected:
- should be able to follow the getting started guide from start to finish with the

[2016-08-21 17:38] mosesn commented on #546
@asheshambasta which version of scala are you running?  Please make sure you're on 2.11, we no longer support 2.10 as of 6.36.0.

[2016-08-22 06:17] asheshambasta commented on #546
@mosesn
That was it.
It would be helpful to add that [here](http://twitter.github.io/finagle/guide/Quickstart.html)

[2016-08-22 06:17] #546 closed

[2016-08-22 20:36] mosesn commented on #546
@asheshambasta if you would like to make a PR, we would appreciate it!

[2016-08-23 07:27] asheshambasta commented on #546
@mosesn https://github.com/twitter/finagle/pull/547

[2016-08-26 18:40] edma2 commented on #544
Let's pass a max concurrency parameter to InetResolver's factory which defaults to a global flag value.

[2016-08-29 23:17] olix0r opened #549 "Finagle-6.37.0 fails to behave properly when `Connection: close` is set"
Finagle-6.37.0 appears to introduce a bug so that requests issued with `Connection: close` fail with a cancelled request exception

### Expected behavior

Requests should succeed.

### Actual behavior

Requests fail with a CancelledRequestException.

### Steps to reproduce the behavior

Simplest reproduction:
[code]

Fails with:
[code]

I am guessing that this is somehow related to #530, which see

[2016-08-29 23:47] mosesn commented on #549
Relatedly, http/1.0 requests have a hard time too.

[2016-09-08 02:31] #549 closed

[2016-09-12 16:00] Ashald commented on #523
@vkostyukov how that could be done with N4 proxy?

[2016-09-12 21:47] vkostyukov commented on #523
@Ashald you'd need to add a dependency to `finagle-netty4-http` and switch your client over to N4 IO transport. Something like

[code]

[2016-09-12 21:50] vkostyukov commented on #523
Please also note that N4 implementation should be considered experimental for now. We're still in the process of gaining confidence in it. That's why it's `exp`.

[2016-09-12 22:09] Ashald commented on #523
@vkostyukov thanks!

I tried:
[code]

And the only thing I got is few log messages:
[code]

I wonder whether something wrong with my proxy or there is some kind of issue in Finagle Netty4 Proxy module?

[2016-09-12 22:14] vkostyukov commented on #523
So the `Await.result()` never returns? Something has to be returned from the call - either a value or exception.

[2016-09-12 22:18] vkostyukov commented on #523
Also if you don't use TLS/SSL you don't actually need TCP tunneling (don't need N4) and can simply send HTTP messages with proper `Host` header to your proxy server.

[2016-09-13 00:22] Ashald commented on #523
Yeah, I waited for ~ 5 mins but didn't get anything.

OK, I think I'll go this way - thanks.

[2016-09-13 03:27] spockz commented on #523
@vkostyukov I'll try to get my code up today.

[2016-09-14 07:40] doronl opened #551 "thrift failed error: /bin/sh: 1: /tmp/thrift-...: Permission denied"
I downloaded an open source project and got:  Permission denied while trying to build it (mvn clean install).

I got the following error log:

[INFO] --- maven-finagle-thrift-plugin:0.0.9:compile (thrift-sources) @ secor ---
[INFO] compiling thrift files [/home/doron.levi/development/inc/secor/src/main/thrift/secor.thrift] with generators [finagle]
[INFO] copying /thrift/thrift-finagle.linux64 to

[2016-09-14 16:08] mosesn commented on #551
@doronl the maven-finagle-thrift-plugin is really old, and unfortunately, also really dead.  It never supported windows, and even when we supported it, we just told people to use a VM if you really had to build on windows.  If you're really dedicated to windows, you might have better luck switching to scrooge, which is not deprecated, and has a maven plugin, and there will at least be a small chan

[2016-09-14 16:08] #551 closed

[2016-09-15 14:58] adriancole opened #552 "Don't break on 128bit X-B3-TraceId by tossing high bits"
We want to phase in 128bit trace ids per See https://github.com/openzipkin/b3-propagation/issues/6. The first step is not breaking if a longer trace id is found in an http header.
### Expected behavior

The first step of transitioning to 128bit `X-B3-TraceId` is tolerantly reading 32 character long ids by throwing away the high bits (any characters left of 16 characters). This allows the tracing s

[2016-09-16 17:50] kevinoliver commented on #552
+@mosesn
Seems like a reasonable approach to me.

[2016-09-16 18:42] mosesn commented on #552
@adriancole what's the expected migration strategy?  use a zipkin which writes all 128 bits, but only uses 64, then when everyone is switched over, cut over?

[2016-09-17 03:44] adriancole commented on #552
pretty much. There would be a little dancing inside zipkin api when tracers
send mixed bits in the same trace, but yeah.

Main thing is the transition design is made to have no impact until 128bit
ids are provisioned and propagated. This change request, is just a
safeguard in case some non-finagle callers propagate a 128bit id before
finagle is update, or the underlying zipkin one is.

[2016-09-18 08:27] doronl commented on #551
I see, anyway I solved this by executing: sudo mount -o remount,exec /tmp.

Thanks anyway!
Doron

[2016-09-19 23:55] kevinoliver commented on #511
I think we've made this quite a bit better since this issue was opened. The contributing section of README.md points you to CONTRIBUTING.md which in turn has the instructions for building the dependencies. That part is now a 1-liner: `curl -s https://raw.githubusercontent.com/twitter/dodo/develop/bin/build | bash -s -- --no-test finagle`.

Closing this as I believe we've addressed the issues. Than

[2016-09-19 23:55] #511 closed

[2016-09-20 01:13] adriancole commented on #511
thanks for looping back. I'll give it a try!

[2016-09-20 10:04] adriancole commented on #552
https://github.com/twitter/finagle/pull/553 I just converted java to scala.. hope it looks alright.

[2016-09-21 00:56] mayhemm opened #554 "*** Finagle-mysql doesn't fully support stored procedures ***"
finagle-mysql fails when trying to execute a stored procedure that does queries.

### Expected behavior

When calling a stored procedure, finagle should return the result set from all the queries being done inside the procedure.

### Actual behavior

Fails with the following error:

com.twitter.finagle.mysql.ServerError: PROCEDURE db.st_test can't return a result set in the given context

### Step

[2016-09-22 03:51] adriancole commented on #511
works!

On Tue, Sep 20, 2016 at 9:13 AM, Adrian Cole <adrian.f.cole@gmail.com> wrote:

[2016-09-22 06:34] adriancole commented on #465
zipkin-finagle has all three transports implemented. please try it out!

https://github.com/openzipkin/zipkin-finagle
https://github.com/openzipkin/zipkin-finagle-example

[2016-09-22 06:34] #465 closed

[2016-09-22 08:12] spockz commented on #523
The code is up in #555. :)

[2016-09-22 08:22] spockz opened #556 "`com.twitter.finagle.http.filter.StatsFilter` is missing a corresponding module"
`com.twitter.finagle.http.filter.StatsFilter` Is missing a corresponding module so it cannot be conveniently added to a Stack.
### Expected behaviour

Adding/enabling the HTTP Stats should be as adding an extra module to the stack. Ideally, this should be possible with the `with*` methods of Client.
### Actual behaviour

Currently one has to create the module itself and decide where to put it.

[2016-09-22 16:25] kevinoliver commented on #556
Not against creating a module for it but I'm not sure we want this module in the default stack for Http, so you'll still need to decide where to place it. Alternatively, since I think you'll want this at the beginning of the chain (so that it sees the final responses and total time) you could also  this `Filter` on top: `new http.filter.StatsFilter(..).andThen(Http.client.newService)`

[2016-09-22 18:59] spockz commented on #556
It doesn't need to be in the stack by default. It's just that I would like to be able to add it through an existing `withHttpStats` (or similar) on the client. We do add the filter now but I would like to re-use the StatsReceiver from the stack because that is the one that is going to be set anyway. Otherwise, the StatsReceiver has to be passed manually to the StatsFilter which is error prone, on

[2016-09-22 19:00] kevinoliver commented on #556
Ah. Yeah, that reason makes sense to me too. Feel like putting together a PR?

[2016-09-22 19:56] spockz commented on #556
@kevinoliver sure, see #557.

[2016-09-23 09:07] mayflaver opened #558 "bidirectional streaming RPC support"
Does finagle support bidirectional streaming RPC ?

[2016-09-23 15:59] mosesn commented on #558
@mayflaver finagle-http supports streaming requests and responses, and finagle-http2 will soon support streamed http/2.  We are considering adding streaming support to mux as well.  Hope that answers your question, please reopen if you have more questions!

[2016-09-23 15:59] #558 closed

[2016-10-10 19:12] morazow opened #561 "`.withTlsWithoutValidation` does not work in Java 8?"
I have a client which skips certificate validation, but seems like it does not work in Java 8.

Sample client:
[code]
It throws this error:
`com.twitter.finagle.SslHandshakeException: General SSLEngine problem at remote address: $hostName/$hostName:8888`

However, I have a solution as following:
[code]

Thanks to this article http://log.rowanto.com/java-8-turning-off-ssl-certificate-check/.

[2016-10-11 00:40] ryanoneill commented on #561
Hi @morazow, thanks for the report.

I was under the impression that using the [IgnorantTrustManager](https://github.com/twitter/finagle/blob/06908573ecd71a9142c3992d5671e4b4c772e922/finagle-core/src/main/scala/com/twitter/finagle/ssl/JSSE.scala#L136) in finagle-core does work in most cases, but will look into this further when I have an opportunity. We currently have a [test](https://github.com/t

[2016-10-11 07:59] morazow commented on #561
Hello @ryanoneill,

Yes, I would love to help!

Currently, unfortunately I do not know the answers for your first three questions. I will do my best to get answers for them.
Meanwhile, I checked the last one with `null` and it worked without any problems.

[2016-10-11 16:46] kevinoliver commented on #561
This new Netty PR might be relevant and also has the wonderful title of
"InsecureTrustManagerFactory is sometimes not insecure enough".

https://github.com/netty/netty/issues/5910

On Tue, Oct 11, 2016 at 12:59 AM, m.orazow <notifications@github.com> wrote:

--
Kevin Oliver | Twitter, Inc | follow me: @kevino <http://twitter.com/kevino>

[2016-10-11 20:03] trustin commented on #561
It's not a PR to be precise though :-) Will try to send a PR soon.

[2016-10-11 20:32] ryanoneill commented on #561
@morazow Thanks for the update. Apparently, @kevinoliver found an issue that was filed on the Netty project with the same issue today. That's a good sign for being able to get this fixed for both.

[2016-10-18 01:55] Saint1991 opened #562 "How to set Host header with LoadBalancing"
Maybe you're discussing, I got confused when using Finagle's load balancing feature.
In order to distribute requests to multiple servers, we instantiate a service via Http.Client#newService as follows,

`val client = Http.client.newService("hostA.org:80, hostB.org:80")`

Then construct request,

[code]

What should we fill ??? with?

Moreover, we're forced to pass the host addresses twice when the

[2016-10-18 17:05] ryanoneill commented on #561
I've made a change for this issue in [this commit](https://github.com/twitter/finagle/commit/fd30b1e7b411a3c507188814afeb09af19ba739d). Going to consider this issue resolved. Thanks @morazow for reporting it.

[2016-10-18 17:05] #561 closed

[2016-10-18 17:14] morazow commented on #561
@ryanoneill great! thank you!

[2016-10-24 16:50] pikazlou opened #563 "connection is not kept alive when receiving 204-no-content without content-length"
Finagle HTTP client doesn't follow HTTP 1.1 spec on keeping connection alive in case of 204 response.

### Expected behavior

When receiving request with the following headers:
[code]
finagle should not initiate closing of the connection because of the absence of "Content-length", since this is completely valid response, according to HTTP 1.1 spec:
https://tools.ietf.org/html/rfc7230#section-3.3.2

[2016-10-24 17:16] bryce-anderson commented on #563
Hi @pikazlou! This seems to be a hot topic. There is already a PR concerning this that you might be interested in: https://github.com/twitter/finagle/pull/521

We have just merged some work internally similar to this regarding HEAD requests, but it hasn't synced with github yet. I'll try and poke the PR ticket once the sync has happened. It should provide a better foundation for cleaning up some o

[2016-10-24 17:16] #563 closed

[2016-10-25 21:21] pikazlou commented on #563
@bryce-anderson could you suggest any workaround to avoid ConnectionManager closing connection? I've tried adding "Content-length" header inside filter, but it seems ConnectionManager logic is applied before any filtering. So I'm running out of ideas how to solve the issue without forking/patching finagle for my needs.

[2016-10-25 21:24] bryce-anderson commented on #563
Right now, I don't think there is a solution. That is part of the motivation for #521. Part of getting us on that direction was done in this commit: https://github.com/twitter/finagle/commit/fa8cef1c30e635366c763ae12de4133133a1f50b
I hope that we can build on that.

[2016-10-25 21:29] bryce-anderson commented on #562
I think that it would be nice for the load balancer to set the host header. We don't use the host header much, so this hasn't been a priority for us. That said, I think it would be really good to do as not everyone is so lax with their HTTP.

I'm sorry I don't have better news for you.

[2016-10-26 01:46] Saint1991 commented on #562
@bryce-anderson
Thank you for your kind reply!

I opened this issue because HTTP/1.1 obligates us to set Host header.
 Some middleware, e.g. [consul](https://www.consul.io)), don't accept the request without Host header and return the 400 BadRequest.

I hope this issue will be resolved in the future, thanks!

[2016-10-27 08:10] adriancole opened #564 "Support propagating 128-bit trace identifiers"
When Finagle receives a 128-bit trace identifier, it should be able to propagate it without reducing its size to 64-bits.

### Expected behavior

TraceId should have an extra field to carry the high bits of a 128-bit trace id. In other instrumentation, this is called traceIdHigh (or traceIdHi). This should be initialized to zero, and encoded if set.

For example, if serializing to the `X-B3-TraceI

[2016-10-27 08:13] adriancole commented on #564
@kevinoliver @mosesn while the timing of implementing this isn't critical, I'd like buy-in on the approach used for binary serialization of TraceId (when 128-bits are in use). This is so that others libraries can update in anticipation of similar updates here.

The two most sensible choices seem to be..
* check length and if 40 read traceIdHigh from position 16 (pushing everything else right 8)
*

[2016-11-01 18:27] kevinoliver commented on #564
@adriancole What approach are other systems taking here? Its not obvious to me what the tradeoffs are between those two choices.

[2016-11-02 01:22] adriancole commented on #564
Brave (who's binary form in cassandra tracing context) uses the former (keep the two halves of the ID next to eachother in byte order). I think this makes most sense, but you do need to guard on length to see if you should read a traceIdHigh or not.

The latter was mainly to show two options :) Hypothetically, some demarshaller which works today might work by just choosing not to read the last 8 b

[2016-11-02 02:13] adriancole opened #565 "publish finagle-thrift gem"
Can someone publish finagle-thrift? (to https://rubygems.org/gems/finagle-thrift) There was a recent change to support 128-bit trace IDs that depends on this.

cc @nshkrob

ps you might want to update the authors and owners, as it looks out-of-date

[2016-11-02 02:24] adriancole commented on #565
@jcarres-mdsol fyi I'm pretty sure the zipkin gem will die on long ids until this happens

[2016-11-04 21:47] bryce-anderson commented on #565
Done: https://rubygems.org/gems/finagle-thrift/versions/1.4.2

[2016-11-04 21:47] #565 closed

[2016-11-05 00:38] adriancole commented on #565
thank you!

[2016-11-08 02:44] Croyson opened #567 "how to set redis db default index"
how to set redis db default index

[2016-11-15 05:56] noctella commented on #505
We've done some further poking of the bijection folks; once that's in I think we'll be able to start 2.12-ification in earnest. @jeffreyolchovy are you still interested?

[2016-11-15 05:58] jcrossley commented on #505
We've done some further poking of the bijection folks; once that's in I think we'll be able to start 2.12-ification in earnest. @jeffreyolchovy are you still interested?

[2016-11-15 08:31] jeffreyolchovy commented on #505
Sure. Myself and a few other @Tapad engineers would like to contribute toward the effort :)

[2016-11-15 08:50] eshelestovich commented on #204
Any updates on this, folks ? As far as I can see, latest finagle-core_2.11:6.39.0 still depends on netty-3.10.1.Final.

[2016-11-15 14:50] dschobel commented on #204
@eshelestovich we have implementations of most of our protcols on netty4 but the dependency on netty3 will be there for a little while longer as we clean up internals. There is no public api that depends on netty3 however.

[2016-11-15 17:16] jcrossley commented on #505
@jeffreyolchovy that's great to hear, thank you! Will let you know once the bijection upgrade lands.

[2016-11-15 18:12] mosesn commented on #204
@eshelestovich one thing that helps us here is that netty 3 is in a different namespace from netty 4, so finagle-core can still depend on netty 3 but use netty 4 under the hood.

[2016-11-18 10:14] spockz opened #569 "`RetryFilter` does not honour Interrupts"
`RetryFilter` keeps retrying, even if the request was interrupted.

### Expected behavior

No more retries should be executed once the originating request/response has been interrupted. In the testcase I should only see 1 request.

### Actual behavior

The RetryFilter keeps retrying.

### Steps to reproduce the behavior

Add a Timoutfilter on top of a RetryFilter on top of a failing service: https

[2016-11-18 17:13] mosesn commented on #569
@spockz I think your test is incorrect.  note that `service(Request())` has already finished because it's synchronous.  I think it behaves correctly.

[2016-11-18 18:24] spockz commented on #569
@mosesn I think you are right. I changed the test to include an actual http server and client and I'm seeing the expected behaviour: the timeout results in a failure that is interrupted.

[2016-11-18 18:24] #569 closed

[2016-11-27 20:58] allquantor opened #571 "remove libthrift 0.5-0-7"
Old libthrift version is the possible origin of runtime class loader errors.

### Expected behavior
Newest finagle-thrift version should support the current thrift version.
### Actual behavior
```com.twitter:libthrift:jar:0.5.0-7:compile```
in classpath.

Can be the origin of class loader errors if overlap with current libthrift (0.9.3).
Any plans to remove it?
Ivan

[2016-11-27 22:59] taylorleese commented on #571
This isn't published yet, but please see https://github.com/finagle/finagle.github.io/pull/24. Also, see the notes in https://github.com/twitter/finagle/releases/tag/version-6.40.0.

[2016-11-28 23:38] sohamsankaran opened #572 "Make it possible to close client connections"
It is currently not possible to close clients instantiated via the method interface (an example follows)

[code]

### Expected behavior

A method such as ``client.close()`` should close the connection.

### Actual behavior

No easy way to do this exists. This [stackoverflow answer](http://stackoverflow.com/questions/34780815/how-do-i-close-a-finagle-thrift-client) seems like a hacky workaround, bu

[2016-11-30 05:42] iwag opened #573 "LostSyncException in finagle-mysql"
Seemingly, finagle-mysql can't handle some errors.

### Expected behavior

Returns proper error message.

### Actual behavior

Sometimes it returns LostSyncException with UnderflowException or IndexOutOfBoundsException.

[code]

in finagle-6.35.0 ~ 6.40.0.

[code]

in finalge-6.34.0.

### Steps to reproduce the behavior

[code]

[code]

[2016-11-30 05:47] iwag commented on #573
probably similar issue https://github.com/twitter/finagle/issues/439

[2016-11-30 15:59] mosesn commented on #571
@allquantor you should be able to fix your problem by following @taylorleese's instructions, so I'm going to close this for now.

[2016-11-30 15:59] #571 closed

[2016-11-30 16:12] mosesn commented on #573
@iwag hmm, interesting.  it looks like we misinterpret a mysql response, so our protocol implementation isn't quite right.  what do you think about taking a stab at this?

[2016-12-01 05:44] kevinoliver commented on #556
@spockz I think #557 addressed this so I'm closing it. Please reopen if I got that wrong.

[2016-12-01 05:44] #556 closed

[2016-12-01 15:48] iwag commented on #573
Okay 😄  I will try.
But I'm not familiar with the implementation.
Do you have any ideas where I start to do ?

[2016-12-01 17:00] mosesn commented on #573
@iwag I'd suggest looking at where we get the UnderflowException in the stack trace, then trace back through the stack trace to figure out where we make a bad assumption about what the mysql protocol will return to us.  It looks like the mysql ClientDispatcher might be a good place to look?  Thanks!  Please let me know if you have any more questions about it.

[2016-12-01 21:21] clhodapp commented on #505
Bijection 0.9.3 with support for 2.12 is on maven central.

[2016-12-01 21:33] jeffreyolchovy commented on #505
I'll start revisiting this weekend so that our team members are ready to contribute early next week.

[2016-12-02 22:19] mosesn commented on #505
@jeffreyolchovy bad news, there's a scala bug that's preventing us from upgrading now.  https://issues.scala-lang.org/browse/SI-9871

I'm not sure what we can do until that gets resolved.  @SethTisue do you know if there's anything we can do to work around this in the mean time?

[2016-12-03 00:55] jeffreyolchovy commented on #505
Ah yeah.. Definitely a blocker unless you want to refactor a bunch of core code...

[2016-12-16 14:14] spockz opened #575 "Preventing double computation"
When using response classifiers we need to compute values multiple times.

E.g. to check whether a response is functionally valid we parse the result as JSON and check some fields. To do this the JSON is parsed in both the response classifier as our filter that transforms an HTTP response into an object. Another use-case is SOAP Messages, we need to validate and parse the XML to see whether the me

[2016-12-16 20:27] mosesn commented on #575
@spockz we already only deserialize only once in thrift.  this is enforced by [DeserializeCtx][0].  it might make sense to try to raise DeserializeCtx to finagle-core if it will be useful for http too.

[0]: https://github.com/twitter/finagle/blob/develop/finagle-thrift/src/main/scala/com/twitter/finagle/thrift/DeserializeCtx.scala#L29-L41

[2016-12-16 20:33] spockz commented on #575
@mosesn that is exactly what I was alluding to in the second pro of solution 1. The issue with that solution that it only works for one transformation. In the SOAP example we parse SOAP but the application then still transforms the contents of the SOAP response and has to check for functional errors.

[2016-12-20 18:02] kevinoliver commented on #575
@spockz re #1, this approach was discussed as an alternative design for response classification but we decided against it for two reasons. 1, it meant users had to do "data modeling" for their failures. 2, it would be a significant change for existing code to use response classification, and thus a barrier to adoption.

re #3, i see the appeal of exposing the failure accrual to the application. no

[2016-12-21 18:39] mosesn commented on #505
Update on this–we ended up having to make a pretty painful breaking change in finagle to work around the scalac backwards incompatibility, since the scala team introduced new semantics in 2.12 that unbreaking our backwards incompatibility would have made backwards incompatible.  Subsequently, we ran into several more compiler bugs, so @jcrossley ended up tackling it, and has migrated finagle to 2.

[2016-12-21 18:39] #505 closed

[2016-12-22 01:00] adriancole commented on #505
fyi this applies to 6.41.0
<http://search.maven.org/#artifactdetails%7Ccom.twitter%7Cfinagle-redis_2.12%7C6.41.0%7Cjar>

[2016-12-22 09:14] reikje commented on #544
This came up again here. Whats the status of this issue, can I help in any way?

[2016-12-23 07:53] darionyaphet opened #576 "Finagle 6.41.0 building failed"
Finagle 6.41.0 building failed .

### Expected behavior

`./sbt` maybe should make this project .

### Actual behavior

[code]

[2016-12-26 14:01] mosesn commented on #576
I googled that error, and it looks like you run into that when you try to run a git command but you're not in a git repository. I don't think ./sbt has any git commands (as far as I know), and besides, finagle is a git repository if you downloaded it from GitHub. I think you might have something weird going on on your end.

as an aside, I don't know what server you expect to run with run-main, sin

[2016-12-28 02:20] knightpop opened #577 "finatra dependency problem between finagle-http and finagle-base-http"
One line summary of the issue here.

### Expected behavior

I use
- finatra 2.6.0
- finagle 6.40.0
- twitter-util 6.39.0

and I want my server sbt assembly well

### Actual behavior

but get error duplicate dependency

`java.lang.RuntimeException: deduplicate: different file contents found in the following:
{homedir}/.ivy2/cache/com.twitter/finagle-http_2.11/jars/finagle-http_2.11-6.40.0.jar:com/t

[2016-12-28 18:08] ryanoneill commented on #577
Hi @knightpop, thanks for the report. I checked this out with the versions you specified (finatra 2.6.0, finagle 6.40.0, util 6.39.0),  and I see the same issue that you do. Our apologies for that.

A few days ago though we [released updated versions of these libraries](https://finagle.github.io/blog/2016/12/23/release-notes-6-41/) (finatra 2.7.0, finagle 6.41.0, util 6.40.0), and I confirmed with

[2016-12-28 18:30] kevinoliver commented on #544
@reikje i think a PR would move things forward. looks like @edma2 [suggested](https://github.com/twitter/finagle/issues/544#issuecomment-242817389) injecting the `FuturePool` to use as a parameter to a new `InetResolver.apply` [method](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/InetResolver.scala#L50). this should be easy to do in a backwards co

[2017-01-02 11:31] leesf opened #578 "Memcache write-read error"
Hello, everyone. When i use memcache, there is an error. I changed memcache port to 12000. And the code is below

import com.twitter.storehaus.memcache.MemcacheStore
import com.twitter.conversions.time._
import com.twitter.finagle.redis.util.{CBToString, StringToChannelBuffer}
import com.twitter.util.Await

object MemcacheTest {
def main(args: Array[String]): Unit = {
val client = MemcacheStore.
d

[2017-01-03 22:01] bryce-anderson commented on #578
Hi @leesf! I noticed in your example you're using an `Await.result` call, which is notorious for causing issues. It may not be the root problem since you're doing it in separate threads but it can be hard to be sure. Is that how your application code is setup?

[2017-01-04 00:31] leesf commented on #578
Hi @bryce-anderson, thanks for replying. The experiment shows that the Await.result not the root of problem, i use the multiGet to get results in batch manner, and it works well.

[2017-01-05 06:29] zarinfam commented on #573
I have this problem too.

[2017-01-11 18:59] olix0r opened #580 "Netty4 clients hide crucial TLS config parameters"
`Netty4SslHandler` does not support configuration of client-side protocol negotiation, which is necessary for, for instance, HTTP/2 clients that communicate with servers that support both http and h2.

The `Transport.Tls` param and `TlsConfig` expose a `nextProtocol` configuration for Servers but not for Clients. Though, I'll argue that things like protocols should *not* be configured by by the `T

[2017-01-11 21:24] ryanoneill commented on #580
@olix0r You should be able to do this once all my stuff has shipped (which it's started too, for preliminaries check out [util-security](https://github.com/twitter/util/tree/develop/util-security/src/main/scala/com/twitter/util/security)).

The next commit will include SslClientEngineFactory in finagle-core. That is a generic trait which can be extended, of which one extension is Netty4ClientEngin

[2017-01-11 21:28] olix0r commented on #580
Furthermore, the only way to configure a CA cert with a client is to build a java SSLContext, which can't be used in conjunction with netty's SslContext...

Are there concrete plans to address this already? The current state of things is pretty unusable for anything but trivial client tls configurations. I think we'd be willing to take this on if it's worthwhile for us to do so.

[2017-01-11 21:29] olix0r commented on #580
@ryanoneill that's great news! thanks.  let us know if there's anything we can do to help it along.

[2017-01-11 21:36] ryanoneill commented on #580
Just to clarify, when you say a CA cert with a client, are you talking about using the CA cert for trusting a certificate from the server, or in using a chain of certificates for configuration for key management.

Example:
Root CA -> Intermediate CA -> Client Cert / Server Cert

Are you talking about configuring the client with
([Root CA,] Intermediate CA, Client Cert) so that multiple certs are s

[2017-01-11 21:40] olix0r commented on #580
Out of curiosity: will this new type unify Netty3 and Netty4 tls configuration? or is the plan to just let Netty3 drift off to sea?

[2017-01-11 21:41] olix0r commented on #580
@ryanoneill My initial goal os for trust management.

We'd also like to support client certs as well, but that's secondary.

[2017-01-11 21:50] ryanoneill commented on #580
You would then want an [SslClientConfiguration](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/ssl/client/SslClientConfiguration.scala#L29) that uses [TrustCredentials.CertCollection](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/ssl/TrustCredentials.scala#L34).

That file should contain multiple cer

[2017-01-11 22:07] ryanoneill commented on #580
Just saw your previous question. These changes will unify Netty 3 and Netty 4 SSL/TLS configuration. You would also be able to use the Netty4ClientEngineFactory or Netty4ServerEngineFactory with a Finagle client/server running Netty3. You would want to do that if you're still using Netty 3, want client authentication, and you want to use netty-tcnative.

My work is independent of our move to get e

[2017-01-11 22:13] olix0r commented on #580
Thanks for the clarification.  Some more questions:

Re: SslClientConfiguration, how do you foresee configuration being layered composed from multiple sources.  I have some protocol-specific client that knows what protocols need to be supported independently of the details of verification.  It seems desirable to just simply do something like:
[code]
(like any other protocol-specific configuration)

[2017-01-11 22:26] ryanoneill commented on #580
I think I understand your first question. My current thinking is that it might be best for you to refactor our Netty4ClientEngineFactory to work also for your needs, and have the "h2" part stick with the engine factory in this case, and leave the applicationProtocols section of the SslClientConfiguration as Unspecified. I'm open to further ideas once you can see the items in place.

Yeah, the Trus

[2017-01-11 22:57] olix0r commented on #580
I think there are several distinct components of TLS configuration that can change independently and are typically set by different things:
- TLS transport configuration: configures TLS itself including: Protocol, Ciphers, timeouts
- Remote verification: Controls how a client trusts a server's identity
- Local credentialing: Controls how a client provides its own identity to a server
- Post-handsh

[2017-01-12 00:19] ryanoneill commented on #580
Within another week or so you should be able to see what this code looks like and then we can talk again about what does and doesn't work for you.

[2017-01-20 17:13] daviddenton opened #581 "Netty warning on startup with Scala 2.12"
When using Scala 2.12, Finagle servers fail to start up cleanly (v6.41.0), generating a Netty warning.

### Expected behavior

No warnings!

### Actual behavior

The following warning is generated after 10 seconds:
[code]

The server seems to behave normally, but I have not placed it under any particularly high load.

### Steps to reproduce the behavior

A simple project to reproduce the warning c

[2017-01-21 02:46] chintootech commented on #581
I am getting the same warnings using scala 2.12.1 and finagle 6.41.0.

[2017-01-23 18:18] vkostyukov commented on #581
Thanks @daviddenton for the report! I'll be looking into that this week.

[2017-01-27 14:06] scf37 opened #583 "Mistake in Finagle documentation?"
http://twitter.github.io/finagle/guide/Clients.html
```Requests timed out by the Request Timeout module are not retried by default given it’s not known whether or not they were written to the wire.```

`CommonParams.withRequestTimeout` javadoc:
[code]

So, will request failed by timeout is to be retried or not?

[2017-01-27 16:36] mosesn commented on #583
@scf37 it's not retried.  The distinction is that if a request is failed for a reason that makes it eligible for automatic retrying (like it gets nacked) then it gets a fresh request timeout.

Would you like to make a PR to help clarify this?

[2017-01-30 22:46] vkostyukov commented on #581
I have an update on this. Seems like there is a problem in Scalac 2.12 w.r.t. to how it compiles [this piece of code](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/netty3/package.scala#L25-L34). Difference in the stack-traces between 2.12- and 2.11-compiled threads lead me to that file. I was trying to figure out what exactly is different between 2

[2017-01-31 13:53] scf37 commented on #583
@mosesn I'm not that confident in my english :-)
[code]

What do you think?

[2017-01-31 16:25] mosesn commented on #583
Looks good, but remove the bit about response classification.  Finagle doesn't use response classification to decide whether to retry stuff, so you will still have to retry it manually (response classification is only for circuit breaking and stats).

[2017-01-31 16:51] scf37 commented on #583
So the right way to enable retries on timeout is to wrap built `Service[Req, Rep]` with another `TimeoutFilter` or alter `Stack` manually?

[2017-01-31 18:16] mosesn commented on #583
Well, a RetryFilter, not a TimeoutFilter, but yes.  We're working on tooling to improve this, so it's in the pipeline.

[2017-02-01 00:03] kevinoliver commented on #583
If you're interested, take a look at [MethodBuilder](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/client/MethodBuilder.scala#L80). Its a work in progress, but if you look at the `withRetry` and `withTimeout` methods you can get a feel for where its going.

[2017-02-01 03:36] vkostyukov commented on #581
The workaround I've been talking about has been merged (225c86ddf04723d0346fcd7a76bfa547aaefd39f). I'm going to close this ticket but keep the internal one until the reproducer for Scalac is ready.

Thanks @daviddenton for the report!

[2017-02-01 03:36] #581 closed

[2017-02-01 04:57] daviddenton commented on #581
Nice work @vkostyukov ... looks like it was an interesting one to investigate!!

Is there a rough date on the next finagle release for 2.12 (early/late Feb)?

Thanks!

😀

[2017-02-01 05:00] vkostyukov commented on #581
I think @bryce-anderson is going to release Finagle this week.

[2017-02-01 19:28] vkostyukov commented on #581
Just an update on this: I made the reproducer (https://github.com/vkostyukov/scala-2-12-1-and-runnable-bug) and filled a scalac bug (https://issues.scala-lang.org/browse/SI-10169).

[2017-02-02 13:19] adriancole commented on #541
just had a chat with @capitanbatata about this. any thoughts about this proposal (or other ways to make intermediate spans?) it seems a nice and incremental win for those who want to model things like a dao layer.

[2017-02-03 09:05] koshelev commented on #580
@ryanoneill any progress on this issue? Let me know if there is something I can help with

[2017-02-03 10:37] scf37 commented on #583
I see...
- withRetryBudget/withRetryBackoff applies only to internal Finagle errors (networking)
- ResponseClassifier has to do nothing with retries
- buil-in retries aka `RequeueFilter` are designed for network errors and failure propagation via `c.t.f.Failure` exception
- There is currently no support for application-level retries based on response classification

For example, I have Thrift serv

[2017-02-03 16:22] mosesn commented on #583
Yes, we put RetryFilters over everything.  Although you say, "over the loadbalancer" we typically don't encourage users at Twitter to inject filters directly into the stack, so it would also be over naming.

No, RetryPolicies can be fine-grained, so we make our RetryPolicies handle different kind of exceptions appropriately.  We are planning on using `FailureFlags` for exceptions finagle exports,

[2017-02-03 21:51] ryanoneill commented on #580
We are in the process of doing the OSS release for Finagle 6.42.0 now.

My changes will all be public in 6.43.0. You can see what some of them look like by looking on the develop branch now. The stack parameters for Netty 3 and Netty 4 both will be unified and be changed internally (and on develop) hopefully next week. The additional parameter for verification (which is what would allow setting th

[2017-02-06 19:21] kevinoliver commented on #578
Looks like you found a way to work around the issue.

[2017-02-06 19:21] #578 closed

[2017-02-06 19:22] #577 closed

[2017-02-06 19:23] kevinoliver commented on #544
This got resolved in #579 thanks again.

[2017-02-06 19:23] #544 closed

[2017-02-07 01:11] kevinoliver commented on #541
seems like a useful feature. what happens if more than one Start nests? would it help to take an identifier?

[2017-02-09 01:47] vkostyukov commented on #204
I decided to update this epic thread.

As of Finagle 6.42, it's now possible to switch the underlying transport implementation over to Netty 4 for **all supported protocols**. See more details [in this blog post](https://finagle.github.io/blog/2017/02/06/finagle-loves-netty4/).

[2017-02-09 02:47] adriancole commented on #541
I suspect it would be similar to if multiple ClientSend() were called.
ideally, duplicates would be ignored.

Right now, the status quo for local spans is pretending they are clients,
so this is a pretty good way to think through things.

cc @capitanbatata

[2017-02-12 16:42] spockz opened #585 "Prefer to avoid sending a retried request to the same server"
Retried requests might end up at the same server, failing again.

### Expected behavior

We want to avoid sending a request that failed to the same server again. In particular for small server sets, as chances for selecting the failing instance are higher.

### Actual behavior

We would like to try and select a different server than the one that gave the failed response.

### Discussed solution ap

[2017-02-14 17:33] kevinoliver commented on #585
+@roanta

Some brief comments on this:
* The benefits need to outweigh the costs.
* We should be able quantify probabilities for various cluster sizes. For example, given 3 retries and a backend of size (5, 10, 20, 100), what are the odds?
* Internally, we are moving towards using aperture as the default load balancer and as such we are more likely to see the same node selected for retries.

[2017-02-14 18:21] roanta commented on #585
Something to note is that the client stack already attempts to avoid nodes that are performing poorly relative the rest of the server set. It does this via prioritizing the least latent endpoints and via circuit breakers. Have you found both of those mechanism to be insufficient in these cases? Maybe you can try to tune the circuit breakers to be more aggressive. For example, failure accrual can n

[2017-02-14 20:28] spockz commented on #585
@roanta do you have an example on how to configure the target SR?

In our case, most of the times, the instances that respond quickest are broken and return errors. Which means that we don't necessarily want to favour *the* fastest instances. Tuning the failure accrual to be more aggressive (less forgiving) would mean a higher risk of needlessly ignoring an instance and being very trigger happy. R

[2017-02-15 07:57] nodrunkdriving opened #586 "error with scrooge-sbt-plugin"
[info] Loading project definition from /Users/zhangyi/work/code/git-hub/finagle/project/project
[info] Loading project definition from /Users/zhangyi/work/code/git-hub/finagle/project
[info] Updating {file:/Users/zhangyi/work/code/git-hub/finagle/project/}finagle-build...
[info] Resolving com.twitter#scrooge-sbt-plugin;4.14.0-SNAPSHOT ...
[warn] 	module not found: com.twitter#scrooge-sbt-plugin;4.

[2017-02-15 16:25] roanta commented on #585
The SR failure accrual policy [1][2] is still experimental, so there isn't a `with*` style API for it. Instead, you have to use `configured` on the client:

[code]

You can also configure a response classifier [3] to take into account responses that look successful to finagle (i.e. are a `Return`), but really represent an application failure. This should help with the issue you described where the

[2017-02-15 18:06] mosesn commented on #586
@nodrunkdriving we have a few projects that we update in sync, so we depend on snapshot versions of them so that they still build even when we break an API.  Scrooge is one of them.  We have an explanation of how to fix it [here][0].  The short version is that you need to publish scrooge-sbt-plugin locally to get finagle-thrift to build.  If you don't want to go through this rigamarole, you can tr

[2017-02-15 18:07] #586 closed

[2017-02-16 02:27] nodrunkdriving commented on #586
thanks  for your reply，it‘s fixed

[2017-02-21 17:39] jduan commented on #133
Are there any updates? The last update was almost a year ago. Thanks!

[2017-02-21 18:33] ryanoneill commented on #133
Hi @jduan, not really much of an update here. We are still on the 0.5.x branch internally. It would be a very large undertaking to migrate everyone internally. Perhaps some day, but we're not actively working on it at the moment.

[2017-02-21 21:01] jduan commented on #133
@ryanking thank you for the update anyway!

[2017-02-28 21:59] stevej opened #588 "Some finagle and util methods are being deoptimized by the C1 JIT Compiler in OpenJDK 8."
Hi gang,

While doing some recent performance analysis, I found that some important methods in `finagle` and `util` are being deoptimzed (turned back into interpreted code) by the JIT Compiler.

How I found this: I ran a few million requests through linkerd with `-XX:+PrintCompilation` turned on and dug through the logfile looking for anything suspicious. I'll put the Java flags used near the end

[2017-02-28 22:56] kevinoliver commented on #588
@stevej thanks. I am not an expert in print compilation, but some [light web searching](https://gist.github.com/chrisvest/2932907#deoptimization-made-not-entrant--made-zombie) shows that "made not entrant" and "made zombie" are for deoptimization. I would think the method be optimized again later, but I'm not certain.

I'm not sure how you are thinking to proceed here. We <3 optimizations. Do you

[2017-02-28 23:50] fwbrasil commented on #588
"made not entrant" and "made zombie" don't indicate problems afaik. @stevej are there log lines reporting methods that are hot but can't be inlined because are too large?

[2017-03-01 17:34] stevej commented on #588
@fwbrasil They're only problems in that they're being deoptimized. The documentation is slight and I don't spend a lot of time digging around OpenJDK so please let me know if I'm wrong here but my understanding is that deoptimization means jitted native code is being ejected from the code cache and the bytecode interpreter is being used for that method until the jitter kicks in again. It's possibl

[2017-03-01 18:14] dschobel commented on #588
I think it's worth running these traces past our jvm team for a professional opinion. It shouldn't take long for them to verify whether it's worth digging into more deeply.

[2017-03-01 19:04] fwbrasil commented on #588
The JIT compiler is a magic black box for me, so I might be wrong, but I think the deoptimization per se doesn't indicate a problem. The JIT compiler optimizes optimistically and then deoptimizes if the assumptions it made don't hold, which should be fine. The problem would be if it can't apply the optimizations again and the code path is hot.

Does the log have a reason for why the optimization d

[2017-03-01 19:21] stevej commented on #588
I went ahead and put the whole `-XX:+PrintCompilation` log into a secret gist.

https://gist.github.com/stevej/569e917fddef919b6ae29369f00e92ec

[2017-03-01 19:27] dschobel commented on #588
thanks Steve, I'll file a ticket and report back.

On Mar 1, 2017 12:21, "Steve Jenson" <notifications@github.com> wrote:

[2017-03-01 20:41] christhalinger commented on #588
First, if you are using `-XX:-TieredCompilation` you are using C2, not C1.

The deoptimizations, as already mentioned above, are completely normal and expected.  The methods in question also seem to be recompiled immediately (after some profiling in the interpreter):

[code]

Nothing to be worried about.

You *should* worry if a method is deoptimized and recompiled over and over again.  This will

[2017-03-01 20:56] dschobel commented on #588
thanks @christhalinger, calling this one done. thanks for the scrutiny @stevej

[2017-03-01 20:56] #588 closed

[2017-03-01 21:00] stevej commented on #588
@christhalinger Thank you for the followup (and especially for clarifying my misunderstanding of the `-TieredCompilation` flag), can you tell me if the deoptimizations I mentioned in the comment above (https://github.com/twitter/finagle/issues/588#issuecomment-283411421 ) match the pattern you're warning against? They seem to be getting deoptimized and recompiled numerous times.

[2017-03-01 21:30] christhalinger commented on #588
Answering anyway😀

The deoptimization/recompilation dance would happen two or three orders of magnitude more.

[2017-03-02 12:19] scf37 commented on #583
So, If i get this right:
- ResponseClassifier only used by StatsFilter and `FailureAccrualFactory`
- the only built-in retries are RequeueFilter which retries only 'safe' network failures (and this can not be changed). RequeueFilter uses `context.Retries` to propagate some data over request... I didn't get how it is used though.
-  `withRetryBudget`/`withRetryBackoff` is only for RequeueFilter and

[2017-03-02 22:04] kevinoliver commented on #583
for now, yes.

Requeues can be removed from your client. Something like

[code]

The Retries context is used to give the backend additional context as it is sent over the wire for HTTP and Mux. For example, a backend could decide to deprioritize retries if it chose to.

If you put your own RetryFilter on top of the client, you can share this budget. And yes, there will be two RetryFilters.

Not on

[2017-03-03 08:57] tejasmanohar opened #590 "SBT: Unresolved dependencies"
https://github.com/twitter/scrooge/issues/262

Cross-posting because I'm not sure which repository the core problem is in. It seems like I get the same error when I remove everything but finagle-thrift.

[2017-03-03 17:29] bryce-anderson commented on #590
See other thread.

[2017-03-03 17:29] #590 closed

[2017-03-06 19:03] #576 closed

[2017-03-07 14:13] scf37 commented on #583
`Failure.Interrupted` is converted by ThirftMux to `ServerApplicationError`. Thus, ThriftMux can also return:
- ServerError
- ServerApplicationError

It really complicates error handling. Basically, I want error handling to detect at least three error cases:
- errors that can be retried (e.g. some dependent service is unavailable or overloaded)
- errors that should not be retried (e.g. validation

[2017-03-07 14:48] scf37 commented on #583
ThriftMux connecting to unavailable port returns `ChannelWriteException`.

It seems finagle errors are diverse and unstructured. How do you write RetryPolicy for finagle clients? How do you work with persistent queues in distributed system? When processing a message from persistent you, you must clearly know whether to consume it, throw it away or put to dead letter queue.

[2017-03-13 09:29] hellokangning commented on #158
[code]

However, the following does NOT work

[code]

[2017-03-13 15:14] mosesn commented on #158
@hellokangning if you use a new version of finagle, you won't have to depend on maven.twttr.com at all.  see this [blog post][0] for more details.

[0]: https://finagle.github.io/blog/2016/11/29/central-libthrift/

[2017-03-22 11:21] rogern opened #593 "set contentString is broken"
Setting contentString on a Response fails with a ClassNotFoundException on Buf$Indexed

I'm using finagle-core_2.11-6.42.0 and can no longer set the contentString on a Response.
It fails here:
[code]
This simple code shows the bug:
[code]

This worked in finagle 6.32.0

[2017-03-22 13:39] reikje opened #594 "pending Metric in StatsFilter can be incorrect"
The `pending` metric in the `StatsFilter` can be incorrect.

### Expected behavior

The metric should always contain the correct number of outstanding requests.

### Actual behavior

If `service(request)` is throwing an exception, the count is never decremented.

### Steps to reproduce the behavior

Create a `Server` that is throwing an `Exception` without wrapping it in a `Future`.

[2017-03-22 15:40] mosesn commented on #593
@rogern NoClassDefFound often indicates that there's a classpath mismatch.  Can you check that you only have one version of `util-core` on your classpath, and that it's the one that `finagle-http` 6.42.0 depends on?

[2017-03-22 15:44] mosesn commented on #594
Thanks for the bug report!  My guess would be that we should wrap `service(request)` in a try/catch block in https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/service/StatsFilter.scala.  @reikje do you want to take a stab at this?

[2017-03-22 15:51] reikje commented on #594
Yes will do @mosesn :)

[2017-03-23 10:56] reikje commented on #594
Created a pull request: https://github.com/twitter/finagle/pull/595 and also added some notes.

[2017-03-23 11:37] rogern commented on #593
@mosesn Oh, so I need to depend on util-core 6.41.0 when using finagle 6.42.0! I probably missed that in the doc somewhere =) Maybe not so obvious ;)
I tried to slim down my project as much as possible but still I had quite a few dependencies on util-core since Future class is part of it.

[2017-03-23 11:37] #593 closed

[2017-03-23 11:46] vigneshwaranr commented on #562
Is this not resolved yet?

[2017-03-23 15:08] bryce-anderson commented on #562
@vigneshwaranr, I'm sorry to say that we haven't invested in this yet.

[2017-03-23 15:44] mosesn commented on #562
@vigneshwaranr would you like to take a stab at this?  It might look something like having an option on the `Http` client that lets you set the host header for requests if it hasn't been set yet.

[2017-03-27 21:30] bachateraconfuego opened #598 "Finagle-mysql H2 support?"
Does finagle-mysql work with in-memory H2 db with an address like:

jdbc:h2:[file:][<path>]<databaseName>
jdbc:h2:~/test
jdbc:h2:file:/data/sample
jdbc:h2:mem

[2017-03-28 16:29] mosesn commented on #598
Hi @bachateraconfuego, we don't support that, but people have added support for [postgres][0], so it might be worth looking into doing something similar for h2.  finagle-mysql isn't built on top of jdbc, but you can make a jdbc client participate neatly in the finagle ecosystem by wrapping calls to the client with a FuturePool.

[0]: https://github.com/finagle/finagle-postgres

[2017-03-28 16:29] #598 closed

[2017-04-03 16:05] koshelev opened #600 "No peer certificate in context when using netty4."
When using `finagle-netty4` from the `develop` branch, peer certificate is not available in the context after successful TLS handshake.

### Expected behavior

If server is configured to use mutual TLS authentication and TLS handshake was successful, than service can query client's certificate using `com.twitter.finagle.transport.Transport.peerCertificate`.

### Actual behavior

`Transport.peerCer

[2017-04-03 16:41] vkostyukov commented on #600
Thanks @koshelev! As I mentioned on Gitter, I like your idea about changing `peerCertificate` on N4 transport from `val` to `def`. Any chance you want to open a PR?

[2017-04-03 19:29] koshelev commented on #600
@vkostyukov I'm afraid the solution with changing `val` to `def` will not fix the problem completely. [This](https://github.com/twitter/finagle/blob/9fa0dafb59080f5e600e0d00f3012a8ac66a5216/finagle-core/src/main/scala/com/twitter/finagle/server/StackServer.scala#L282) will still be broken. :(

[2017-04-03 21:15] vkostyukov commented on #600
Oh I see. So we won't propagate that further. That's a bummer. Seems like having that connect delay handler on a server-side is our only option. What do you think @koshelev?

[2017-04-03 21:46] koshelev commented on #600
Seems so. On the bright side delaying will have another nice side effect - service factory will not instantiate the service if handshake fails. Kind of DDoS protection.
@vkostyukov should adding `SslConnectHandler` to `Netty4ServerSslHandler` fix the problem or some more involved solution needed?

[2017-04-03 22:04] vkostyukov commented on #600
/I think/ it should just work even though it was written with the client-side use case in mind. All the things in `SslHandler` and in the pipeline (at that stage) should be symmetric for client and server. I'd say let's try it. @koshelev Do you want to volunteer and open a PR?

[2017-04-03 22:13] koshelev commented on #600
I will try it tomorrow (it is already midnight here in Berlin). I will open a PR in case it work. If not - I have some time to spend on it.

[2017-04-03 22:14] vkostyukov commented on #600
Perfect! Thanks a lot @koshelev!

[2017-04-04 17:13] koshelev commented on #600
@vkostyukov Seems like we need different implementation of `SslConnectHandler` for server. The problem is `ChannelInboundHandler` receives no connect promise, so we have nothing to delay. I would suggest to change `Netty4Listener` to add only raw initializer to a pipeline and move the initialization code starting from [here](https://github.com/twitter/finagle/blob/2e08384a7cf17821cbd6cf1d0175808bc

[2017-04-04 23:09] vkostyukov commented on #594
Fixed by #595.

[2017-04-04 23:09] #594 closed

[2017-04-04 23:23] vkostyukov commented on #600
You're right. There is no notion of connect-promise on the server-side. Although, /I think/ we can delay either `channelInit` or `channelActive` on a child pipeline in order to make sure this [server bridge](https://github.com/twitter/finagle/blob/develop/finagle-netty4/src/main/scala/com/twitter/finagle/netty4/Netty4Listener.scala#L179) (essentially, a channel transport) thing is created only whe

[2017-04-05 15:52] koshelev commented on #600
@vkostyukov Opened PR. Tried solution you proposed. The problem with it is the way `Netty4Listener` [initialises a pipeline](https://github.com/twitter/finagle/blob/2e08384a7cf17821cbd6cf1d0175808bc045daa1/finagle-netty4/src/main/scala/com/twitter/finagle/netty4/Netty4Listener.scala#L160-L183) - a channel initializer adds more channel initializers. New initializers will be [fired immediately](http

[2017-04-26 22:59] chrisbenincasa opened #611 "finagle-redis: QUEUED responses fail with ClassCastException"
When Redis returns a `QUEUED` response, the returned value is opaquely cast which causes runtime errors.

### Expected behavior

I'm not sure what the right call here is. On one hand, the call to Redis was successful, so failing the Future doesn't seem right. On the other, returning any instance of `T` also seems wrong and changing everything to `Option[T]` would be an even larger change. One opti

[2017-04-28 10:12] herberteuler opened #613 "HTTP request transfer-encoding header fix needed"
Currently, providing content for a request is [the same](https://github.com/twitter/finagle/blob/develop/finagle-base-http/src/main/scala/com/twitter/finagle/http/Request.scala#L345) as [making](https://github.com/twitter/finagle/blob/develop/finagle-http/src/main/scala/com/twitter/finagle/http/netty/Netty3StreamTransport.scala#L38) it [chunked](https://github.com/twitter/finagle/blob/develop/fina

[2017-05-01 18:54] vkostyukov commented on #600
Fixed in #603.

[2017-05-01 18:54] #600 closed

[2017-05-02 01:55] adriancole commented on #541
I noticed a finagle tracer port by criteo has LocalOperationStart/Stop

[2017-05-02 01:56] adriancole commented on #541
whatever we do here, we should probably do consistently with other finagle tracer ports like zipkin-js and criteo's tracer cc @wirehead @eirslett @fedj

[2017-05-02 06:53] fedj commented on #541
In zipkin4net, we ended up doing LocalOperationStart and LocalOperationStop for two reasons:
- It allows to easily nest one operation into another without having to care about the ids in the client code
- It follows the RPC span pattern having a start and a stop operation

The cons were that it's not following directly serialization annotation pattern. We thought that the serialization can easily

[2017-05-03 17:24] nepthar commented on #613
After doing some digging, I think a PR would be most welcome here. Some notes:
- This MIGHT be a breaking change for some folks who rely on chunked encoding to just magically happen. ...if they exist :)
- Do you have an idea of how users will choose to make a chunked vs normal request?

[2017-05-03 18:10] nepthar commented on #611
This definitely is a bug, but I think it's a bit more nuanced than handling the QUEUED response. Are you willing to do a bit of debugging? It would be really helpful to see what's going over the wire when this race condition hits.

Questions:
- Does the ClassCastException stack trace eventually point to that casting line in Finagle?
- Can you also post the NoSuchMethodError stack trace?

[2017-05-03 19:47] nepthar commented on #585
@spockz I'm marking this as closed for now, considering where we are with the aperture rollout & failure accrual stuff.

Feel free to re-open (is that possible without admin status?) or create a new issue if you'd like to continue the discussion.

[2017-05-03 19:47] #585 closed

[2017-05-03 20:05] nepthar commented on #583
Finagle's _internal_ handling of retries definitely is less consistent than desireable and coming up to speed with it is akin to dealing with seven stages of grief.

In fact, we have two different sections of documentations dealing with failed responses - one for [users of Finagle](https://twitter.github.io/finagle/guide/UnsuccessfulResponses.html) and one for [developers of Finagle](https://twitt

[2017-05-03 20:08] nepthar commented on #573
@iwag have you had a chance to take a look at this?

[2017-05-03 20:21] nepthar commented on #572
@sohamsankaran this does sound like something we should be able to do more easily. It would involve modifications to [Scrooge](https://github.com/twitter/scrooge).

This is something that we'd like to do, but hasn't yet landed on our roadmap. If you'd like to take a stab at a PR, we'd love to help you out/answer any questions that might come up!

[2017-05-03 20:24] nepthar commented on #567
@Croyson is this what you're looking for? https://redis.io/commands/select

Finagle supports the SELECT command.

[2017-05-03 20:24] #567 closed

[2017-05-04 19:18] chrisbenincasa commented on #611
@nepthar definitely willing to debug. I was not able to reproduce the NoSuchMethodError (I think that was a bug on my end), but I can reproduce the AbstractMethodError consistently. I setup a quick test in the form I described above. Here are some details:

The test:
[code]
) redis-cli -p 30144 monitor
OK
1493925332.472761 [0 172.17.0.1:41410] "MULTI"
1493925332.495212 [0 172.17.0.1:41410] "MSET"

[2017-05-04 21:14] nepthar commented on #611
Nice detective work!

It does indeed look pretty clear cut. I'm not super familiar with redis, but is it also possible to view the server's response to each of those?

A fix for this is now on our roadmap internally, although I'm uncertain of when it will be finished. The immediate workaround is to allow the transaction to complete before issuing another command:

    client.transaction(cmds).flat

[2017-05-05 21:52] herberteuler commented on #613
Here is the plan.

#### Changes to `Request` and `Response` creations

This is where all user-visible changes exist. I checked the code and found that there was a similar issue in `Response` as well, so it might be preferable to change both `Request` and `Response`.

The common use cases include requests/responses (a) without contents, (b) with a single piece of content, and (c) with a (possibly i

[2017-05-08 07:33] iwag commented on #573
@nepthar thanks for reminding me. I forgot to post my idea after digging for that. Anyway, I'm not familiar with MySQL but I suppose this is kind of correct behavior. [MySQL Handshake phase](https://github.com/twitter/finagle/blob/master/finagle-mysql/src/main/scala/com/twitter/finagle/mysql/Result.scala#L27) fails and then LostSyncException occurs (see the stack trace).  In this case, I set to "-

[2017-05-08 15:11] mosesn commented on #613
@herberteuler I'm not sure that this simplifies things.  `Reader` is an API for byte streaming.  If you don't need to stream bytes (ie you provide a buf via `request.content = content`), then it's not chunked, if you do need to stream bytes, it's chunked.

Why does your finch server care whether it's chunked or not?  If you read the contents of the POST with `Reader.readAll(msg.reader)` then you w

[2017-05-08 18:35] nepthar commented on #613
@herberteuler Thanks so much for digging into this. I've also just chatted with @mosesn a bit more about this.

Our conclusion here is that our lack of documentation should be fixed, and I've created a ticket internally to look into it.

In the meantime, can you accomplish what you're setting out to do by setting the content as Moses suggested?

[2017-05-08 18:43] nepthar commented on #573
A new exception makes a sense to me, or at the very least a note in the exception. ("Exception in mysql handshake: blah blah").

Just so I make sure I understand correctly - occasionally mysql server fails to deliver a properly formed handshake? Is this from some kind of connection failure or something?

[2017-05-09 01:01] iwag commented on #573
Sounds great! > a note in the exception.
It can be small amount of modification. I like it.

This is a kind of connection failure. MySQL server refuses to connect because of overcapacity. finagle-mysql seems to be unable to handle a error which occurs in handshake phase.

[2017-05-09 01:38] herberteuler commented on #613
I tested setting content with `content_=` and it worked. This is a non-issue and will be closed. Thank you for your time and the clarification.

[2017-05-09 01:38] #613 closed

[2017-05-09 03:28] mosesn commented on #613
@herberteuler glad we could help!

[2017-05-09 07:58] DanielCharczynski opened #616 "ChannelStatsHandler "connections" gauge with negative values"
When netty starts closing connections ChannelStatsHandler doesn't not decrements connections gauge properly. When service is not used for long time connections gauge gets negative values

### Expected behavior

Proper connections count

### Actual behavior

When netty starts closing connections ChannelStatsHandler doesn't not decrements connections gauge properly. When service is not used for long

[2017-05-09 20:26] mehmetgunturkun commented on #438
Hi @mosesn, I am willing to solve this issue, now working on it.
Should I assign this issue to myself?

[2017-05-09 20:49] mosesn commented on #438
@mehmetgunturkun it looks like I can only assign it to committers, but feel free to start working on it!  I'll just mark it as "in progress".  Thanks, and welcome to the project!

[2017-05-10 20:30] vtatai commented on #190
@mosesn I will take a stab at it, hopefully will be able to get some progress.

[2017-05-10 20:36] mosesn commented on #616
@DanielCharczynski thanks for the bug report.  Would you be interested in taking a stab at fixing this?  I'd be happy to work with you on it =)

[2017-05-10 20:38] mosesn commented on #583
@scf37 so . . . ready to make a PR? =)

[2017-05-10 20:40] mosesn commented on #575
@spockz was going through old issues and saw this one was still open.  how do you think we should proceed?

[2017-05-10 20:46] mosesn commented on #552
@adriancole fixed this back in #553, thanks!

[2017-05-10 20:46] #552 closed

[2017-05-10 20:52] nepthar commented on #573
Cool. Okay, moving forward with a new exception sounds pretty good to me. Take a look at our docs on how to use [FailureFlags](https://twitter.github.io/finagle/guide/developers/SignalingFailure.html#creating-exceptions-with-failureflags). It seems like this failure can be automatically retried, so make sure to flag it Retryable.

Let me know if you run into any snags. Thanks!

[2017-05-10 20:56] mosesn commented on #540
I think this is more of a question than an issue, so I'm going to close this ticket, since it seems to have been answered?  If I'm mistaken, please reopen!

[2017-05-10 20:56] #540 closed

[2017-05-10 20:57] mosesn commented on #533
@clumsy added this back here: https://github.com/twitter/finagle/commit/e649e9ebea74da741deda2ff9b41361ed19e2e46 thanks!

[2017-05-10 20:57] #533 closed

[2017-05-10 21:01] mosesn commented on #523
@spockz I'm going to close this, since netty 4 is quickly becoming the default.  I don't think we're going to get a ton of value out of porting this back to netty 3 anymore.  If you want to revisit it, feel free to reopen!

[2017-05-10 21:01] #523 closed

[2017-05-10 21:02] mosesn commented on #345
We're just going to use a default timeout in TLS in netty 4 to simplify this, so I'm going to mark this as closed.  Please feel free to reopen it if you'd like to rediscuss this!

[2017-05-10 21:02] #345 closed

[2017-05-10 23:17] mehmetgunturkun commented on #438
Hi @mosesn, I guess I solved the issue but before creating a pull request there are several things that I want to ask:
1. Should I talk to people in gitter.im about the way I solve the issue or these comments will be done in code review before the merger?
2. In order to understand unsigned part, I used flags in the field data. There was no documentation for bits and their locations per each attrib

[2017-05-11 04:10] spockz commented on #575
@mosesn and @kevinoliver: if you believe #3 to be a viable solution we can try to implement it and use it in our application. And, if we like it, contribute it back.

The only snag that I see is on how to expose/provide the method that classifies a request/response as a failure. Using Context.Local would mean that the method isn't available before, possibly in a filter, where we set the context. I

[2017-05-11 16:14] adriancole opened #617 "Tolerate X-B3-Sampled: 1"
`X-B3-Sampled: 1` is not accepted while `X-B3-Sampled: true` is

### Expected behavior

While a lot of instrumentation leniently read "true" or "false", "1" and "0" are the most often used
ways of indicating tracing is on or off.

https://github.com/openzipkin/b3-propagation#sampled

### Actual behavior

In the http Codec.scala, we use toBoolean, which may have at some point worked with truthy val

[2017-05-11 16:16] adriancole commented on #617
@kevinoliver @mosesn I was just about to brag on how I have brave working sharing finagle's context in process. Then I realized that finagle is breaking processes between processes :P

While a workaround is to make an interceptor to rewrite the sampled header when we know downstream is finagle, it would be great to leniently read, or even better switch to 1|0 since most instrumentation use this co

[2017-05-11 16:24] adriancole commented on #617
cheapest fix is to special case and look for the character '1' as anything else ends up '0' anyway

[2017-05-11 16:35] mosesn commented on #617
For now let's leniently read, we can switch to writing 1|0 in a couple releases.  We need to give folks time to upgrade so that we don't break tracing for finagle services that aren't redeployed frequently.

[2017-05-11 18:53] mosesn commented on #575
@spockz you should be able to use normal call-back mechanisms.  For example, you could have the call-back satisfy a future.  I'm going to close this ticket for now since it seems like you have a solution–if you decide you think it's worth contributing back, please make a PR!  Feel free to reopen if there's more to discuss.

[2017-05-11 18:53] #575 closed

[2017-05-12 00:40] adriancole commented on #617
Perfectly sensible. I will raise a PR for 0|1 tolerant reads

On 12 May 2017 12:35 am, "Moses Nakamura" <notifications@github.com> wrote:

[2017-05-12 02:31] adriancole commented on #617
https://github.com/twitter/finagle/pull/619

[2017-05-16 03:18] jcrossley commented on #611
@chrisbenincasa all of our finagle clients are set up to handle one response per one request, and it seems that for these transaction requests, that one-one mapping no longer holds, hence the mismatched requests/reponse pairs, and the ClassCastException. There currently aren't any plans to fix this behavior, but please feel free to submit a PR!

[2017-05-19 21:48] chrisbenincasa commented on #611
@jcrossley I'm not sure I follow -- the single QUEUED response comes from a single MGET request. It's not that the response are mismatched (unless you mean that the _eventual_ result for an MGET issues during a transaction ends up as a part of the response for an EXEC request), but rather that the single QUEUED response is cast opaquely to Unit. In other words, consumers have no way of knowing if

[2017-05-19 21:51] chrisbenincasa commented on #611
As a quick follow-up, I'm certainly interested in taking on the change here. Though, I'm curious as to what your opinions are on the correct solution. To some degree, one could argue this is user error for using Redis transactions in a multi-threaded application environment; so you could consider this a sort of error state (maybe a specialized Exception to let the caller handle the QUEUED case?).

[2017-05-26 07:17] DanielCharczynski commented on #616
I was trying to find why it works in that way and it looks like connections are closed twice in finagle client when server decided to close persistent connection after configured time 30s/60s etc

It only happens in case of HTTPS

There are two stack traces that decrements counter according to single connection

"finagle/netty3-1@5401" daemon prio=5 tid=0x17 nid=NA runnable
  java.lang.Thread.Stat

[2017-05-26 07:39] DanielCharczynski commented on #616
Strange logic in NioWorker

[code]

both lines closes the same connection

and quite interesting behaviour in
Netty3Transporter

`      sslHandler.getSSLEngineInboundCloseFuture.addListener(FireChannelClosedLater)`

[2017-05-27 05:25] mosesn commented on #616
@DanielCharczynski hmm, good sleuthing.  As a side note, we're switching finagle over to netty4, does this problem still pop up when you're using the netty4 version of finagle?

[2017-05-29 12:28] DanielCharczynski commented on #616
Yes it does

[2017-05-31 17:16] mosesn commented on #617
This was fixed here: https://github.com/twitter/finagle/commit/a6de338c0ffb0e7b6924f326cd0feac0bc9dad0a thanks!

[2017-05-31 17:16] #617 closed

[2017-06-01 14:20] ghershfield opened #620 "Two SSL unable to retrieve the Certificate."
Module: Finagle 6.44.0 : Extending HttpServer - Implement 2-way SSL

Expected: Retrieve the Certificate w this code:

[code]

Actual: It always returns `None`

Code that fails:

[code]

In 6.42 we did and it worked:

[code]

[2017-06-05 09:18] adriancole commented on #617
thanks for championing it

[2017-06-09 18:51] mosesn commented on #620
This smells like a bug.  We had a big change after 6.42.0 https://github.com/twitter/finagle/commit/7594d414299fabc93565c0dab6d3cc74832b84c4 although we haven't run into any problems with it locally, it probably broke something with the way that you use it.  Can you try running with the JVM option `-Djavax.net.debug=all` so you can dump which part of the handshake is having a hard time?  Also, if

[2017-06-20 20:54] wei-hai opened #625 "Provide metrics endpoint for influxdb line protocol"
Please provide metrics endpoint for influxDB line protocol.

[2017-06-26 05:27] adleong opened #626 "SingletonPool does not close the underlying services"
SingletonPool does not close the underlying services.

https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/pool/SingletonPool.scala
When SingletonPool creates a new RefCountedService, it initializes it with a ref
count of 1.  It then calls `open` on this service before returning it resulting
in the service having a count of 2.  Calling close on this serv

[2017-06-26 16:13] kevinoliver commented on #626
@adleong i believe it is intentional. note the [scaladoc commentary](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/pool/SingletonPool.scala#L26-L36).

while working on `MethodBuilder` i had a need for a similar construct but chose to implement [`RefcountedClosable`](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twi

[2017-06-26 17:07] roanta commented on #626
The reason it's initially set to 1 is because the finagle client uses `close` to signal the release of a session/connection. This allows the underlying pool implementations to interpret it and act accordingly.

For example, a common [1] way to use a client:

[code]

If the `close` here would actually tear down the session, the client would churn through resources.

[1] https://github.com/twitter/f

[2017-06-26 17:21] adleong commented on #626
Ah I see.  So it's intentional that the underlying session is left open even when all clients have released it?  And the only way to actually tear down the session is to call close an extra time?

[code]

[2017-06-26 17:27] roanta commented on #626
The additional close is more likely to come from tearing down the client entirely (i.e. calling close on the client):

https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/pool/SingletonPool.scala#L187-L188

[2017-06-26 17:30] adleong commented on #626
Got it.  Thank you for explaining this to me!

[2017-06-26 17:30] #626 closed

[2017-06-28 22:25] mosesn commented on #625
@wei-hai I don't think this is in scope for the finagle project itself, but finagle is intentionally extensible so that you can add this yourself.  The linkerd project, which is built on top of finagle, has done this [here][0].  I would encourage you to make your own finagle-influxdb project, like [finagle-metrics][1] and that way other people can benefit from your work!  The linkerd stuff looks l

[2017-06-28 22:25] #625 closed

[2017-07-06 18:38] kevinoliver commented on #616
@DanielCharczynski i've been able to reproduce the issue with a Netty 3 client. as you noted, they come from `Netty3Transporter.FireChannelClosedLater` and `netty3.transport.ChannelTransport.fail`.

however for a Netty 4 client i an unable to get the `ChannelStatsHandler.channelInactive` to fire twice.

[2017-07-10 17:42] kevinoliver commented on #616
@DanielCharczynski we've added protection for both Netty3 and Netty4 (https://github.com/twitter/finagle/commit/ed86a005c8f0486cefc23bf3453355fe56384bc0). Let me know if this fixes your problem. Thanks!

[2017-07-13 08:43] yzb808 opened #630 "set useCacheForAllThreads false throw exception on buffer allocate"
1. PoolThreadLocalCache.initialValue()
 when **useCacheForAllThreads** is true, and thread is not a FastThreadLocalThread, then:
return new PoolThreadCache(heapArena, directArena, 0, 0, 0, 0, 0);
freeSweepAllocationThreshold is 0;

2. PoolThreadCache
        if (freeSweepAllocationThreshold < 1) {
            throw new IllegalArgumentException("freeSweepAllocationThreshold: "
                    +

[2017-07-18 08:45] iyogi opened #632 "Possible memory leak issue?"
Our Tomcat server, containing a java based application using finagle as client to invoke remote REST APIs, on stopping logs errors indicating likely memory leaks at SEVERE log level.

### Expected behavior
Stopping tomcat server should result in a clean shutdown with no error logged in catalina.log

### Actual behavior
Stopping tomcat results in errors in logs indicating (according to org.apache.c

[2017-07-18 17:07] mosesn commented on #632
@iyogi thanks for the report! have you actually detected any memory leaks?

[2017-07-18 19:15] iyogi commented on #632
No. I added this issue based on what we observed in the tomcat log.

- See [https://wiki.apache.org/tomcat/MemoryLeakProtection#cclThreadSpawnedByWebApp](https://wiki.apache.org/tomcat/MemoryLeakProtection#cclThreadSpawnedByWebApp)
- Hanging ThreadLocal variables may be a code smell?

[2017-07-19 17:29] mosesn commented on #632
@iyogi maybe I don't understand what's happening.  You can't rely on the JVM shutting down to shutdown all of the threads?

[2017-07-20 00:10] nepthar commented on #583
Now that our documentation for [MethodBuilder](https://twitter.github.io/finagle/guide/MethodBuilder.html), I'm going to mark this ticket as resolved. That provides some great guidance around retries.

Feel free to get in touch if you want to take a stab at making some documentation changes!

[2017-07-20 00:10] #583 closed

[2017-07-20 00:12] nepthar commented on #573
@iwag Any luck with this?

[2017-07-21 23:17] nepthar commented on #630
Hi @yzb808, thanks for the report!

This looks to me like it lives in [Netty](https://github.com/netty/netty)'s io.netty.buffer, as opposed to Finagle. Perhaps you meant to open a ticket with them?

[2017-07-21 23:22] nepthar commented on #620
@ghershfield have you had any luck with @mosesn's suggestions?

[2017-07-24 17:38] mosesn commented on #630
@yzb808 did this cause you an issue in finagle?

[2017-07-25 11:15] chenhj opened #634 "Error injecting constructor, java.lang.NoClassDefFoundError: com/twitter/finagle/http/Method$Get$"
jdk1.8
      scala 2.11.11
      sbt 0.13.15

      I want to  use quill

      But it depends on

    I started the service with an error

     The details are as follows

     build.sbt

[code]

ExampleController.scala
[code]

reStart error
[code]

[2017-07-25 15:49] vkostyukov commented on #634
Can you try removing `"com.twitter"%"finagle-http_2.11"%"6.35.0"` from your build file?

[2017-07-25 17:26] mosesn commented on #632
@iyogi it doesn't sound to me like this is a memory leak, but for what it's worth, we don't expect you to use finagle as a servlet.  You might be better served by using finagle as a server.  I'm going to close this ticket for now, but we can revisit if you continue to have problems.

[2017-07-25 17:26] #632 closed

[2017-07-26 02:17] chenhj commented on #634
thasnk @vkostyukov repla
Thank @vkostyukov  reply, I tried, and the same problem
The details of the jar package are as follows

[code]

reStart fail
[code]

[2017-07-26 13:46] wouterd opened #635 "How to use Http.Client#withResponseClassifier() in Java"
Thanks for creating Finagle, it's helped me tremendously in creating more resilient clients. I have a project that should only contain Java code, I cannot use any Scala in it. (don't ask... =])

I'd like to define a custom ResponseClassifier in a Java project, setting it using Http.Client#withResponseClassifier()

### Expected behavior

I can create a new ResponseClassifier and add it to the clien

[2017-07-26 17:10] kevinoliver commented on #635
take a look at [ResponseClassifierCompilationTest.java](https://github.com/twitter/finagle/blob/develop/finagle-core/src/test/java/com/twitter/finagle/service/ResponseClassifierCompilationTest.java).

if you are a java user, we strive for full compatibility, though we sometimes miss things — please let us know when we do. the `*CompilationTest` classes will often help point you in the right direct

[2017-07-28 00:20] anatolydwnld opened #636 "Provide idiomatic API to retrieve a server's SSL cert from client code"
`Transport.peerCertificate` allows servers to inspect the certificate provided by a client. However, retrieving the certificate provided by a server is more difficult in the current API.

This is the most straightforward way I could figure out to do that: https://gist.github.com/anatolydwnld/b1b7284d13bb20c76851680ff62e8a9b.

Note: This also doesn't work with `Netty3Transporter`, since `Transport.

[2017-07-30 18:29] wouterd commented on #635
Thanks for the pointer. That helped a ton. Not as pretty as when done in Scala, but I've got it working now.

[2017-07-30 18:29] #635 closed

[2017-07-31 21:57] jcrossley commented on #634
Hey @chenhj ! I see you're missing a comma after the quill import:

 "com.twitter" % "jsr166e" % "1.1.0",
  "io.getquill" % "quill-finagle-mysql_2.11" % "1.3.0"
   "com.twitter" %% "finagle-mysql" % "6.45.0",

[2017-08-01 17:27] ryanoneill commented on #636
Hi @anatolydwnld.

I completely agree with your assessment of how difficult it is to extract a peer's certificate. It's something @bryce-anderson and I have discussed recently. The `Transport.peerCertificate` code has been there for quite some time. So, it hasn't been removed, but we also realize that it's less than ideal. Changing it is on the list, but not currently prioritized.

Since you are l

[2017-08-02 02:41] adriancole commented on #564
So I was chatting with @ellispritchard who maintains https://github.com/Financial-Times/tapper, and @fishcakez who is using it in a mixed environment with finagle. Also, I've thought about this a while now.

I think the following is the best way for binary propagation:
* check length and if 40 read traceIdHigh from position 32 (leaving everything else where it is now)

For others, we'd follow exis

[2017-08-02 03:18] mosesn commented on #564
Sounds good to me!

[2017-08-08 08:23] chenhj commented on #634
@jcrossley Thank you for your reply. I am missing a comma on the information above. But this is not the real cause of the problem.
My project can be compiled normally, but it has been started and an error has occurred,

[2017-08-08 15:31] mosesn commented on #634
@chenhj NoClassDefFound means that there's a class that your code needs, but it can't find it.  This typically happens when your project transitively depends on more than one version of a library.  For example, imagine that you're building project A, which depends on lib X, and project B, which also depends on lib X.  However, project B was built against an older version of lib X, which used to ha

[2017-08-08 15:31] #634 closed

[2017-08-08 17:57] wpK opened #637 "finagle-mysql: CLIENT_FOUND_ROWS"
Right now it doesn't seem possible to change [Capability.FoundRows](https://github.com/twitter/finagle/blob/develop/finagle-mysql/src/main/scala/com/twitter/finagle/mysql/Capability.scala#L5).

Is there any plans on the future to allow modifying the client capabilities when creating a client?

More information for those that are not aware of what _CLIENT_FOUND_ROWS_ changes:

For [INSERT ... ON DU

[2017-08-08 19:51] iyogi opened #639 "Finagle Client: TLS Host name verification"
SslHostVerificationException is thrown when a Finagle HTTP client is configured with multiple remote endpoints over TLS, with each remote server installed with TLS certificates with distinct Subject Alternative Name (SAN).

Given below is a representation of how our HTTP client is configured in our (java based) application:

_Http.client()
.withTls("**node1.example.com**")    //(A)
.newService(Res

[2017-08-08 21:04] ryanoneill commented on #639
Hi @iyogi, with the next release of Finagle, which should happen sometime this month, you'll be able to specify your own `SslClientSessionVerifier` as part of your SSL/TLS setup. This would allow you to verify the hostname as you see fit, instead of getting rejected by the `HostnameVerifier`.

Since it's not published yet, I'll link to our develop branch, which contains the most recent changes. Se

[2017-08-08 21:33] ryanoneill commented on #637
Hi @wpK,

I don't believe we have any current plans here, but thanks for letting us know that you would like to use this feature. Is this something that you would be interested in working on and adding to finagle-mysql via a pull request?

Thanks, Ryan

[2017-08-08 22:09] wpK commented on #637
Sure. I'll send over a pull request shortly.

[2017-08-11 07:12] codeape opened #641 "IllegalArgumentException: bound must be positive"
We are getting IllegalArgumentException: bound must be positive every second for an app.

### Expected behavior

No IllegalArgumentException about every second.

### Actual behavior

About every second we get an IllegalArgumentException. I can not understand where to start looking for the problem. Maybe I am doing something wrong? or is this a bug? I need some help to understand where to start to

[2017-08-11 13:44] jcrossley commented on #641
Hi Oscar! I recall this issue, and it was fixed in a more recent Finagle. I see you're on 6.30; can you update to the latest, 6.45? https://github.com/twitter/finagle/tree/finagle-6.45.0

[2017-08-11 13:54] codeape commented on #641
Thank you. I will get back to you as soon as I have tested your solution. Hopefully on Monday :)

[2017-08-16 12:30] anatolydwnld opened #644 "NullPointerException when using an HTTP client"
Calling `Http.Client()` before initializing `Http.client` mangles `Http.client` causing NPEs

### Expected behavior
One of two things is expected: either the API should prevent users from invoking Http.Client() directly or it should not cause subsequent NPEs

### Actual behavior

There are NPEs

### Steps to reproduce the behavior
Minimal repro is here: https://github.com/fanatoly/finagle-init-rep

[2017-08-16 15:17] bryce-anderson commented on #644
Sure enough: by using `Http.Client()` instead of initializing `Http` first it starts with `Http.Client` which then begins `Http` which uses uninitialized fields on `Http.Client` resulting in nulls. This can be fixed by making `Client.stack` lazy or a def.

[2017-08-16 16:08] anatolydwnld commented on #644
Is there a valid use case for calling Http.Client() directly? If not maybe the constructor should be marked `private[Http]`?

[2017-08-16 16:27] bryce-anderson commented on #644
Depends on your stance on API's: you don't _need_ to since you can use `Http.client.copy(..)` or the helper methods to do more directed configuration changes, but there is no reason not to have an open constructor function in case someone wants to simply replace the stack or params (or both).

IMO, the root of the problem is the use of eager evaluation in the object fields: I think we're just bein

[2017-08-19 18:19] Eternity-Yarr opened #646 "IndexOutOfBoundsException is thrown during Http server startup"
If one disables stack traces using JVM option `-XX:-StackTraceInThrowable` finagle fails.

### Expected behavior
No exceptions are thrown

### Actual behavior
They are

### Steps to reproduce the behavior
call Http.server.serve(":8080", SomeHelloWorldHandler)

(this bug is actually is in util project)

[2017-08-19 18:22] Eternity-Yarr commented on #646
I think i'll post this bug in util project instead. Sorry :)

[2017-08-19 18:22] #646 closed

[2017-08-21 20:03] vkostyukov commented on #641
Closing this as it's not a problem on the most recent Finagle. @codeape Feel free to reopen should you reproduce it on Finagle 7.

[2017-08-21 20:03] #641 closed

[2017-08-22 12:52] teodor-pripoae opened #647 "Finagle Mysql connect to Server using SSL"
Hi

I'm trying to connect to a Google Cloud SQL MySQL server using the provided certificates. I understand that first there is a plaintext handshake and then the connection gets upgraded to SSL. Is there a way to achieve this ?

### Expected behavior

It should succesfully connect to MySQL server.

### Actual behavior

[code]

### Steps to reproduce the behavior

[code]

[2017-08-26 17:05] justinhj opened #649 "Project does not build due to scrooge sbt plugin"
clone the project and run `sbt run` and you find that the project does not compile due to missing dependency

error] (*:update) sbt.ResolveException: unresolved dependency: com.twitter#scrooge-sbt-plugin;4.19.0-SNAPSHOT: not found
Project loading failed: (r)etry, (q)uit, (l)ast, or (i)gnore? a

On investigation I see that it is not built for the version of Scala the project uses by default.

Is bu

[2017-08-26 18:52] mosesn commented on #649
@justinhj yep, there's a note in the README that explains you should peek in the [CONTRIBUTING.md](https://github.com/twitter/finagle/blob/master/CONTRIBUTING.md) doc, or you can build from stable versions by switching to the 'master' branch.

[2017-08-28 18:28] mosesn commented on #644
We should increase the priority of this. . . I don't know why our travisci tests are passing, it seems to fail locally.

[2017-08-28 19:22] crispywalrus commented on #649
@mosesn the underlying issue here is that `scrooge-sbt-plugin` was literally not published for ANY version of `sbt` This is kind of a big bug for me and anyone else outside of twitter that uses thrift with finagle.

[2017-08-29 00:16] mosesn commented on #649
@crispywalrus ah, I see now.  We'll get right on that, thanks!

[2017-08-29 16:50] dschobel commented on #649
@crispywalrus sorry about that, this should be fixed now

[2017-08-29 16:56] crispywalrus commented on #649
I see it now, thanks @dschobel!

[2017-08-29 17:45] #649 closed

[2017-09-01 18:15] vkostyukov commented on #647
Thanks for the issue, @teodor-pripoae!

I have to figure out how TLS works with MySql, I guess. Do you know if MySql negotiates TLS connections via its handshake message? If so, I don't think it's supported in Finagle. Right now, we can only support TLS connections that start with SSL handshake (there is no machinery to upgrade an existing connection to become TLS).

However, we're working on some

[2017-09-01 18:17] vkostyukov commented on #644
I think this is now fixed by 2fa89b52798f57250fa22a6be3ff62551f02207d.

[2017-09-01 18:17] #644 closed

[2017-09-01 18:29] vkostyukov commented on #580
I think it's no longer an issue (given our current SSL API). Please, let us know if you still experiencing troubles configuring TLS/SSL clients/servers.

[2017-09-01 18:29] #580 closed

[2017-09-01 18:32] vkostyukov commented on #247
Given finagle-redis is now like 99% new code (due to N4 migration), I think it's no longer an issue. Please, let us know if you still experience this problem with the most recent Finagle version.

[2017-09-01 18:32] #247 closed

[2017-09-04 08:46] teodor-pripoae commented on #647
Mysql clients first send a client capabilities packet with SSL flag and the server responds with a server capabilities packet containing SSL flag. Then the client tries to upgrade the connection to SSL if the server supports it. I couldn't find more information about how tls works in mysql.

[2017-09-09 07:22] spockz opened #650 "HTTP2: Downgrading connection to HTTP1.1 doesn't work when using TLS"
HTTP2: Downgrading connection to HTTP1.1 doesn't work when configuring the client to use TLS.

### Expected behavior

I expect the client to negotiate down to 1.1 even when using TLS.

### Actual behavior

I get an exception per request:

[code]

### Steps to reproduce the behavior

[code]
Connect this to an TLS HTTP1.1 server.

[2017-09-09 15:03] mosesn commented on #644
@anatolydwnld we've published a new version of finagle.  Can you try finagle 7.1.0?

[2017-09-09 15:33] mosesn commented on #650
@spockz can you use SslClientConfiguration instead of supplying your own SslContext?

[2017-09-11 16:31] anatolydwnld commented on #644
Upgrading to 7.1.0 fixes my reproducer. This can probably be closed. Thanks!

On Sat, Sep 9, 2017 at 11:03 AM, Moses Nakamura <notifications@github.com>
wrote:

[2017-09-11 18:12] spockz commented on #650
@mosesn I would like to, however, how are we supposed to use them with certificates that have passwords? We don't use pem files usually, so even if this test works it would be an issue for us.

[2017-09-11 18:25] spockz commented on #650
Downgrading to `SslClientConfiguration` indeed makes it work. Why is providing the `SSLContext` not supported anymore? I would expect the behaviour of non-deprecated configuration options to be equivalent.

[2017-09-11 19:51] mosesn commented on #650
@spockz I don't think SslContext exposes an API for ALPN, so you might have to configure it yourself.  What certificate format do you use?

For what it's worth, I think the long-term plan is to try to move off of SslContext, but as you've mentioned, we don't have feature parity yet.  Maybe the right thing is to rebrand it as, "raw tls" instead of a first class finagle supported way of doing it.

c

[2017-09-12 04:02] spockz commented on #650
@mosesn No afaik it doesn't. However, it can be constructed easily from a wide range of certificate formats with and without keys which was very convenient for us.

We use a jks with password containing encrypted private/public key pairs in x509 format. Maybe the configuration could work on Keystore and Truststore abstractions instead of direct references to pems?

[2017-09-12 13:36] ghershfield commented on #620
@mosesn Sorry, I have been chasing other things. I have not had gotten to the possible work around yet. I have attached the log file.
[wrapper-debug.zip](https://github.com/twitter/finagle/files/1296120/wrapper-debug.zip)
I did update to the latest Twitter libs ... 7.1.0 etc and still same issue ( which I figured ).

[2017-09-12 20:03] mosesn commented on #650
@spockz maybe instead of KeyStore and TrustStore directly, we could take Certificates?  @ryanoneill wdyt?

[2017-09-16 15:22] jimschubert commented on #564
My company uses 128bit trace ids within our tracing system (based on zipkin). My team's stack exclusively based on to of Finagle (Finatra, finagle-mysql, finagle-redis) and we regularly have colliding ids because of the reduction to Long within Finagle.

I'd be interested in evaluating the above suggestion when it's ready.

[2017-09-16 17:50] mosesn commented on #564
@jimschubert would you be interested in taking a stab at it?

[2017-09-16 19:58] jimschubert commented on #564
@mosesn I don't have an lot of free time outside of work right now. I can see about allocating time for this at work, but identifying alternatives is low priority on our backlog at the moment. If I can get get the time, I'd love to take a stab at it. I'll let you know here if I can, and I'll hit you up on gitter if I get stuck.

[2017-09-17 09:12] mosesn commented on #564
@jimschubert sounds good to me!

[2017-09-17 11:09] spockz commented on #650
Any thoughts on this @mosesn and @ryanoneill?

[2017-09-18 11:49] ghershfield commented on #620
@mosesn I obviously am doing something incorrect. I now have pem files for certs instead of jks. I have tried this:

[code]

And everything starts up fine, but when I attempt to connect I get the following exception:

[code]

[2017-09-18 16:38] kevinoliver commented on #616
Closing this based on the fix plus lack of new reports.

[2017-09-18 16:38] #616 closed

[2017-09-18 16:43] mosesn commented on #620
@ghershfield do you have to configure your tls with its own sslEngine?  What about only passing an SslConfiguration instead?

@ryanoneill it looks like several people have been tripped up by this . . . we should probably make the exception message more clear here.

[2017-09-18 18:59] ghershfield commented on #620
New exception. I tried it with and without `cipherSuites`

[code]

[code]

[2017-09-19 06:33] mosesn commented on #620
@ghershfield now it looks like an SSL failure.  I googled it, and it looks like it means that the server doesn't have the right information for the given client?

https://stackoverflow.com/questions/15076820/java-sslhandshakeexception-no-cipher-suites-in-common

[2017-09-19 11:50] ghershfield commented on #620
@mosesn I had expected the engine to automatically decide which cipher when not defined. When that failed, I tried what you guys had in your UT. Alas, I was not thinking that I might have provided incorrect information since there are many ciphers. I changed it out to `val cipherSuites = CipherSuites.Unspecified` and I got the exact same behavior that I was getting with the JKS. IMO it's broken al

[2017-09-19 23:50] mosesn commented on #620
@ghershfield I think we're just shelling out to the java implementation here, so there's not a ton we can do.  If you read the stack overflow link I sent you, it's not necessarily a cipher suites issue–the exception is sort of crummy.  Can you try debugging it like a normal SSL issue and turn on java's verbose SSL logs?

[2017-09-20 14:45] ghershfield commented on #620
@mosesn We were retrieving the Certificate and then the user's DN from `com.twitter.finagle.transport.Transport.peerCertificate`. This is coming back as `None` for both jks & pem configurations.

The code looks like this:
[code]

Looks to me right now we are getting 2-way connectivity but again this `com.twitter.finagle.transport.Transport.peerCertificate` no longer returns the cert.

What should

[2017-09-20 17:01] mosesn commented on #620
@ghershfield that's still the right way to do it.  How did you fix your earlier problem with the "cipher suites" error message?  Can you check that you haven't switched to a different thread (in a non-finagle-y way) before calling Transport.peerCertificate?  If you do it in the service you pass to the finagle server it should work.

[2017-09-21 01:55] jimschubert commented on #564
@adriancole @mosesn I took an initial stab at this. I started down the road of adding support for 128-bit SpanID and ParentID, but I think it's overkill. Could you guys check out the linked PR #651 and give feedback?

[2017-09-21 13:54] adriancole commented on #564
Thx for the start. Widening X-B3-TraceId seems the most pragmatic start.

For binary, we could consider the check length approach of growing thrift
later or adopt census (aka dapper2) format though it doesnt send parent ID
https://github.com/census-instrumentation/opencensus-specs/blob/master/encodings/BinaryEncoding.md

[2017-09-22 15:18] ptaillard opened #652 "Finagle 7.1.0: JVM memory issues under high traffic"
Hello all,

We recently upgrade our Finagle version from 6.2.0 to 7.1.0 (yes, it's a big jump :-) )
Since this upgrade, our application get some memory issues under high traffic only.
We use Finagle as HttpClient only and implemented using synchronous response way.
When the application is under traffic, the JVM memory increases gradually in few hours until  latency issues and crash. The behaviour

[2017-09-22 18:13] kevinoliver commented on #652
Ooof. So quick things first, neither of which will solve your problem —
1. Because `ClientBuilder` is immutable, your call to `failFast` is ignored since you don't use the result of it. This is not a memory leak, just may be a separate application configuration issue for you.
2. You should only need to use `Request.close` if you are doing streaming writes, and from your example, that does not appe

[2017-09-25 07:16] ptaillard commented on #652
@kevinoliver Thanks for your answer.
Let's dive deeper and give you more details.

[2017-09-27 09:30] ptaillard commented on #652
@kevinoliver
We captured jvm memory using jmap on different times during the application life under traffic (and fix the failfast misconfiguration as you advised it).
Below you can see the jmap output (histo and heap).

- Few minutes after the start of the application:
[1-jmap_heap_start.txt](https://github.com/twitter/finagle/files/1336184/1-jmap_heap_start.txt)
[1-jmap_histo_start.txt](https://g

[2017-09-27 16:21] ptaillard commented on #652
@kevinoliver Could be this issue? https://finagle.github.io/blog/2016/09/01/block-party/

[2017-09-27 21:07] kevinoliver commented on #652
I would not expect to see that many `Stack.Node`s. They are part of constructing a Finagle client (and server) and shouldn't number that many...

My guess is that you are creating a good number of clients, likely via `ClientBuilder.build`, and missed calling `Service.close` (or `ServiceFactory.close`) on them — causing the leak.

[2017-09-29 15:05] ptaillard commented on #652
Yes you are right @kevinoliver
Many thanks for your help, we will fix that.

[2017-09-29 15:05] #652 closed

[2017-10-04 21:43] ncabatoff opened #653 "Dtab alternate not chosen over higher-precedence failing service"
### Expected behavior

Suppose I have a dtab

[code]

I would expect that if every request issued to srv1 resulted in a failure, requests would start being sent to srv2 instead.

### Actual behavior

So long as srv1 can be bound to an address, it receives all the traffic.

Is there any way to make it so that srv1 failures will result in requests being routed to srv2?  I want srv1 to get traffic pr

[2017-10-05 20:23] elecnix commented on #653
Commit 808a935a766c36cc4063cd665dd1a0f5a6c3170e shows a prototype implementing this behavior.

[2017-10-05 21:09] nepthar commented on #653
This is an interesting concept. As you point out, our dtab alt behavior is to only use the alt when resolution fails, as opposed to when service creation fails. This is (as far as I can tell) intentional and separate from the way we typically handle these kinds of resiliency things (see [circuit breaking](https://twitter.github.io/finagle/guide/Clients.html#circuit-breaking), for instance).

@elec

[2017-10-05 21:30] elecnix commented on #653
The change was validated in a simple integration test.

This implementation relies on the existing circuit breaking. When the circuit "opens", the service factory "closes", and the `Alted` service factory picks the next available circuit. Once the circuit breaker starts probing, the `Alted` factory sends an equivalent request.

This is inherently racy. I'm okay with that, but open to suggestions.

[2017-10-05 21:32] nepthar commented on #637
Fixed w/ PR #640

[2017-10-05 21:32] #637 closed

[2017-10-05 21:37] nepthar commented on #630
Hi @yzb808, I'm going to close this ticket for now. If you believe this is a finagle issue and you run into it again, feel free to open an issue again.

[2017-10-05 21:37] #630 closed

[2017-10-06 08:03] lvc opened #654 "API changes report for Finagle Core"
Hi,

I'd like to share my results on API changes analysis for the Finagle Core library: https://abi-laboratory.pro/java/tracker/timeline/finagle-core/

The report is generated by the https://github.com/lvc/japi-compliance-checker tool for jars found at http://central.maven.org/maven2/com/twitter/finagle-core_2.11/ according to https://wiki.eclipse.org/Evolving_Java-based_APIs_2.

Thank you.

![fin

[2017-10-12 18:49] kevinoliver commented on #654
@lvc thanks for the report.

couple of questions:

1. are these numbers good or bad? do you have a link to some context/color/opinions?
2. i see that the tool supports scala but couldn't find details on the support. does it understand scala's visibility modifiers? in other words, we treat code scoped to `private[finagle]` as non-public API and don't bother with release notes for those sorts of cha

[2017-10-14 11:49] glassorio opened #656 ""Extending Finagle" section of guide is broken"
Something is missing in [your developer guide](https://twitter.github.io/finagle/guide/developers/Extending.html)

For example the "Using a Netty 4 ChannelPipeline" subsection of "Server Protocol" section is empty.

[2017-10-14 12:01] glassorio commented on #656
I have used the way back machine and found [a version of the page](https://web.archive.org/web/20161201065438/https://twitter.github.io/finagle/guide/Extending.html) where those sections are still there.

[2017-10-20 12:58] drcimux opened #657 "Error injecting constructor, java.lang.NoClassDefFoundError: org/pac4j/play/scala/Security$class"
I have this  problem with Security Class of PAC4j after migration from paly2.5 to 2.6

    ProvisionException: Unable to provision, see the following errors:

    1) Error injecting constructor, java.lang.NoClassDefFoundError: org/pac4j/play/scala/Security$class
      at controllers.EntityController.<init>(EntityController.scala:50)
      at controllers.EntityController.class(EntityController.scal

[2017-10-20 17:38] mosesn commented on #657
@drcimux this seems to be related to play, not to finagle.  please file a ticket there instead.

[2017-10-20 17:38] #657 closed

[2017-10-23 08:52] szysas opened #658 "Http client, occasionally throws `CancelledRequestException` when on high load"
Finagle based http client, occasionally throws `CancelledRequestException` when making requests to another Finagle based http server. (Both used with finatra)

### Expected behavior

Http client does retries.

### Actual behavior

Fails
[code]

### Steps to reproduce the behavior

This happens only in hight load, not sure how else to reproduce it.

[2017-10-23 15:50] roanta commented on #658
This means that your client is interrupting requests (usually because timeouts are triggering) and the interrupt is propagating to the server [1].

[1] https://twitter.github.io/finagle/guide/FAQ.html#what-are-cancelledrequestexception-and-cancelledconnectionexception

[2017-10-23 15:57] kevinoliver commented on #658
One other thing to note if you want retries, you need to let Finagle know that it is ok. The reason is that Finagle does not know your application level behavior out of the box and cannot know whether or not retrying that request is safe. Good news is that you can tell Finagle about this using [ResponseClassifiers](https://twitter.github.io/finagle/guide/Clients.html#response-classification).

[2017-10-23 16:45] ryanoneill commented on #656
Hi @glassorio, thanks for the report. I'll look into getting this fixed up again.

[2017-10-23 18:53] szysas commented on #658
I still would like to understand use case that this exception is thrown, is it only because of timeout (http response did not arrive in time)? In the source code I could only find here, that is related to client: https://github.com/twitter/finagle/blob/143f6f0f83765783808a11f990179d881daecb66/finagle-base-http/src/main/scala/com/twitter/finagle/http/exp/GenStreamingSerialServerDispatcher.scala#L12

[2017-10-23 20:03] kevinoliver commented on #658
we can't know what the application behavior is for any particular request. lets say that this request increments a counter in a database table then gets killed. that is not safe to retry.

we choose to use safe defaults.

but maybe your request is idempotent and is safe. in that case, you can let finagle know.

[2017-10-26 18:12] szysas commented on #658
Thanks.
_(BTW, great job with this library)_

[2017-10-26 18:12] #658 closed

[2017-11-14 06:48] adriancole commented on #541
howdy we are about to merge the second identical implementation of this (after zipkin4net which is also a finagle tracer clone) https://github.com/openzipkin/zipkin-js/pull/156

### Local tracing
Sometimes you have activity that precedes a remote request that you want to
capture in a trace. `tracer.local` can time an operation, placing a
corresponding span ID in scope so that any downstream comman

[2017-11-14 16:54] mosesn commented on #541
Sure, that seems reasonable to me.

[2017-11-18 21:12] mkantor commented on #190
Unless I'm misunderstanding it looks like this was solved way back in 2014 with 4258d70f60c956e6c6f361f84d84ef1a6e2b38dc.

[2017-11-19 03:42] eric commented on #190
Looks like this would work great to solve the problem. I’m not using finagle anymore but I’m glad this has a solution. 🎉

[2017-11-24 11:17] DanielCharczynski opened #664 "does not resolve hostname during reconnection"
When an IP is changed in name server finagle is not able to reconnect to the new IP

### Expected behavior

Proper reconnection

### Actual behavior

Connecting to IP resolved at the begining

### Steps to reproduce the behavior

set networkaddress.cache.ttl=2 in JVM  java.security

send requests in loop to specific host name resolved locally in /etc/hosts
change an IP in /etc/hosts
disconnect for

[2017-11-24 12:52] mosesn commented on #664
@DanielCharczynski how do you configure your client, and which version of finagle are you using?  We have some behavior in finagle to re-resolve periodically, so I think it should handle the use case you're describing.  https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/InetResolver.scala#L133-L154

[2017-11-24 13:44] DanielCharczynski commented on #664
Thanks for quick response

unfortunately I have to use JVM 7 compatible one - > 6.35.0

Which version solve this problem?

[2017-11-27 16:03] mosesn commented on #664
@DanielCharczynski it looks like we first added this functionality in [6.20.0][0], but we've changed our implementation quite a bit, so you might be running into an old bug.

Unfortunately, we're not going to publish any future releases to be JDK7 compatible, so we can't fix your problem.  Are you planning on switching to JDK8 soon?  If not, your best bet might be to fork a current branch of finag

[2017-11-27 16:03] #664 closed

[2017-11-30 16:06] heartsucker opened #665 "finagle is potentionally vulnerable to CVE-2015-2156"
### Expected behavior

There are no CVEs in `finagle`'s dependencies.

### Actual behavior

There is (at least) one CVE in `finagle`'s dependencies. [CVE-2015-2156](https://nvd.nist.gov/vuln/detail/CVE-2015-2156)

### Steps to reproduce the behavior

Compile and use the latest version of `finagle`.

### Steps to fix

Update the 3.x and 4.x versions`netty` to their latest.

### Note

I am not parti

[2017-11-30 17:09] kevinoliver commented on #665
Thanks for the report @heartsucker. Seems like it's worth updating to Netty 3.10.3 from 3.10.1.

cc @isabelmartin @jcrossley

[2017-12-12 07:01] yzb808 commented on #630
thank you very much

[2017-12-19 09:21] ivankelly commented on #133
There's a licensing problem with using com.twitter.libthrift-0.5.0-7.

This is a derived work of apache libthrift, thus falls under the ASLv2. Clause 4(d) states that when you distribute the derived work, you must also distribute the NOTICE from the original work. Twitter libthrift does not do this, which put it in violation of the license.

What's more, anyone who pulls in finagle and redistribut

[2017-12-19 13:18] mosesn commented on #133
@ivankelly we're planning on migrating to 0.10.0 shortly, so we won't have to be on our fork anymore.  I expect it to be within less than a month.

In the mean time, I believe that you can edit the libthrift JAR on your end to add the NOTICE file.  Alternatively, you can instead exclude our fork of libthrift, and depend explicitly on vanilla libthrift-0.5.0.

Sorry for the oversight, and thanks fo

[2017-12-19 15:28] ivankelly commented on #133
I don't have the notice file though. The modified libthrift contains changes which are presumably copyrighted to twitter, so it's twitter that would have to provide the NOTICE.

Isn't there some concurrency bug though, which was the whole reason for the fork?

No worries. This stuff is very easy to overlook.

[2017-12-19 15:43] mosesn commented on #133
@ivankelly isn't the NOTICE that it needs https://github.com/apache/thrift/blob/master/NOTICE ?

When you say

I interpret that as, when you distribute the twitter JAR, you need the NOTICE from apache thrift.

If that doesn't work for you, how would you feel about waiting for ~ a month for us to sort out the 0.10.0 stuff?  It's almost ready to go but we want to wait to do the cutover until after t

[2017-12-19 17:32] ivankelly commented on #133
@mosesn if one were to put the thrift NOTICE directly into the jar, it would be assigning the copyright of the modifications twitter made to the ASF, which while I'm sure it's fine, is a little weird. Anyhow, this isn't a big deal. Marking libthrift as ASLv2 in my project for now, and as it's a ASF project, it'll be covered by the projects own NOTICE.

Anyhow, as I said, no big deal, especially wi

[2017-12-20 13:28] mosesn commented on #133
Sounds good, sorry I don't have a better answer for you :/.  We'll make sure to get the 0.10.0 stuff going in a timely manner.

[2018-01-13 11:46] DieBauer opened #669 "Hashcode calculation of http.client never terminates"
Calculating hashcode of the Http.Client never terminates when having a retrywithbackoff (infinite stream) set.

### Expected behavior

[code]
the second client with Backoff stream, will have a valid hashcode in finite time.

### Actual behavior

Calling hashcode on the second client, with backoff stream, will evaluate the infinite stream and thus never terminates.

### Steps to reproduce the behav

[2018-01-16 19:48] ryanoneill commented on #669
Hi @DieBauer, thanks for reporting. This is definitely a bug. I was able to easily reproduce this given your steps. Is this something you would be interested in trying to fix via a pull request?

[2018-01-16 20:16] DieBauer commented on #669
Hi @ryanoneill, I'd be interested ;) I tried an initial patch in #670.

[2018-01-16 20:34] ryanoneill commented on #669
Oops, sorry I missed it. :)

[2018-01-19 02:27] #669 closed

[2018-01-26 18:32] yufangong commented on #572
Hi @sohamsankaran , thanks for the report! Now you can close the connection by calling
client.asClosable.close().

[2018-01-26 18:32] #572 closed

[2018-01-31 20:23] spockz opened #672 "Dtab support '{' and '}' characters"
Dtab entries are not allowed to contain `{` nor `}` characters. `{`, `}` should be supported.

### Expected behavior

`com.twitter.finagle.Dtab.read("/foo/{bar} => /foo/{bar}/12.34.56.78:1234")` should give `res: com.twitter.finagle.Dtab = Dtab(/foo/{bar}=>/foo/{bar}/12.34.56.78:1234)`.

### Actual behavior

scala> com.twitter.finagle.Dtab.read("/foo/{bar} => /foo/{bar}/12.34.56.78:1234")
java.lan

[2018-01-31 20:37] adleong commented on #672
For what it's worth, [Linkerd](https://github.com/linkerd/linkerd/) currently depends on the behavior that `{` and `}` are not valid dtab characters:  https://github.com/linkerd/linkerd/blob/master/finagle/buoyant/src/main/scala/com/twitter/finagle/buoyant/PathMatcher.scala#L45

[2018-01-31 20:46] spockz commented on #672
I'm game for supporting `*` otherwise. But it seems as if LinkerD also relies on that. I'm actually not seeing how LinkerD relies on `{}` not being valid syntax? Isn't LinkerD's path matcher run before Finagles?

[2018-01-31 21:01] kevinoliver commented on #672
@spockz can you explain the motivation for wanting braces?

[2018-01-31 21:01] adleong commented on #672
Yes, but if `/{foo}` is a valid finagle path, that won't be representable anywhere that Linkerd is expecting a path matcher because the segment will be interpreted as a variable capture and not as a literal path segment.  In other words, by allowing more things to be valid finagle paths, we would lose the ability to represent all valid finagle paths.

[2018-01-31 21:14] spockz commented on #672
We are looking up services not by key but by `host/method/pathTemplate` and this pathTemplate can contain variables. Currently we do `.newService("ourResolver!host/method/pathTemplate")`, but we want to move to paths so we can do `.newService("/endpoint/host/method/pathTemplate"). This is on order for us to be able to override resolutions through Dtab-local headers.

[2018-02-01 15:51] kevinoliver commented on #672
so, my best guess to why braces aren't allowed, is that we wanted to be conservative in what we accepted. i'm not opposed to changing that restriction, but we'd want @adleong to be amenable to the patch. or perhaps we can come up with a different approach that works for both?

[2018-02-02 16:16] justinpermar commented on #562
We can't use Finagle with AWS ALB unless this is fixed. It's a blocker for us.

[2018-02-02 18:40] mosesn commented on #562
@justinpermar try making a `Stack` module beneath the load balancer.  The load balancer injects the address of the remote peer into `Stack.Params`, so you should be able to use that.

Also, can you elaborate on why you need this ability?  Host headers typically refer to the virtual host, and since we typically load balance over remote peers in a cluster that are all the same, they typically share

[2018-02-05 19:09] yufangong commented on #656
Thank you for your report @glassorio, this is fixed.

[2018-02-05 19:09] #656 closed

[2018-02-05 19:38] jluehe opened #673 "finagle-thrift does not work with libthrift-0.9.1 or greater"
finagle-thrift does not work with libthrift-0.9.1 or greater

### Expected behavior

finagle-thrift should work with latest libthrift version

### Actual behavior

finagle-thrift depends on libthrift-0.5.0: https://github.com/twitter/finagle/blob/develop/finagle-thrift/src/main/scala/BUILD#L10.
As such, it is able to call 3-argument constructor of org.apache.thrift.protocol.TBinaryProtocol$Factory

[2018-02-05 19:46] yufangong commented on #673
@jluehe thank you for the report! We are working on upgrading our libthrift dependency to 0.10.0 now, however, we need to fully test it before merging. We will let you know when it happens.

[2018-02-05 19:51] jluehe commented on #673
Sounds great, @yufangong - thanks for keeping me in the loop!

[2018-02-05 19:54] justinpermar commented on #562
@mosesn As noted above, HTTP 1.1 spec requires valid Host header. We're making requests with Finagle to AWS ALB, which rejects the requests with 400: https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-troubleshooting.html#http-400-issues.

[2018-02-05 22:40] mosesn commented on #562
@justinpermar my question is why you need a different host header per endpoint.  Is there a single virtual host which represents everything in your remote cluster?  For example, if I talk to google.com, I always set my host header as google.com, even though I might choose a specific IP address to talk to.

[2018-02-05 23:37] justinpermar commented on #562
@mosesn Ah I see what you're asking now. Yes, setting the host header is a workaround for our use case (I'm currently in the process of testing our application with a special-case configuration that does just that). But it's very hacky, since I have to set a host header manually for each request instead of letting Finagle just "do the right thing". As an aside, curl and other http tools set the ho

[2018-02-06 12:47] mosesn commented on #562
@justinpermar yeah, the tricky thing is that curl and other HTTP tools can infer the host header because they assume you pass a URL.  Finagle doesn't assume that, and indeed many users just resolve IP addresses from zookeeper (or similar).  We could potentially add an HTTP-specific configuration method as a helper, something like `Http.client.withHostHeader("twitter.com")` but then the downside wo

[2018-02-10 10:47] politrons opened #674 "400 Bad request against Grizzly server"
One line summary of the issue here.

### Expected behavior

When I do an http request to Grizzly server using this code

Return a 400 Bad request. But using this one works

Any idea why?.

The funny thing is, that the first code against another finagle Http server or Vertx server works fine, it´s failing only against Grizzly.

I realize that the problem was that with Grizzly server I need to add t

[2018-02-10 20:44] bryce-anderson commented on #674
Just a wild guess, but try adding a host header.

On Feb 10, 2018 3:47 AM, "politrons" <notifications@github.com> wrote:

[2018-02-11 00:17] politrons commented on #674
A header where?

[2018-02-11 10:04] politrons commented on #674
Yeah adding the header or directly host it works. Still wondering why with Vertx or Finagle servers are not needed

[2018-02-13 15:34] mosesn commented on #674
@politrons my guess would be that only Grizzly validates that the request has a Host header by default.  I'm going to close this issue, since I think your question has been answered, but please feel free to open a new one or continue this thread if you have more questions.

[2018-02-13 15:34] #674 closed

[2018-02-17 01:57] adriancole opened #675 "Please help Zipkin remove scribe"
One of the last frameworks to require the scribe transport is Finagle. On the server-side scribe not only is an archived architecture, but pins to abandoned libraries. It would help the greater OpenZipkin ecosystem a great deal if Finagle could stop using scribe as a default. This doesn't just impact finagle frameworks, but others like linkerd. We simply can't afford to do scribe forever.

A sugge

[2018-02-18 10:26] politrons opened #676 "Implicit error in finagle-http2"
I´m trying to use finagle-http2 and with this client

I´m receiving this compilation error

[2018-02-20 12:42] mosesn commented on #676
@politrons Http.Http2 is actually a set of params, so you need to use Http.client.configuredParams(Http.Http2) instead.

[2018-02-20 12:48] #676 closed

[2018-02-21 12:34] mosesn commented on #675
@adriancole we're going to talk to folks internally about whether we can move off the scribe transport immediately, or if we'd have to figure out some kind of support strategy for scribe.

[2018-02-21 13:56] heartsucker opened #677 "On fresh machine on a fresh checkout, cannot compile because of dependency resolution failures"
If I checkout this repo on a machine with no ivy or maven caches, I cannot compile the project because `scalaz-concurrent` fails to resolve.

### Expected behavior

`sbt compile` can compile the project

### Actual behavior

[code]

### Steps to reproduce the behavior

Check this repo out on a machine with no caches and try to build.

[2018-02-21 18:58] mosesn commented on #677
@heartsucker this seems suspicious . . .

[code]
When I follow this link, it seems to work.  Sometimes folks who are behind the GFW have issues with this?  Is it possible you're behind a firewall?

For what it's worth, we don't depend directly on scalaz-concurrent, so it's probably either sbt or a plugin that's pulling it in.  If this still doesn't work, the next step might be to figure out what's

[2018-02-21 19:35] heartsucker commented on #677
Huh. I'm going to blame that on a crappy corporate network and close this because that sounds like it's probably the cause.

[2018-02-21 19:35] #677 closed

[2018-02-21 22:25] isabelmartin commented on #675
@adriancole Hi, would you mind clarifying what you're hoping for a bit? As far as I understand it, Finagle doesn't use scribe by default, but you can using the finagle-zipkin module which will use scribe if you choose to depend on it. And if you wouldn't mind explaining, which part of maintaining scribe is burdensome to OpenZipkin?

[2018-02-22 00:48] adriancole commented on #675
Hi. There is no working tracer library in finagle except scribe. If there
was http then folks who don't depend on non finagle libs (such as
zipkin-finagle) can operate without using scribe.

Practically speaking, very few know what scribe is or have experience with
troubleshooting it. You will find people making remote connections to
zipkin over scribe as if this is a normal rpc (not a log arch).

[2018-02-22 08:36] iPlessmann opened #679 "SslVerifiier is triggered before Handshake"
When trying to retrieve the peer certificates from the session by specifiying my own SslServerSessionVerifier it fails because this is invoked before the Handshake is fully finished

### Expected behavior

In my SslServerSessionVerifier that is passed to Http.server.withTransport.tls(config: SslServerConfiguration, engineFactory: SslServerEngineFactory,  sessionVerifier: SslServerSessionVerifier)

[2018-02-22 13:13] mosesn commented on #675
@adriancole would changing the name to "finagle-zipkin-scribe" and adding some documentation fit what you're looking for?  It seems like unnecessary work for us to add our own http tracer implementation when zipkin-finagle already has one.

[2018-02-22 13:33] adriancole commented on #675
I still think people will use this because it comes from the authoritative
repo, don't you? How much maintenance are you expecting from the http
variant? Is there a way we can help? We've been trying not to rely too much
on your help for things (I've helped with other things in finagle as you
probably recall)

[2018-02-22 13:38] adriancole commented on #675
PS what you mentioned would be an improvement as breaking the artifact
ID can alert folks they should be looking elsewhere. I do think people
will still use scribe anyway, because of the mild inconvenience of
version skew and different group ID but this could certainly help (and
is trackable via maven central stats)

[2018-02-22 14:28] mosesn commented on #675
OK, so to be clear on what your concern is:

1.  finagle users today default to finagle-zipkin because it sounds like the "right thing".
2.  finagle-zipkin uses the scribe transport, which means that you feel like you should continue supporting scribe, even though it's a burden to maintain it.
3.  you want to stop supporting scribe, but you first want finagle-zipkin to no longer seem like "the rig

[2018-02-22 14:42] adriancole commented on #675
one clarification: if finagle-zipkin could become the right thing (ie
package http transport to let people switch over) this would be ideal.

If there's only one working transport upstream, even if people know it
isn't the right thing, they likely will still use it. However, knowing it
isn't the right thing is an improvement. So yes, if finagle-zipkin must be
scribe, and only scribe, let's somehoe

[2018-02-24 23:46] politrons opened #680 "Missing RCP documentation"
I´m looking forward to use RPC thrift using scrooge plugin and implementation of Finagle, but to be honest, it's impossible to find any updated and official documentation. So I´m start wondering, Are you guys abandon the implementation of RPC and now the project that you guys use is Finatra?.

Regards

[2018-02-25 09:07] politrons opened #681 "Finagle Thrift NoSuchMethodError"
I´m using Finagle thrift but when I build the server and service
[code]

And I run it and I receiving the exception:

[code]

[2018-02-25 11:30] mosesn commented on #680
@politrons where have you looked so far?  We have documentation both for [scrooge][0] and for [finagle][1].  If you've already looked at these, could you elaborate on what you're missing?

[0]: https://twitter.github.io/scrooge/Finagle.html
[1]: https://twitter.github.io/finagle/guide/

[2018-02-25 11:33] mosesn commented on #681
@politrons from the [javadoc][0]:

Sometimes this happens if you're trying to use two libraries that are incompatible.  Make sure you're using the same version of scrooge and finagle, and that you haven't cached anything that you compiled with an older version of finagle.

[0]: https://docs.oracle.com/javase/7/docs/api/java/lang/NoSuchMethodError.html

[2018-02-25 19:28] politrons commented on #680
I think the problem is that you guys have several documentation for older versions of scrooge which are not working anymore with newest finagle versions published.

It's feel like scrooge it´s not part of Finagle project since there's no track of it from the official finagle web page.

Can I use this question to ask you if there´s any implementation of Streaming with Thrift + scrooge?

[2018-02-25 19:28] #680 closed

[2018-02-25 19:29] politrons commented on #681
Yeah it was mixing code from previous version with new one.

[2018-02-25 19:29] #681 closed

[2018-02-25 19:43] mosesn commented on #680
@politrons which documentation is for an older version of scrooge?  the one I linked you to should be current.

We link to scrooge in finagle under the "protocols" section, here: https://twitter.github.io/finagle/guide/Protocols.html?highlight=scrooge.  Please feel free to open a pull request if you have ideas for how we could improve the documentation.

We don't currently have a thrift streaming

[2018-02-25 19:55] politrons commented on #680
I cannot find where I saw the old documentation. Regarding the streaming we´re using gRPC using bidirectional StreamObserver to connect some microservices, but I would love it migrate it to Scala. Unfortunately people from Google does not like Scala :( that´s the reason why I start looking into Thrift

[2018-02-26 12:56] mosesn commented on #680
I'm not a grpc expert, but my understanding is that grpc's thrift is actually sending thrift messages over HTTP/2, speaking a grpc-specific protocol.  We don't support that protocol today, although we might support it in the future.  Thrift in general doesn't support streaming, so I think you may have a difficult time migrating off of grpc without supporting two clients for a little while.

If you

[2018-02-26 13:45] politrons commented on #680
Thanks I´ll keep in mind, and I will see if it's worth it the migration since if all the generate code by gRPC it´s already in Java there's nothing to migrate actually.

[2018-02-26 18:47] mosesn commented on #679
Hmm, interesting.  It looks like it's [intentional][0] that we don't mark the handshake as "finished" here, but clearly you should be able to access the peer certificate so you can validate it.  I'll ask around to try to better understand what the intent here is, I agree that this seems wrong.

[0]: https://github.com/twitter/finagle/blob/559ae4ad3eb6bae4c2f885fb3149b492c6bf46a0/finagle-netty4/src

[2018-02-26 19:50] mosesn commented on #675
@adriancole it looks like in the short term, we can rename finagle-zipkin to finagle-zipkin-scribe, and we'll update our docs to refer to zipkin-finagle.  In the long term we'll migrate off of it and delete finagle-zipkin-scribe.  When that happens, we'll either supply a new transport that's whatever twitter is using internally, or we'll stop exporting our own Tracing facade and will migrate to a

[2018-02-26 20:01] mosesn commented on #679
@iPlessmann from talking to @ryanoneill it sounds like SSLPeerUnverifiedException indicates that the client might not be passing you certificates.  The way to indicate that we hard fail when that happens is to pass a `clientAuth` parameter of `ClientAuth.Needed` in `SslServerConfiguration`.  Can you try that out so we can check whether you're actually passing the certs?  For what it's worth, inter

[2018-02-26 20:57] mosesn commented on #672
@spockz is this something you're still interested in?  It sounds like you want to use braces similarly to how linkerd uses braces.

[2018-02-26 20:58] mosesn commented on #665
We talked about this in #678, but for anyone who's following along at home, this is a work in progress, and is much more work than we thought it would be.

[2018-02-26 20:59] mosesn commented on #654
Thanks @lvc!  I'm going to close this ticket for now, but it's very interesting, and thanks for sharing it.

[2018-02-26 20:59] #654 closed

[2018-02-26 21:00] mosesn commented on #650
Sorry for dropping the ball on this @spockz.  I think exposing an API where we take Certificates directly is worth looking into, I'll talk to @ryanoneill and see what he thinks.

[2018-02-26 21:44] spockz commented on #650
When debugging #679 I noticed there was a way to use .tls() with a SSLContext and a verifier for servers. I need to verify whether that works for us for clients. Also, we are currently using the SSLContext for configuring things like OCSP. Is that still available through the normal Java’s security options or do we need another mechanism?

[2018-02-26 21:48] spockz commented on #672
Yes, I’d like this in but haven’t found a way to do it in a compatible way to LinkerD. We are using the curly braces verbatim whereas in LinkerD they are used to mark something replaceable. Using underscores instead of curly braces means changing many of our other systems. Basically the endpoints including he curly braces are used as ids right now so that would be a pain to change.

@adleong, can

[2018-02-26 21:55] adleong commented on #672
I don't really have anything to suggest.  Some form of encoding or escaping to encode curly braces as other Path legal characters maybe?

I don't want to block development but we picked curly braces to use for this purpose specifically because we knew they were not legal Path characters.

[2018-02-26 22:04] spockz commented on #672
If we could make the parser pluggable we could solve both our issues. We can just eat the curly braces and LinkerD can directly implement the parser instead of relying on parsing to fail. Does this sound feasible?

[2018-02-27 03:41] mosesn commented on #672
I think the tricky thing here is propagation.  If some services respect curlies and some don't, propagating dtabs will be a mess.

@spockz going back to the original thing you were trying to get done, `.newService("/endpoint/host/method/pathTemplate")` looks like a fine format, and doesn't seem to have curlies.  What's the issue you ran into with this? It seems to me like you should be able to use

[2018-02-27 23:04] ryanoneill commented on #650
Regarding taking certificates directly, it's something we investigated, but decided against, at least for now. The issue is not about the certificate, but about the associate private key. Having a Finagle stack param which contains a PrivateKey leads us to too many places where it can be exposed accidentally through logging or admin registry access. We don't have a business case for it internally

[2018-02-28 00:16] adriancole commented on #675
ok and to be clear you are actively disinterested in an out of the box,
even if community contributed finagle-zipkin-http?

I don't think ot has anything to do with this unless you are suggesting
yanking the entire tracing api in finagle, which is overkill for the
transport decision IMHO. Reason is that OT does not have a data structure;
it is a front-end api not an exporter interface like zipkin-

[2018-02-28 18:07] mosesn commented on #675
I think we'd be open to a community contributed finagle-zipkin-http if we had a commitment from the community to help support it, although it seems a bit redundant, given that zipkin-finagle http already exists.  Would you be willing to commit to reviewing PRs that come in for finagle-zipkin-http?  You've been helpful with reviewing other zipkin-related PRs, so I don't think this would be a big sh

[2018-03-01 02:27] adriancole commented on #675
In ideal world I think finagle-zipkin-http doesn't need to exist in, but
practically speaking as people do download things and used what's pack-in,
if a pack-in exists and that's only scribe, I hypothesize people will start
downloading it (we can look at stats later to see how wrong I am :) ).

If there was no pack-in, it would be more clear.. it is just where we are.
Having a pack-in that is http

[2018-03-02 18:41] spockz commented on #650
I’m aware that verifiers work on the client. We currently use them for san/server hostname checking. I was referring to whether we can configure the client with empty configuration, initialise the engine factory with the SSLContext and add a verifier.

The de facto standard in java is to enable OCSP through a -Djavax.security property which exact name eludes me for now. I haven’t gotten around to

[2018-03-06 00:44] YikSanChan opened #682 "[Error] ./sbt "project finagle-http" console"
Following [An introduction to Finagle](https://twitter.github.io/scala_school/finagle.html). I did:
- `git clone git@github.com:twitter/finagle.git`.
- `cd finagle`
- `./sbt "project finagle-http" console`
### Expected behavior
It builds and enter REPL like this `scala>`
### Actual behavior
[code]
### Steps to reproduce the behavior
- `git clone git@github.com:twitter/finagle.git`.
- `cd finagle`

[2018-03-06 01:21] kevinoliver commented on #682
Ah bummer. We should patch scala_school.

Can you try following the instructions at [CONTRIBUTING](https://github.com/twitter/finagle/blob/develop/CONTRIBUTING.md)?

[2018-03-06 01:40] YikSanChan commented on #682
Thank you Kevin, I go into CONTRIBUTING, run `curl -s https://raw.githubusercontent.com/twitter/dodo/develop/bin/build | bash -s -- --no-test finagle` and solve the issue. Now I can import `com.twitter.util.{Await, Future,Promise}`. Thanks a lot!

[2018-03-06 01:40] #682 closed

[2018-03-06 08:33] spockz commented on #672
Whoops. Missed this. Propagation will be a mess regardless of any change. Luckily we have relatively tight control on the used versions.

My apologies, within our idiom pathTemplate is the template just like in swagger. That means that path parameters are encoded as `/mypath/{param}/remainder`.  This is what developers use in their newService, e.g. `.newService(“apis.com:GET:/accounts/{id}/transac

[2018-03-08 22:13] dreverri commented on #562
Is there anything wrong with setting the host header via a filter?

[code]

[2018-03-09 19:13] mosesn commented on #562
@dreverri no, that will work fine.  This issue is specifically for when you want a different host header for different remote peers in the same loadbalancer.

[2018-03-09 19:32] mosesn commented on #672
@spockz how about using scala string interpolation?  we could do something like:

`dtab"apis.com:GET:/accounts/{id}/transactions"`

[2018-03-09 20:04] ryanoneill commented on #650
Apologies for the delay. I'm starting to understand the picture here.

Our plans for supporting JDK9 externally aren't set in stone yet. Internally, it looks like we're moving directly from 8 to a higher version (11?) when it's ready. We've gotten reports both internally and externally and have fixed a [few issues recently](https://github.com/twitter/finagle/commit/1313d9ba77b35da0a9a6fce3599dfc7c

[2018-03-09 21:15] spockz commented on #672
@mosesn interesting. I hadn’t thought of that. Our native java users (far majority) could use something like a `normalise` method. Sounds fair and straightforward.

[2018-03-09 21:55] mosesn commented on #672
@spockz cool!  can you try it out and get back to us?  I'm going to close this ticket for now, but if it doesn't work out, we can reopen it.

[2018-03-09 21:55] #672 closed

[2018-03-09 23:45] adriancole commented on #675
PS sorry I didn't think about this earlier, but... let's indeed hold
off on added http here.

Here's why: now that the artifact ID is changed, you should be getting
maven central stats about it. If the stats don't change from before
the artifact ID change, we could sense the rename isn't helping folks
from resisting the pack-in. We can also cross this with zipkin-finagle
stats. Presuming you have

[2018-03-10 02:06] AlexITC opened #683 "Unable to run finagle-example project"
finagle-example is throwing compilation errors

### Expected behavior

The project should be able to compile.

### Actual behavior

While executing the `sbt "project finagle-example" "run"` command, I'm getting the following errors:
[code]

### Steps to reproduce the behavior
Run this command from the `master` branch:  `sbt "project finagle-example" "run"`.

[2018-03-10 02:16] cacoco commented on #683
@AlexITC thanks for the issue. Looks like a dependency issue has been introduced. We'll take a look.

[2018-03-10 05:57] yaroot commented on #683
`finagle-example` does not depend on guava in sbt build, but in pants BUILD it does. Looks like been broken since the removal of guava from serversets.

[2018-03-12 14:06] legopiraat commented on #679
@mosesn I've just tried the same thing and i've made sure my client certificate is send + i set set my server config to:
[code]

The `session.getPeerCertificateChain` still throws the same error.

[2018-03-12 19:01] smlance commented on #683
A patch is in progress.

[2018-03-12 23:17] smlance commented on #683
This should be fixed with https://github.com/twitter/finagle/commit/6f8adbfe90a6573de98b0653223d4fd0b6c4a4ed.

[2018-03-12 23:19] #683 closed

[2018-03-13 11:26] legopiraat commented on #679
After some extra digging around i managed to get it working.
Turns out there is a some extra server configuration needed.

[code]

With this configuration i was able to retrieve the peerCertificates in the sessionVerifier.

[2018-03-16 17:44] smlance commented on #133
Closing this since we upgraded to libthrift-0.10.0 as of https://github.com/twitter/finagle/commit/61c7a71182866250e53f9731c46f31dde28d464c.

[2018-03-16 17:44] #133 closed

[2018-03-16 17:45] smlance commented on #673
Closing this since we upgraded to libthrift-0.10.0 as of https://github.com/twitter/finagle/commit/61c7a71182866250e53f9731c46f31dde28d464c.

[2018-03-16 17:45] #673 closed

[2018-03-19 17:50] cryptoque commented on #526
@adriancole @mosesn  If no one is working on it, i would like to work on this issue.

[2018-03-20 00:15] adriancole commented on #526
please do!

[2018-03-24 14:58] GEverding opened #684 "Wrong Host in Zookeeper when using Kubernetes"
I'm deploying Finagle ThriftMux with Zookeeper ServerSets inside Kubernetes and pod hostname is being set as the host in Zookeeper instead of the IP of the pod which is what I'm binding to when initing the ThrifMux server.

### Expected behavior
The host I use to bind (ie. 10.x.x.x) should be the host that appears in Zookeeper

### Actual behavior
I bind to 10.x.x.x.x when starting ThriftMux Serve

[2018-03-28 19:35] mosesn commented on #675
Works for me, thanks for following up!

[2018-03-29 18:26] mosesn commented on #526
@cryptoque 👍

[2018-03-29 18:28] mosesn commented on #679
I think this is working as intended, so I'm going to close this for now until we get more information.

[2018-03-29 18:28] #679 closed

[2018-03-29 23:17] #684 closed

[2018-04-01 17:40] cricket007 commented on #673
@smlance @yufangong Is there a particular reason Thrift 0.11.0 wasn't used? Other than perhaps it wasn't released at the time you started the upgrades?

Also, I'm just starting to look at Finagle for an RPC Thrift use case (in Java and using Maven), and I finding it difficult to line up versions between Scrooge, Finagle-thrift, and libthrift. For example, the Scrooge web page says to add version `

[2018-04-01 21:18] mosesn commented on #673
@cricket007 part of it was that it wasn't released when we started, but the bigger piece is that thrift 0.10.0 was stable for a long time, and we don't know what issues 0.11.0 will have.  we figured it made more sense to wait and see for a few months whether they rush to get a patched version before immediately moving to the latest and greatest.

If you go to maven central or the badge in the fina

[2018-04-16 21:07] KyleU opened #686 "Exception reporting for server code filter"
After upgrading Finagle (from an embarrassingly old version), our logging filter no longer receives unhandled exceptions.

### Expected behavior

When an exception is thrown (or a failed Future is returned), our filter used to get the exception in an onFailure handler.

### Actual behavior

Now, the same exceptions are being caught and transformed to a message passed to the onSuccess handler. It s

[2018-04-17 03:56] KyleU commented on #686
@kevinoliver:

for the latter, it sounds like this is thriftmux, if you are using Scrooge to generate your bindings you should be able to use service per endpoint (https://twitter.github.io/scrooge/Finagle.html#serviceperendpoint) and put your filter there.

[2018-04-17 03:56] #686 closed

[2018-04-18 14:14] lelence commented on #674
I have the same problem, when I using code like
`val client: Service[Request, Response] = Http.newService("localhost:8080")
val request = http.Request(http.Method.Get, "/hello_server")`
It's return 400 Bad Request

when I using code like
`val client: Service[Request, Response] = Http.newService("localhost:8080")
val request = RequestBuilder()
.url(new URL("http://localhost:8080/hello_server"))
.bu

[2018-04-21 21:17] spockz commented on #650
Using JDK9 creating our own `SslContextClientEngineFactory` as below does execute and I'm able to connect to our existing http/1.1 servers. (This obviously won't work on JDK8.)

However, pointing the client to `http2.akamai.com` results in "This browser is not HTTP/2 enabled." when using ApplicationProtocols.Unspecified, and "com.twitter.finagle.ConnectionFailedException: null at remote address: h

[2018-04-23 05:39] edio opened #687 "First histogram snapshot is available only next minute, not after latchPeriod"
`MetricsBucketedHistogram.snapshot()` sets `nextSnapshotAfter` to the beginning of the next minute regardles of configured `latchPeriod` and creates empty snapshot on first call.

### Expected behavior

I'd expect it to return snaphost from `current` immediately and set `nextSnapshotAfter` to `Time.now + latchPeriod`.

### Actual behavior

Following code is executed on first call, which makes `Met

[2018-04-23 23:02] adleong opened #688 "Copied libthrift files should be removed from finagle-thrift"
finagle-thrift includes files copied from libthrift that cause assembly merge conflicts.

### Expected behavior

When depending on finagle-thrift 18.4.0 and libthrift 0.10.0, it should be possible to build an assembly jar that is free of file conflicts.  In particular, `finagle-thrift_2.12-18.4.0.jar` should not include any classes in `org/apache/thrift/protocol` which could conflict with classes

[2018-04-24 11:17] mosesn commented on #687
It seems like you have questions about two parts of the behavior:

1.  `latchPeriod` isn't respected, it just uses a minute every time
2.  Why start with an empty snapshot?

1 is clearly a bug, but I think that 2 is expected behavior.  We expect that metrics collection happens periodically, and that this is a latched metric.  If we used a `current` histogram, then you might get a weird result if i

[2018-04-24 15:10] edio commented on #687
I'd happily contribute to finagle what I can, but we need to be on the same page first.

I'd like to discuss this if you don't mind.

I do understand the purpose of the latch, that it lets data to accumulate...
I'd say, that latch basically creates non-overlapping windows for calculating histograms.

One way to look at `snapshot` behavior, is that _calls to snapshot periodically start new windows_

[2018-04-25 02:44] mosesn commented on #687
I see, we used to have a StatsReceiver for that purpose called `ImmediateMetricsStatsReceiver` https://github.com/twitter/finagle/blob/4f47e6b8ae4a14b1ebb4c6cb78bb4ffbe4a7e165/finagle-stats/src/main/scala/com/twitter/finagle/stats/ImmediateMetricsStatsReceiver.scala

We've replaced it with an ImmediateMetricsHistogram, which you can hook up with Metrics.createDetached and MetricsStatsReceiver.  Ho

[2018-04-26 10:13] edio commented on #687
@mosesn thanks for pointing me to that class. I'll try to use it.

Now back to the issue of `latchPeriod` being not respected. Frankly, the more I look at the code, the less I understand it. For example:
* what is the purpose of a "wiggle room" of 1 second? [:82](https://github.com/twitter/finagle/blob/9cc08d15216497bb03a1cafda96b7266cfbbcff1/finagle-stats/src/main/scala/com/twitter/finagle/stats/

[2018-04-27 07:17] kaqqao opened #689 "Retry (a limited number of times) on connection reset"
I unfortunately have a rather old Finagle version (6.35.0) which, at the moment, can not be changed.

I'm trying to set it up as an HTTP client, for a service that has 2 nodes. When a node resets the connection, I want Finagle to retry up to 3 times alternating the nodes.

To make matters infinitely more confusing, I'm doing this in java and pretty much all Finagle docs and examples are in Scala.

[2018-04-27 14:15] kevinoliver commented on #689
Hi @kaqqao,

I think you need to change how you implement `backoffAt`. Check out it's [scaladocs](https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/service/RetryPolicy.scala#L144-L149) for an example of how to break after a certain number of attempts.

[2018-04-30 08:55] kaqqao commented on #689
Hey @kevinoliver ,

You're indeed right! Thanks a bunch for the pointer!
I'm now missing the point of the `SimpleRetryPolicy ` constructor argument, but that's less important.

[2018-04-30 08:55] #689 closed

[2018-04-30 13:46] ksilin commented on #647
+1 is there any progress on the SSL for MySQL issue?

[2018-04-30 15:49] kevinoliver commented on #689
glad that worked out!

it allows the class to be immutable.

in practice, you should always use the no-args constructor, and the 1-arg one should be private to the class.

[2018-05-01 21:28] ryanoneill commented on #647
@ksilin Not as of yet, but I do expect us to add this at some point within the next few months.

[2018-05-02 07:48] yorksen opened #691 "Pass nagative param value to math.exp"
https://github.com/twitter/finagle/blob/db82793dae192e9d1222a680c47ef1128298e970/finagle-core/src/main/scala/com/twitter/finagle/loadbalancer/PeakEwma.scala#L52

In mathematics, the param of ln(n), the n shouldn't be a nagative value.

[2018-05-02 08:38] #691 closed

[2018-05-02 08:38] yorksen commented on #691
my mistake, exp is e^n

[2018-05-03 21:57] spockz commented on #650
@ryanoneill The Netty SslContextBuilder supports passing in [KeyManagerFactory](https://netty.io/4.1/api/io/netty/handler/ssl/SslContextBuilder.html#keyManager-javax.net.ssl.KeyManagerFactory-)s and [TrustManagerFactory](https://netty.io/4.1/api/io/netty/handler/ssl/SslContextBuilder.html#trustManager-javax.net.ssl.TrustManagerFactory-). Would you be willing to accept a merge request which extends

[2018-05-03 22:02] ryanoneill commented on #650
@spockz That seems reasonable to me, especially considering that Netty made modifications to allow those to work with netty-tcnative.

[2018-05-17 11:27] MohsinBXL opened #695 "Finagle Client raised NullPointerException when Loading Client Stats receiver"
I have an issue by running my application on Websphere and starting connecting the service discovery via Finagle transitive libraries

### Expected behavior
Connecting to a service Discovery via Finagle http client through client stats receiver

### Actual behavior

The Web App failed to load because of NullpointerException on Finagle lib dependencies. Regarding the stack trace, It is looking for

[2018-05-22 22:26] adleong commented on #688
Thank you!

[2018-05-31 07:02] vsabella opened #696 "Netty 4.1.23+ breaking changes against Netty 4.1.16 breaks Finagle"
Netty 4.1.23 introduced a breaking change that makes it binary incompatible with Netty 4.1.16.

### Expected behavior

No exceptions when using Finagle inside of an environment with Netty 4.1.23 (such as Play Framework 2.6.13)

### Actual behavior

When establishing a finagle connection, the following exception occurs.

java.lang.NoSuchMethodError: io.netty.channel.AbstractCoalescingBufferQueue.<i

[2018-05-31 07:04] vsabella commented on #696
We recently saw this issue when using Finagle clients with Play Framework 2.6.13 - or any one of our other services that forced an upgrade to Netty 4.1.23 but is calling other Finagle services via finagle-thrift .

I don't mind submitting a patch to Finagle to upgrade to latest Netty, but to avoid similar problems in the future would the group here find it unreasonable to shadow-jar Netty inside o

[2018-06-04 21:38] cacoco commented on #695
@MohsinBXL thanks for the issue, we'll take a look. It looks that perhaps the URLClassloader can return nulls in the array and it isn't being properly handled. We'll take a look, thanks!

[2018-06-11 20:43] samschlegel opened #697 "Duplicated requests based on number of hosts"
We are seeing some strange behaviour where our backends are seeing duplicated requests and proportional to the number of hosts we set when building the client.

### Expected behavior

For `M` hosts, and `N` requests, we would expect to see `N` requests from the backend side, and `1` resolve of the future returned for each call.

### Actual behavior

For `M` hosts, and `N` requests, we set `M*N` re

[2018-06-12 19:57] cacoco commented on #695
Fix merged in Util: https://github.com/twitter/util/commit/3adca94a9e2b21a702aad619902ce5ef2e29de65

[2018-06-12 19:57] #695 closed

[2018-06-13 01:12] rajcspsg opened #698 "Update the finagle com.fasterxml.jackson.core:jackson-core dependency from 2.8.x to 2.9.x"
Looks like finagle 18.5.0 depends on com.fasterxml.jackson-modules 2.8.4 version. Shall we update using these dependencies to 2.9.5?

### Expected behavior com.fasterxml.jackson-modules  version to 2.9.5 without changing any technical functionalities as part of this issue..

Please update

### Actual behavior

The problem is because the our classpath has different dependency which transitively bri

[2018-06-14 23:12] cacoco commented on #698
Finagle is developed internally in a monorepo and thus changing a core dependency like Jackson requires updating the entire internal repository so we tend to do these updates ourselves.

To make this change, we need to update our internal monorepo all at the same time which are not currently ready to do. But please stay tuned.

[2018-06-14 23:31] cacoco commented on #698
If you're OK with it, I'm going to close this issue for now. As we chatted, I would try to add some exclusion rules. Please feel free to re-open or open a new issue if you have problems.

[2018-06-14 23:31] #698 closed

[2018-06-18 14:31] mosesn commented on #697
@samschlegel this is bizarre.  It looks like we're requeueing your request every time.  Your success and failure metrics reflect that everything is succeeding?  Can you try removing the RequeueFilter from the stack and see if you still have this issue?

[2018-06-18 21:30] adleong opened #699 "Unable to verify TLS connection to buoyant.io"
When attempting to establish a TLS connection to buoyant.io, Finagle fails with a validation exception.

### Expected behavior

Finagle should be able to establish TLS connections to buoyant.io.

### Actual behavior

[code]

### Steps to reproduce the behavior

[code]

Full stack trace:

[code]

[2018-06-19 02:09] mosesn commented on #699
@adleong I think this is an issue with your certs, not with finagle.  buoyant.io has let's encrypt certs, which may be too fancy for your JVM.  Check out this stackoverflow page: https://stackoverflow.com/questions/34110426/does-java-support-lets-encrypt-certificates

[2018-06-19 14:01] jdreyesp opened #700 "Netty warning when consuming TLS transport Finagle server with HTTP"
Netty creates a log with level 'warn' when trying to consume a TLS server with HTTP. This can't be disabled and generates a lot of info that can potentially flood application logs in some cases.

### Expected behavior

This should be handled by Finagle since the service is configured using TLS, or at least configurable when creating a Finagle server with TLS transport.

### Actual behavior

When a

[2018-06-19 21:20] adleong commented on #699
Ah, yep, this makes total sense.  Thanks, @mosesn!

[2018-06-19 21:20] #699 closed

[2018-06-20 12:19] mosesn commented on #700
@jdreyesp from the error [NotSslRecordException][0] it smells like curl is sending a non-TLS HTTP message.  Can you try changing your scheme in your curl to be `https://localhost:8080`?

[0]: https://netty.io/4.0/api/io/netty/handler/ssl/NotSslRecordException.html

[2018-06-20 20:36] jdreyesp commented on #700
Hi @mosesn, that's exactly the cause of the issue, if you consume the server through HTTP instead of HTTPS, a big warning log is produced and it cannot be disabled / configured.

I've been investigating and this is managed by ChannelStatsHandler. It seems like by default, it logs everything that is not a IOException/TimeoutException/Failure to WARNING level:

[code]

Is there a way to override the

[2018-06-21 11:10] mosesn commented on #700
@jdreyesp I'm not sure I understand why you want to suppress this warning, which seems useful to me.  You can't consume the server without TLS, so I don't know why your clients are trying so hard to do it.  Can you elaborate on your use case?

[2018-06-21 13:05] jdreyesp commented on #700
Hi @mosesn , thanks again for your response. We work as a framework team and we're making a non backward compatible change, updating this Finagle server from non secure to secure. Since this server is being consumed by polling tools (Prometheus in our case) we're expecting a big amount of calls during this re-configuration period. That's why we want to be able to disable this warning, in order not

[2018-06-21 21:21] mosesn commented on #700
I see.  You could reduce the log level for this specific component until everything migrates over with in your logging configuration (like logback, or jul), but I think the better solution might be to serve traffic for both HTTP and HTTPS, and then cut the HTTP port later.  This may simplify your migration story too, since clients won't need to figure out how to speak TLS immediately.

[2018-06-22 12:38] jdreyesp commented on #700
Hi @mosesn !

This is not only a migration thing, but in general attackers can try to flood server logs with plain HTTP requests (even if the server is using TLS configuration).

This could create performance issues, for example.

Solving this as disabling finagle logging is not a possibility, since it's logged by com.twitter.finagle and disabling this means disabling the whole finagle logger.

Th

[2018-06-22 12:53] mosesn commented on #700
@jdreyesp shouldn't it be logged under `com.twitter.finagle.netty4.channel.ChannelStatsHandler`?  that's the name we create the logger under in ChannelStatsHandler.  https://github.com/twitter/finagle/blob/develop/finagle-netty4/src/main/scala/com/twitter/finagle/netty4/channel/ChannelStatsHandler.scala#L16

[2018-06-22 16:58] Prahathess-Rengasamy-ck opened #701 "Deserialization of Untrusted Data :update com.fasterxml.jackson.core version to the latest stable version"
Deserialization of Untrusted Data :update com.fasterxml.jackson.core version to the latest stable version
Current version :
    com.fasterxml.jackson.core » jackson-core | 2.8.4
    com.fasterxml.jackson.core » jackson-databind | 2.8.4

vulnerable to deserialization of untrusted data it allows unauthenticated remote code execution because of an incomplete fix for the CVE-2017-7525 deserialization

[2018-06-22 19:39] mosesn commented on #701
Thanks @Prahathess-Rengasamy-ck, we'll look into upgrading.  Unfortunately, we can't just upgrade finagle because internally, twitter uses a monorepo, and we'll have to upgrade all at once.  We'll keep you posted in the mean time as we investigate.

[2018-06-25 14:30] zhangandyhui opened #702 "Register Service With ZK in maven"
LoggingFilter accessLog = new LoggingFilter();
        NullToNotFound nullFilter = new NullToNotFound();
        HandleErrors errorsFilter = new HandleErrors();
        Service<Request, Response> service = accessLog
                .andThen(nullFilter)
                .andThen(errorsFilter)
                .andThen(Handlers.handler(demoService));

        listeningServer=Http.server().withLabel("d

[2018-06-27 09:12] jdreyesp commented on #700
Hi @mosesn , that was my first try, but it didn't work. Apparently some class in a higher package level is still throwing this warning.

[2018-07-03 19:52] smlance commented on #702
Hi @zhangandyhui. You might find it helpful to take a look at the [Thrift Client and Server examples](https://github.com/twitter/finagle/tree/develop/finagle-example/src/main/java/com/twitter/finagle/example/java/thrift) in finagle-example.

[2018-07-04 13:46] shakhovv opened #704 "Finagle redis client subscribe command fails in 18.6.0"
We tried use subscribe command with auth in redis and got this error: `NOAUTH Authentication required`.

### Expected behavior

Should work subscribe without errors in finagle-redis with auth

### Actual behavior

My app can't make any subscription and we got this exception in log:
[code]

### Steps to reproduce the behavior

We use this environment:
`finagle-redis: 18.6.0`
`redis: 4.0.9`

Test:
[

[2018-07-06 09:35] jdreyesp commented on #700
@mosesn any updates on this?

Thanks

[2018-07-06 18:23] smlance commented on #704
Hi @shakhovv. Thanks for the ticket. I'm able to reproduce this exception locally with the test you've provided. What's curious is that I don't see the exception in the pubsub integration tests. I'll look into this.

[2018-07-06 23:45] smlance commented on #704
I see this with `Redis 3.2.12` as well as `Redis 4.0.10`.

[2018-07-12 15:16] caplan opened #707 "Allow access to concrete metrics registry"
W'd like to export metrics in arbitrary formats, e.g. for [Prometheus](https://prometheus.io/docs/instrumenting/exposition_formats/). Currently we can only do this by parsing and transforming the output of `JsonExporter`, or by setting up a new `StatsReceiver` and duplicating all of the functionality of `Metrics`.

### Expected behavior

Either make `Metrics` and `MetricsView` public, or provide a

[2018-07-15 19:01] caplan commented on #707
The `Metrics` singleton *is* public, so I can use that - sorry for the noise.

[2018-07-15 19:01] #707 closed

[2018-07-18 13:16] Alterrien opened #708 "Make SPNEGO requests through Finagle client"
Hi,

I'm currently trying to issue HTTP requests authenticated to an endpoint secured by Kerberos and SPNEGO. I've seen a fair share of servers implementing this protocol using Finatra/Finagle, but none for requests.
Is this use case supported, and if so, how can I do it ?
Cheers !

[2018-07-18 21:58] dschobel commented on #708
There's an example of configuring client-side SPNEGO in [finagle's test suite
](https://github.com/twitter/finagle/blob/develop/finagle-http/src/test/scala/com/twitter/finagle/http/SpnegoAuthenticatorTest.scala#L165)

Please let me know if that doesn't answer your question.

[2018-07-19 09:23] Alterrien commented on #708
Hi, I managed to get the code to sort of work (minus kerberos setup on my machine, but that's not Finagle scope). It was my first time being exposed to SPNEGO, so the documentation, specifically what was to fill in as loginContext for the JAASClientSource, was not enough to allow me to use it out of the box. I guess that's more related to knowledge of the SPNEGO protocol and JAAS.

Anyway, thanks

[2018-07-19 14:47] dschobel commented on #708
@Alterrien agreed it could use more / better docs. I think we have an internal ticket for more docs already but if not I'll file one. Thanks for the feedback.

[2018-07-19 14:47] #708 closed

[2018-07-24 03:51] komsit37 opened #712 "finagle-mysql client produces "Elevated metric creation requests" lint issue"
Using transaction in finagle-mysql would produce "Elevated metric creation requests" lint error in the following rule in `com.twitter.finagle.stats.MetricsStatsReceiver`. This seems to affect performance?
[code]

### Expected behavior
no lint issue

### Actual behavior
calling `transaction` more than 30,000 times would produce lint issue

### Steps to reproduce the behavior
running below test
[cod

[2018-07-24 03:55] komsit37 commented on #712
seems calling `transact` would create new client repeatedly, which requests new `CursorStats` metrics every time
https://github.com/twitter/finagle/blob/develop/finagle-mysql/src/main/scala/com/twitter/finagle/mysql/Client.scala#L319

[2018-07-25 19:53] roanta commented on #712
Hi @komsit37! Thanks for the detailed report and repro.

It seems to me that reasonable solution would be to move the creation of those stats inside the `cursor` method (specifically, as part of the `CursoredStatement` object). Would you be interested in providing a patch for this?

[2018-08-08 09:16] moleike opened #713 "finagle-mysql: value type not supported for SUM() aggregated column"
Client throws UnsupportedTypeException when decoding the result of a `SUM()` aggregation.

### Expected behavior

An integer value per row with the aggregation.

### Actual behavior

Get an exception telling me that the returned value is a `RawValue`:

[code]

### Steps to reproduce the behavior
Contrived example:

[code]

If there anything else I can provide please let me know, thanks!

[2018-08-08 23:58] kevinoliver commented on #713
Looks like MySQL is returning the aggregate as a new decimal. It should work if you switch to using `Row.bigDecimalOrNull` from `longOrZero`.

[2018-08-09 03:05] moleike commented on #713
indeed, thanks!

[2018-08-09 03:05] #713 closed

[2018-08-13 16:12] kevinoliver commented on #639
I believe this is now possible.

[2018-08-13 16:12] #639 closed

[2018-08-13 16:14] kevinoliver commented on #620
The implementations here have changed quite a bit since this ticket was filed.

[2018-08-13 16:14] #620 closed

[2018-08-13 16:17] kevinoliver commented on #190
As noted [above](https://github.com/twitter/finagle/issues/190#issuecomment-345471631), this was fixed [back in 2014](https://github.com/twitter/finagle/commit/4258d70f60c956e6c6f361f84d84ef1a6e2b38dc).

[2018-08-13 16:17] #190 closed

[2018-08-13 16:26] kevinoliver commented on #700
@jdreyesp did you find out if another location is also logging this message? I only see it happening from this [logger](https://github.com/twitter/finagle/blob/develop/finagle-netty4/src/main/scala/com/twitter/finagle/netty4/channel/ChannelStatsHandler.scala#L16).

One possible gotcha is that the classname for objects has a trailing dollar sign — "com.twitter.finagle.netty4.channel.ChannelStatsHan